<div
    bsModal
    #createOrEditModalFramePlanA1="bs-modal"
    class="modal fade col-md-12"
    role="dialog"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{ 'Edit FramePlanA1' }}</h3>
                    <h3 *ngIf="!rowdata.id">{{ 'Create New FramePlanA1' }}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form
                #applyBpForm="ngForm"
                (ngSubmit)="save()"
                autocomplete="off"
                (keyup.ESC)="close()"
            >
                <!-- Form Basic-->
                <div class="form-input">
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">No</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="No"
                            [(ngModel)]="rowdata.no"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Model</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Model"
                            [(ngModel)]="rowdata.model"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Lot No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="LotNo"
                            [(ngModel)]="rowdata.lotNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">No In Lot</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="NoInLot"
                            [(ngModel)]="rowdata.noInLot"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Body No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="BodyNo"
                            [(ngModel)]="rowdata.bodyNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Color</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Color"
                            [(ngModel)]="rowdata.color"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Vin No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="VinNo"
                            [(ngModel)]="rowdata.vinNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Frame Id</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="FrameId"
                            [(ngModel)]="rowdata.frameId"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Status</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Status"
                            [(ngModel)]="rowdata.status"
                        />
                    </div>
                    <!-- <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Plan Month</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="PlanMonth"
                            [(ngModel)]="rowdata.planMonth"
                        />
                    </div> -->
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Plan Month</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="planMonth"
                            #datepickerplanMonth="bsDatepicker"
                            [(ngModel)]="rowdata.planMonth"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            minMode="month"
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickerplanMonth.toggle()"
                        ></i>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Plan Date</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="planDate"
                            #datepickerplanDate="bsDatepicker"
                            [(ngModel)]="_planDate"
                            bsDatepicker   [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',       }"
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickerplanDate.toggle()"
                        ></i>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Grade</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Grade"
                            [(ngModel)]="rowdata.grade"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Version</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Version"
                            [(ngModel)]="rowdata.version"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Is Active</label>
                        <new-checkbox [(ngModel)]="_isActive" name="isActive" className="col-md-10"> </new-checkbox>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
