<div bsModal #viewModalAInPlan="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('View A In Plan')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" autocomplete="off" (keyup.ESC)="close()">
            <!-- Form Basic-->
			<div class="row">
				<div class="col col-md-6">
					<div class="form-input">
						<div class='col-md-12 form-group row'>
							<label class='col-md-2 form-control title'>Model</label>
							<input type='text' readonly class='col-md-10 form-control input-text' name='Model' [(ngModel)]='rowdata.model'>
						</div>
						<div class='col-md-12 form-group row'>
							<label class='col-md-2 form-control title'>Lot No</label>
							<input type='text' readonly class='col-md-10 form-control input-text' name='LotNo' [(ngModel)]='rowdata.lotNo'>
						</div>
						<div class='col-md-12 form-group row'>
							<label class='col-md-2 form-control title'>No In Lot</label>
							<input type='number' readonly class='col-md-10 form-control input-text' name='NoInLot' [(ngModel)]='rowdata.noInLot'>
						</div>
						<div class='col-md-12 form-group row'>
							<label class='col-md-2 form-control title'>Grade</label>
							<input type='text' readonly class='col-md-10 form-control input-text' name='Grade' [(ngModel)]='rowdata.grade'>
						</div>
						<div class='col-md-12 form-group row'>
							<label class='col-md-2 form-control title'>Body No</label>
							<input type='text' readonly class='col-md-10 form-control input-text' name='BodyNo' [(ngModel)]='rowdata.bodyNo'>
						</div>
						<div class='col-md-12 form-group row'>
							<label class='col-md-2 form-control title'>Color</label>
							<input type='text' readonly class='col-md-10 form-control input-text' name='Color' [(ngModel)]='rowdata.color'>
						</div>
						<div class='col-md-12 form-group row'>
							<label class='col-md-2 form-control title'>A In Date Actual</label>
							<input type='text' readonly class='col-md-10 form-control input-text' name='aInDateActual' [(ngModel)]='rowdata.formatAInDateActual' >
						</div>
						<div class='col-md-12 form-group row'>
							<label class='col-md-2 form-control title'>A Out Date Actual</label>
							<input type='text' readonly class='col-md-10 form-control input-text' name='aOutDateActual' [(ngModel)]='rowdata.formatAOutDateActual' >
						</div>
						<div class='col-md-12 form-group row'>
							<label class='col-md-2 form-control title'>A In Plan Datetime</label>
							<input type='text' readonly class='col-md-10 form-control input-text' name='aInPlanDatetime' [(ngModel)]='_aInPlanDatetime' >
						</div>
						<div class='col-md-12 form-group row'>
							<label class='col-md-2 form-control title'>A Out Plan Datetime</label>
							<input type='text' readonly class='col-md-10 form-control input-text' name='aOutPlanDatetime' [(ngModel)]='_aOutPlanDatetime' >
						</div>
						<div class='col-md-12 form-group row'>
							<label class='col-md-2 form-control title'>Sequence No</label>
							<input type='text' readonly class='col-md-10 form-control input-text' name='SequenceNo' [(ngModel)]='rowdata.sequenceNo'>
						</div>
						<div class='col-md-12 form-group row'>
							<label class='col-md-2 form-control title'>Vehicle Id</label>
							<input type='number' readonly class='col-md-10 form-control input-text' name='VehicleId' [(ngModel)]='rowdata.vehicleId'>
						</div>
						<div class='col-md-12 form-group row'>
							<label class='col-md-2 form-control title'>Is Start</label>
							<input type='number' readonly class='col-md-10 form-control input-text' name='IsStart' [(ngModel)]='rowdata.isStart'>
						</div>
						<div class='col-md-12 form-group row'>
							<label class='col-md-2 form-control title'>Cfc</label>
							<input type='text' readonly class='col-md-10 form-control input-text' name='Cfc' [(ngModel)]='rowdata.cfc'>
						</div>
						<div class='col-md-12 form-group row'>
							<label class='col-md-2 form-control title'>Vin No</label>
							<input type='text' readonly class='col-md-10 form-control input-text' name='VinNo' [(ngModel)]='rowdata.vinNo'>
						</div>
                        <div class='col-md-12 form-group row'>
                            <label class='col-md-2 form-control title'>Engine Id</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='EngineId' [(ngModel)]='rowdata.engineId'>
                        </div>
                        <div class='col-md-12 form-group row'>
                            <label class='col-md-2 form-control title'>Trans Id</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='TransId' [(ngModel)]='rowdata.transId'>
                        </div>
                        <div class='col-md-12 form-group row'>
                            <label class='col-md-2 form-control title'>Sales Sfx</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='SalesSfx' [(ngModel)]='rowdata.salesSfx'>
                        </div>
					</div>
				</div>
				<div class="col col-md-6">
					<div class="form-input">
                        <div class='col-md-12 form-group row'>
                            <label class='col-md-2 form-control title'>Color Type</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='ColorType' [(ngModel)]='rowdata.colorType'>
                        </div>
                        <div class='col-md-12 form-group row'>
                            <label class='col-md-2 form-control title'>Indent Line</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='IndentLine' [(ngModel)]='rowdata.indentLine'>
                        </div>
					    <div class='col-md-12 form-group row'>
						    <label class='col-md-2 form-control title'>Ss No</label>
						    <input type='text' readonly class='col-md-10 form-control input-text' name='SsNo' [(ngModel)]='rowdata.ssNo'>
					    </div>
					    <div class='col-md-12 form-group row'>
						    <label class='col-md-2 form-control title'>Ed Number</label>
						    <input type='text' readonly class='col-md-10 form-control input-text' name='EdNumber' [(ngModel)]='rowdata.edNumber'>
					    </div>
					    <div class='col-md-12 form-group row'>
						    <label class='col-md-2 form-control title'>Goshi Car</label>
						    <input type='text' readonly class='col-md-10 form-control input-text' [(ngModel)]='rowdata.goshiCar' name='GoshiCar'>
					    </div>
					    <div class='col-md-12 form-group row'>
						    <label class='col-md-2 form-control title'>Lineoff Datetime</label>
						    <input type='text' readonly class='col-md-10 form-control input-text' name='lineoffDatetime' [(ngModel)]='_lineoffDatetime' >
					    </div>
					    <div class='col-md-12 form-group row'>
						    <label class='col-md-2 form-control title'>Lineoff Date</label>
						    <input type='text' readonly class='col-md-10 form-control input-text' name='lineoffDate' [(ngModel)]='_lineoffDate' >
					    </div>
					    <div class='col-md-12 form-group row'>
						    <label class='col-md-2 form-control title'>Lineoff Time</label>
						    <input type='text' readonly class='col-md-10 form-control input-text' name='lineoffTime'  [(ngModel)]='rowdata.lineoffTime'>
					    </div>
					    <div class='col-md-12 form-group row'>
						    <label class='col-md-2 form-control title'>Pdi Datetime</label>
						    <input type='text' readonly class='col-md-10 form-control input-text' name='pdiDatetime' [(ngModel)]='_pdiDatetime' >
					    </div>
					    <div class='col-md-12 form-group row'>
						    <label class='col-md-2 form-control title'>Pdi Date</label>
						    <input type='text' readonly class='col-md-10 form-control input-text' name='pdiDate' [(ngModel)]='_pdiDate' >
					    </div>
					    <div class='col-md-12 form-group row'>
						    <label class='col-md-2 form-control title'>Pdi Time</label>
						    <input type='text' readonly class='col-md-10 form-control input-text' name='pdiTime'  [(ngModel)]='rowdata.pdiTime' >
					    </div>
                        <div class='col-md-12 form-group row'>
						    <label class='col-md-2 form-control title'>PIO Actual Datetime</label>
						    <input type='text' readonly class='col-md-10 form-control input-text' name='pioActualDatetime' [(ngModel)]='_pioActualDatetime' >
					    </div>
					    <div class='col-md-12 form-group row'>
						    <label class='col-md-2 form-control title'>PIO Actual Date</label>
						    <input type='text' readonly class='col-md-10 form-control input-text' name='pioActualDate' [(ngModel)]='_pioActualDate' >
					    </div>
					    <div class='col-md-12 form-group row'>
						    <label class='col-md-2 form-control title'>PIO Actual Time</label>
						    <input type='text' readonly class='col-md-10 form-control input-text' name='pioActualTime' [(ngModel)]='rowdata.formatPIOActualTime' >
					    </div>
                        <div class='col-md-12 form-group row'>
						    <label class='col-md-2 form-control title'>Sales Actual Datetime</label>
						    <input type='text' readonly class='col-md-10 form-control input-text' name='salesActualDatetime' [(ngModel)]='_salesActualDatetime' >
					    </div>
					    <div class='col-md-12 form-group row'>
						    <label class='col-md-2 form-control title'>Sales Actual Date</label>
						    <input type='text' readonly class='col-md-10 form-control input-text' name='salesActualDate' [(ngModel)]='_salesActualDate' >
					    </div>
					    <div class='col-md-12 form-group row'>
						    <label class='col-md-2 form-control title'>Sales Actual Time</label>
						    <input type='text' readonly class='col-md-10 form-control input-text' name='salesActualTime' [(ngModel)]='rowdata.formatSalesActualTime' >
					    </div>
					    <div class='col-md-12 form-group row'>
						    <label class='col-md-2 form-control title'>Assembly Id</label>
						    <input type='text' readonly class='col-md-10 form-control input-text' name='AssemblyId' [(ngModel)]='rowdata.assemblyId'>
					    </div>
				    </div>
				</div>
			</div>
				<div class="modal-footer">
					<button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
						<i class="fa tmss-fa fa-times mr-1"></i>
						{{ l('Cancel') }}
					</button>
				</div>
            </form>
        </div>
    </div>
</div>
