<div bsModal #createOrEditModalGpsSupplierOrderTime="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit MstInvGpsSupplierOrderTime')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New MstInvGpsSupplierOrderTime')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Supplier Id</label>
						<input type='number' class='col-md-10 form-control input-text' name='SupplierId' [(ngModel)]='_supplierId' disabled>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Order Seq</label>
						<input type='number' class='col-md-10 form-control input-text' name='OrderSeq' [(ngModel)]='rowdata.orderSeq'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Order Type</label>
						<new-checkbox [(ngModel)]='_orderType' name='orderType' className='col-md-10' > </new-checkbox>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Order Time</label>
						<input
                            type="time"
                            class="col-md-10 form-control input-text"
                            name="orderTime"
                            [(ngModel)]="rowdata.orderTime"
                        />
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Receiving Day</label>
						<input type='number' class='col-md-10 form-control input-text' name='ReceivingDay' [(ngModel)]='rowdata.receivingDay'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Receive Time</label>
						<input
                            type="time"
                            class="col-md-10 form-control input-text"
                            name="receiveTime"
                            [(ngModel)]="rowdata.receiveTime"
                        />
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Keihen Time</label>
						<input
                            type="time"
                            class="col-md-10 form-control input-text"
                            name="keihenTime"
                            [(ngModel)]="rowdata.keihenTime"
                        />
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Keihen Day</label>
						<input type='number' class='col-md-10 form-control input-text' name='KeihenDay' [(ngModel)]='rowdata.keihenDay'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Is Active</label>
						<new-checkbox [(ngModel)]='_isActive' name='isActive' className='col-md-10' > </new-checkbox>
					</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
