<div bsModal #createOrEditModalGpsSupplierInfo="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit GpsSupplierInfo')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New GpsSupplierInfo')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Supplier Code</label>
						<input type='text' class='col-md-10 form-control input-text' name='SupplierCode' [(ngModel)]='rowdata.supplierCode'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Supplier Plant Code</label>
						<new-checkbox [(ngModel)]='_supplierPlantCode' name='supplierPlantCode' className='col-md-10' > </new-checkbox>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Supplier Name</label>
						<input type='text' class='col-md-10 form-control input-text' name='SupplierName' [(ngModel)]='rowdata.supplierName'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Address</label>
						<input type='text' class='col-md-10 form-control input-text' name='Address' [(ngModel)]='rowdata.address'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Dock X</label>
						<input type='text' class='col-md-10 form-control input-text' name='DockX' [(ngModel)]='rowdata.dockX'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Dock X Address</label>
						<input type='text' class='col-md-10 form-control input-text' name='DockXAddress' [(ngModel)]='rowdata.dockXAddress'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Delivery Method</label>
						<input type='text' class='col-md-10 form-control input-text' name='DeliveryMethod' [(ngModel)]='rowdata.deliveryMethod'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Delivery Frequency</label>
						<input type='text' class='col-md-10 form-control input-text' name='DeliveryFrequency' [(ngModel)]='rowdata.deliveryFrequency'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Cd</label>
						<input type='text' class='col-md-10 form-control input-text' name='Cd' [(ngModel)]='rowdata.cd'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Order Date Type</label>
						<input type='text' class='col-md-10 form-control input-text' name='OrderDateType' [(ngModel)]='rowdata.orderDateType'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Keihen Type</label>
						<input type='text' class='col-md-10 form-control input-text' name='KeihenType' [(ngModel)]='rowdata.keihenType'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Stk Concept Tmv Min</label>
						<input type='text' class='col-md-10 form-control input-text' name='stkConceptTmvMin' [(ngModel)]='rowdata.stkConceptTmvMin'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Stk Concept Tmv Max</label>
						<input type='text' class='col-md-10 form-control input-text' name='stkConceptTmvMax' [(ngModel)]='rowdata.stkConceptTmvMax'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Stk Concept Sup PMax</label>
						<input type='text' class='col-md-10 form-control input-text' name='stkConceptSupPMax' [(ngModel)]='rowdata.stkConceptSupPMax'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Stk Concept Sup PMin</label>
						<input type='text' class='col-md-10 form-control input-text' name='stkConceptSupPMin' [(ngModel)]='rowdata.stkConceptSupPMin'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Stk Concept Sup MMax</label>
						<input type='text' class='col-md-10 form-control input-text' name='stkConceptSupMMax' [(ngModel)]='rowdata.stkConceptSupMMax'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Stk Concept Sup MMin</label>
						<input type='text' class='col-md-10 form-control input-text' name='stkConceptSupMMin' [(ngModel)]='rowdata.stkConceptSupMMin'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Tmv Product Percentage</label>
						<input type='number' class='col-md-10 form-control input-text' name='TmvProductPercentage' [(ngModel)]='rowdata.tmvProductPercentage'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Pic Main Id</label>
						<input type='number' class='col-md-10 form-control input-text' name='PicMainId' [(ngModel)]='rowdata.picMainId'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Production Shift</label>
						<input type='text' class='col-md-10 form-control input-text' name='ProductionShift' [(ngModel)]='rowdata.productionShift'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Tc From</label>
						<input type='text' class='col-md-10 form-control input-text' name='tcFrom'
						#datepicker='bsDatepicker' [(ngModel)]='_tcFrom'  bsDatepicker [bsConfig]="{dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',    }">
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Tc To</label>
						<input type='text' class='col-md-10 form-control input-text' name='tcTo'
						#datepicker2='bsDatepicker' [(ngModel)]='_tcTo'  bsDatepicker [bsConfig]="{dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }">
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Order Trip</label>
						<input type='number' class='col-md-10 form-control input-text' name='OrderTrip' [(ngModel)]='rowdata.orderTrip'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Supplier Name En</label>
						<input type='text' class='col-md-10 form-control input-text' name='SupplierNameEn' [(ngModel)]='rowdata.supplierNameEn'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="min-width: 180px;" class='col-md-2 form-control title'>Is Active</label>
						<new-checkbox [(ngModel)]='_isActive' name='isActive' className='col-md-10' > </new-checkbox>
					</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
