<div bsModal #viewModalFuelType="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('View Fuel Type')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" autocomplete="off" (keyup.ESC)="close()">
                <!-- Form Basic-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-input padding-right-10">
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Code</label>
                                <input readonly type='text' class='col-md-10 form-control input-text'
                                    name='FuelTypeCode' [(ngModel)]='rowdata.code'>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Name</label>
                                <input readonly type='text' class='col-md-10 form-control input-text'
                                    name='FuelTypeName' [(ngModel)]='rowdata.name'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                        <i class="fa tmss-fa fa-times mr-1"></i>
                        {{ l('Cancel') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
