<div
    bsModal
    #createOrEditModalPickingTabletSetup="bs-modal"
    class="modal fade col-md-12"
    role="dialog"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{ 'Edit PickingTabletSetup' }}</h3>
                    <h3 *ngIf="!rowdata.id">{{ 'Create New PickingTabletSetup' }}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.ESC)="close()">
                <!-- Form Basic-->
                <div class="form-input">
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Picking Tablet Id</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="PickingTabletId"
                            [(ngModel)]="rowdata.pickingTabletId"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Picking Position</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="PickingPosition"
                            [(ngModel)]="rowdata.pickingPosition"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Process</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Process"
                            [(ngModel)]="rowdata.process"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Picking Cycle</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="PickingCycle"
                            [(ngModel)]="rowdata.pickingCycle"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Logic Sequence</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="LogicSequence"
                            [(ngModel)]="rowdata.logicSequence"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Is Lot Supply</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="IsLotSupply"
                            [(ngModel)]="rowdata.isLotSupply"
                        />
                    </div>

                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Has Model</label>
                        <new-checkbox [(ngModel)]="_hasModel" name="hasModel" className="col-md-10"> </new-checkbox>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Is Active</label>
                        <new-checkbox [(ngModel)]="_isActive" name="isActive" className="col-md-10"> </new-checkbox>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
