<div class="time_now_log left" ></div>
<div class="PTA">
    <div class="PTA_bg"></div>
    <span class="log"></span>
    <div class="PTA_Left">
        <div class="devancontent">
            <div class="cont nobox">
                <div class="item lager Title_bg">
                    <div class="cont_bg"></div>
                    <div class="TITLE TitleLine">{{Line}}</div>
                </div>
                <div class="item bigxxl">
                    <span class="TitleLotUP">LOT <br />
                        U/P</span>
                </div>
                <div class="item normal">
                    <span class="TitleOT">OT (min):
                        <div class="clear"></div>
                        <span class="val"></span>
                        </span>
                </div>
            </div>
        </div>
    </div>
    <div class="PTA_Content">
        <div class="WARP">
            <div class="content tack">
                <div class="devancontent">
                    <div class="devan current">
                        <div class="cont">
                            <div class="countdown_lot"></div>
                            <div class="item lager Title_bg">
                                <div class="cont_bg"></div>
                                <span class="TITLE titCurrent">CURRENT</span>
                            </div>
                            <div class="item big bodyno noborder-bot">
                                <div class="TMP">TMP</div>
                                <span class="BODY_NO"></span>
                            </div>
                            <div class="item lager bodyno noborder-top">
                                <div class="UNPACK_LOT" ></div>
                                <div class="TOTAL_LOT" ></div>
                                <span class="QTY"></span>
                            </div>
                        </div>
                    </div>
                    <div class="devan next">
                        <div class="cont">
                            <div class="countdown_lot"></div>
                            <div class="item lager Title_bg">
                                <div class="cont_bg"></div>
                                <span class="TITLE titNext">NEXT</span>
                            </div>
                            <div class="item big bodyno noborder-bot">
                                <div class="TMP">TMP</div>
                                <span class="BODY_NO"></span>
                            </div>
                            <div class="item lager bodyno noborder-top">
                                <div class="UNPACK_LOT" ></div>
                                <div class="TOTAL_LOT" ></div>
                                <span class="QTY"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="devancontent progressbar">
                    <div class="devan current">
                        <div class="cont ChangeTip">
                            <div class="cont_bg"></div>
                            <div class="item normal">

                                    <!-- bar -->
                                    <div class="barprocess"></div>
                                    <div class="COUNTDOWN_SECOND"></div>

                            </div>
                        </div>
                    </div>
                    <div class="devan next">
                        <div class="cont TackProcess">
                            <div class="cont_bg"></div>
                            <div class="item normal">

                                    <!-- bar -->
                                    <div class="barprocess"></div>
                                    <div class="COUNTDOWN_SECOND"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
