<div id="container" class="mt-2" [busyIf]="isLoading">
    <div class="ui-g-12">
        <fieldset class="fieldset-border grid-parent">
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <h6 class="card-header">
                        {{ l(' Spp Shipping ') }}
                    </h6>
                </div>
                <div class="prod-cont">
                    <div class="ui-g-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <div class="input-search">
                                    <input
                                        [(ngModel)]="partNo" name="partNo"
                                        class="form-control" [placeholder]="l('PartNo')"
                                        type="text" (keyup.enter)="searchDatas()" />
                                </div>
                                <div class="input-search">
                                    <input
                                        [(ngModel)]="invoiceNo" name="invoiceNo"
                                        class="form-control" [placeholder]="l('Invoice No')"
                                        type="text" (keyup.enter)="searchDatas()" />
                                </div>
                                <div class="input-search">
                                    <input
                                        [(ngModel)]="customerNo" name="customerNo"
                                        class="form-control" [placeholder]="l('Customer No')"
                                        type="text" (keyup.enter)="searchDatas()" />
                                </div>
                                <div class="input-search">
                                    <input
                                        [(ngModel)]="customerOrderNo" name="customerOrderNo"
                                        class="form-control" [placeholder]="l('Customer Order No')"
                                        type="text" (keyup.enter)="searchDatas()" />
                                </div>
                                <!-- <div class="input-search">
                                    <input type="text" placeholder="From" [(ngModel)]="fromMonthYear"
                                        name="fromMonthYear" class="form-control" bsDatepicker #wf="bsDatepicker"
                                        placement="bottom left"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }" />
                                    <i class="fa fa-calendar-alt" (click)="wf.toggle()"></i>
                                </div>
                                <div class="input-search">
                                    <input type="text" placeholder="To" [(ngModel)]="toMonthYear"
                                        name="toMonthYear" class="form-control" bsDatepicker #wt="bsDatepicker"
                                        placement="bottom left"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }" />
                                    <i class="fa fa-calendar-alt" (click)="wt.toggle()"></i>
                                </div> -->
                                <div class='input-search'>
                                    <input
                                        type="text"
                                        placeholder='From Month Year'
                                        [(ngModel)]="fromMonthYear"
                                        name="fromMonthYear"
                                        (key.enter)="searchDatas()"
                                        class="form-control"
                                        bsDatepicker
                                        #f="bsDatepicker" minMode="month"
                                        [bsConfig]="{ dateInputFormat: 'MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',  }"
                                        placement="bottom left"
                                    />
                                    <i class="fa fa-calendar-alt" (click)="f.toggle()"></i>
								</div>
                                <div class='input-search'>
                                    <input
                                        type="text"
                                        placeholder='To Month Year'
                                        [(ngModel)]="toMonthYear"
                                        name="toMonthYear"
                                        (key.enter)="searchDatas()"
                                        class="form-control"
                                        bsDatepicker
                                        #t="bsDatepicker" minMode="month"
                                        [bsConfig]="{ dateInputFormat: 'MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',  }"
                                        placement="bottom left"
                                    />
                                    <i class="fa fa-calendar-alt" (click)="t.toggle()"></i>
								</div>
                                

                                <div class='input-search'>
                                    <tmss-combobox [items]="stockList" name="Stock" [placeholder]="l('Stock')"
                                        [(ngModel)]="stock"></tmss-combobox>
                                </div>
                                <div class='input-search'>
                                    <tmss-combobox [items]="moneyType" name="moneyType" [placeholder]="l('Monney Type')"
                                        [(ngModel)]="money"></tmss-combobox>
                                </div>

                                <div class="input-search" style="width: 250px !important;">
                                    <div class="multi-select-dropdown" style="width: 100%">
                                        <p-multiSelect [style]="{'width': '100%','height': '25px',  'align-items': 'center'}" [placeholder]="l('Report Type')"
                                            [ngClass]="'multi-select-control'" [options]="reportTypeList" [ngModelOptions]="{standalone: true}"
                                            (ngModelChange)="onChangeDlrSelect($event)" [ngModel]="repoty">
                                        </p-multiSelect>
                                    </div>
                                </div>

                                <div class="btn-search">
                                    <button (click)="searchDatas()" class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="btn-search">
                                    <button (click)="clearTextSearch()" class="btn btn-primary">
                                        <i class="fas fa-backspace"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                            <div class="panel panel-default pt-1">
                                <grid-table [columnDefs]="defaultColDefs" [paginationParams]="paginationParams"
                                    [rowData]="rowData" [defaultColDef]="defaultColDef"
                                    (callBackEvent)="callBackDataGrid($event)"
                                    (changePaginationParams)="changePage($event)"
                                    [rowSelection]="rowSelection"
                                    [frameworkComponents]="frameworkComponents"
                                    [sideBar]="sideBar"
                                    [pivotMode]="false">
                                </grid-table>
                            </div>
                        <hr>
                        <div class="panelBtn    text-right">
                            <button class="btn font-weight-bold sumary-prod" (focus)="prodSumaryOption()"
                                (blur)="lostForcus()">
                                <!-- <i class="fas fa-file-excel mr-1"></i> -->
                                <img src="/assets/common/images/Icon/vscode-icons_file-type-excel2.png" alt="">
                                {{ l('Summary')}}
                                <div class="exel-dropdown">
                                    <ul>
                                        <li (click)="showExportPopup($event, 0)"><a class><i
                                                    class="fa fa-cloud-download"></i>Cost Of Sale</a></li>
                                        <li (click)="showExportPopup($event, 1)"><a class><i
                                                        class="fa fa-cloud-download"></i>Cost Of Sale Summary</a></li>
                                        <li (click)="showExportPopup($event, 2)"><a class><i
                                                        class="fa fa-cloud-download"></i>GL Transaction</a></li>

                                    </ul>
                                </div>
                                <i class="fa fa-caret-up" aria-hidden="true"></i>


                            </button>

                    
                            <button class="btn btn-success font-weight-bold" (click)="exportToExcel($event)">
                                <i class="fas fa-file-excel mr-1"></i>{{ l('Export Excel') }}
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>


<excel-summary-modal #excelSummaryModal></excel-summary-modal>
