<div class="PTA">
    <div class="PTA_Content">
        <div class="WARP"  >

            <div class="HEADER">
                <div class="val">
                    <div class="txt txt1"></div>
                    <div class="txt txt2">{{HearderTitle}}</div>
                </div>
            </div>

            <div class="PROGRESS_BAR">
                <div class="process_panel_box">
                    <div class="process_panel process_number">Eff</div>
                    <div class="process_panel process_name">Trip</div>
                </div>
                <div class="process_panel process_content">
                    <div class="process_warp" > </div>
                    <div class="process_run">
                        <div class="process_no NO_{{item}} " *ngFor="let item of  this.fn.fornumbers_next(TotalCycle,1)">
                            <div class="val">{{item}}</div>
                        </div>
                    </div>
                    <div class="process_val"></div>
                </div>
            </div>

            <div class="ECAR_CONTENT">
                <div class="EFF">
                    <div class="val"></div>
                </div>
                <div class="ECAR_CONTENT_WARP">
                    <div class="ecar_for {{item.ecarName.replace(' ','')}}" *ngFor="let item of ecars; let i =index">
                        <div class="ecar_item ECAR_{{item.ecarId}}">

                                <div class="ecar_panel_box">
                                    <div class="ecar_panel ECAR_NAME"><div class="val">{{item.ecarName}}</div></div>
                                    <div class="ecar_panel ECAR_NUMBER">
                                        <div class="ecar_process_name {{_process.processName}}" *ngFor="let _process  of ecarProcess(item.ecarId)"> <div class="val">{{_process.processName}}</div> </div>
                                    </div>
                                </div>
                                <div class="ecar_panel ECAR_DELIVERY">
                                    <div class="ecar_process {{item.ecarName.replace(' ','')}} {{_process.processName}}" *ngFor="let _process  of ecarProcess(item.ecarId)">
                                        <div class="ecar_process_bg"> </div>
                                        <div class="ecar_process_task">
                                            <div class="ecar_process_no NO_{{item}} " *ngFor="let item of  this.fn.fornumbers_next(TotalCycle,1)">
                                                <div class="val"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="controlMessage">
        <span class="time_now_log"></span>
    </div>
    <div class="POPUP_PAUSE">
            <div class="PAUSE">PAUSE</div>
    </div>
</div>
<div class="clear"></div>
