<div bsModal #createOrEditModalInvGpsKanban="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit InvGpsKanban')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New InvGpsKanban')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->   
                <div class="form-input">                   
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Content List Id</label>
						<input type='number' class='col-md-10 form-control input-text' name='ContentListId' [(ngModel)]='rowdata.contentListId'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Back No</label>
						<input type='text' class='col-md-10 form-control input-text' name='BackNo' [(ngModel)]='rowdata.backNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Part No</label>
						<input type='text' class='col-md-10 form-control input-text' name='PartNo' [(ngModel)]='rowdata.partNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Color Sfx</label>
						<input type='text' class='col-md-10 form-control input-text' name='ColorSfx' [(ngModel)]='rowdata.colorSfx'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Part Name</label>
						<input type='text' class='col-md-10 form-control input-text' name='PartName' [(ngModel)]='rowdata.partName'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Box Size</label>
						<input type='number' class='col-md-10 form-control input-text' name='BoxSize' [(ngModel)]='rowdata.boxSize'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Box Qty</label>
						<input type='number' class='col-md-10 form-control input-text' name='BoxQty' [(ngModel)]='rowdata.boxQty'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Pc Address</label>
						<input type='text' class='col-md-10 form-control input-text' name='PcAddress' [(ngModel)]='rowdata.pcAddress'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Wh Sps Picking</label>
						<input type='text' class='col-md-10 form-control input-text' name='WhSpsPicking' [(ngModel)]='rowdata.whSpsPicking'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Actual Box Qty</label>
						<input type='number' class='col-md-10 form-control input-text' name='ActualBoxQty' [(ngModel)]='rowdata.actualBoxQty'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Renban No</label>
						<input type='number' class='col-md-10 form-control input-text' name='RenbanNo' [(ngModel)]='rowdata.renbanNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>No In Renban</label>
						<input type='number' class='col-md-10 form-control input-text' name='NoInRenban' [(ngModel)]='rowdata.noInRenban'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Packaging Type</label>
						<input type='text' class='col-md-10 form-control input-text' name='PackagingType' [(ngModel)]='rowdata.packagingType'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Actual Box Size</label>
						<input type='number' class='col-md-10 form-control input-text' name='ActualBoxSize' [(ngModel)]='rowdata.actualBoxSize'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Generated By</label>
						<input type='text' class='col-md-10 form-control input-text' name='GeneratedBy' [(ngModel)]='rowdata.generatedBy'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Status</label>
						<input type='text' class='col-md-10 form-control input-text' name='Status' [(ngModel)]='rowdata.status'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Is Active</label>
						<new-checkbox [(ngModel)]='_isActive' name='isActive' className='col-md-10' > </new-checkbox>
					</div>              
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>    
            </form>
        </div>
    </div>
</div>
