<div class="EKP_PRG">
  <div class="HEADER">
    <div class="takttime"></div>
    <div class="title"><span>{{title_ekb}}</span></div>
  </div>
  <div class="BODY">
    <div class="CONTENT PK_{{c}}" *ngFor="let c of fornumbersRange(1, countData, 1)">
      <div class="cycletime">
        <div class="title_cycletime"><span>Cycle Time</span></div>
        <div class="number_cycletime">
          <div class="cyctime" *ngFor="let i of fornumbersRange(1, totalCycle, 1)">{{i}}</div>
        </div>
      </div>
      <div class="pick">
        <div class="left_pick">
          <div class="left">
            <div class="top">Eff</div>
            <div class="bot"></div>
          </div>
          <div class="right"></div>
        </div>
        <div class="right_pick">
          <div class="process_no NO_{{item}} " *ngFor="let item of  fornumbersRange(1, totalCycle, 1)">
            <!-- <div class="val">{{item}}</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="controlMessage">
    <span class="time_now_log"></span>
  </div>
  <div class="POPUP_PAUSE">
    <div class="PAUSE">PAUSE</div>
  </div>
</div>
<div class="clear"></div>