<div id="container" class="mt-2" [busyIf]="isLoading">
    <div class="ui-g-12">
        <fieldset class="fieldset-border grid-parent">
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <h6 class="card-header">
                        {{ l(' CPS Linkage Purchase Order') }}
                    </h6>
                </div>
                <div class="prod-cont">
                    <div class="ui-g-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <div class='input-search'>
                                    <input [(ngModel)]='poNumber' name='poNumber' class='form-control'
                                        [placeholder]="l('Po Number')" type='text' (keyup.enter)='searchDatas()'>
                                </div>

                                <div class="input-search">
                                    <tmss-combobox [items]="inventoryGroupList" [text]="l('InventoryGroup')"
                                        type='number' [(ngModel)]="inventoryGroup"></tmss-combobox>
                                </div>

                                <div class="input-search">
                                    <tmss-combobox [items]="supplierList" [text]="l('Supplier')" [type]="'number'"
                                        [(ngModel)]="supplierNumber"></tmss-combobox>
                                </div>
                                <div class="input-search">
                                    <input type="text" placeholder="From Date" [(ngModel)]="pOCreationFromDate"
                                        name="toDate" (keydown)="searchDatas()" class="form-control" bsDatepicker
                                        #wf="bsDatepicker" placement="bottom left"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }" />
                                    <i class="fa fa-calendar-alt" (click)="wf.toggle()"></i>
                                </div>
                                <div class="input-search">
                                    <input type="text" placeholder="To Date" [(ngModel)]="pOCreationToDate"
                                        name="workingDateTo" (keydown)="searchDatas()" class="form-control" bsDatepicker
                                        #wt="bsDatepicker" placement="bottom left"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }" />
                                    <i class="fa fa-calendar-alt" (click)="wt.toggle()"></i>
                                </div>
                                <div class='input-search'>
                                    <input [(ngModel)]='partNo' name='deliveryMethod' class='form-control'
                                        [placeholder]="l('Part No')" type='text' (keyup.enter)='searchDatas()'>
                                </div>
                                <div class='input-search'>
                                    <input [(ngModel)]='partName' name='itemDescription' class='form-control'
                                        [placeholder]="l('Part Name')" type='text'>
                                </div>

                                <div class="btn-search">
                                    <button (click)="searchDatas()" class="btn
                                        btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="btn-search">
                                    <button (click)="clearTextSearch()" class="btn btn-primary">
                                        <i class="fas fa-backspace"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <!-- <form autocomplete="on"> -->
                        <div class="panel panel-default pt-1">
                            <div class="ui-g-12">
                                <h4 class="card-header card-grid-table">
                                    {{ l(' Purchase Order Headers ') }}
                                </h4>
                            </div>
                            <grid-table
                                [columnDefs]="defaultColDefs"
                                [paginationParams]="paginationParams"
                                [showPagination]="true"
                                [rowData]="rowData"
                                [defaultColDef]="defaultColDef"
                                (callBackEvent)="callBackDataGrid($event)"
                                (changePaginationParams)="changePage($event)"
                                (onChangeSelection)="onChangeRowSelection($event)"
                                [frameworkComponents]="frameworkComponents">
                            </grid-table>
                        </div>
                        <div class="panelBtn text-right"></div>
                        <div class="panelBtn text-right">
                            <button class="btn btn-success font-weight-bold " (click)="exportToExcel($event)">
                                <i class="fas fa-file-excel mr-1"></i>{{ l('Export Excel') }}
                            </button>
                        </div>
                        <div class="ui-g-12 ph-0">
                            <div class="ui-g-12">
                                <h4 class="card-header card-grid-table">
                                    {{ l(' Purchase Order Lines ') }}
                                </h4>
                            </div>
                            <grid-table
                                [columnDefs]="poLineColDefs"
                                [paginationParams]="paginationParamsPoLines"
                                [showPagination]="true"
                                [rowData]="rowDataPoLines"
                                [defaultColDef]="defaultColDef"
                                [frameworkComponents]="frameworkComponents"
                                (callBackEvent)="callBackDataGridPoLines($event)"
                                (changePaginationParams)="changePagePoLines($event)">
                            </grid-table>

                            <!-- [heightAuto]="false"
                                      [height]="'35vh'" -->

                        </div>
                        <hr>
                        <div class="panelBtn text-right">

                            <button class="btn btn-success font-weight-bold " (click)="exportToExcelPoLine($event)">
                                <i class="fas fa-file-excel mr-1"></i>{{ l('Export Excel') }}
                            </button>

                        </div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
