<div
    bsModal
    #createOrEditModalPatternD="bs-modal"
    class="modal fade col-md-12"
    role="dialog"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{ 'Edit PatternD' }}</h3>
                    <h3 *ngIf="!rowdata.id">{{ 'Create New PatternD' }}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.ESC)="close()">
                <!-- Form Basic-->
                <div class="form-input">
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Pattern H Id</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="PatternHId"
                            [(ngModel)]="rowdata.patternHId"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Shift No</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="ShiftNo"
                            [(ngModel)]="rowdata.shiftNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Start time</label>
                        <input
                            type="time"
                            class="col-md-10 form-control input-text"
                            name="startTime"
                            [(ngModel)]="rowdata.startTime"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">End time</label>
                        <input
                            type="time"
                            class="col-md-10 form-control input-text"
                            name="endTime"
                            [(ngModel)]="rowdata.endTime"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Shift Name</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="ShiftName"
                            [(ngModel)]="rowdata.shiftName"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Day Of Week</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="DayOfWeek"
                            [(ngModel)]="rowdata.dayOfWeek"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Season Type</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="SeasonType"
                            [(ngModel)]="rowdata.seasonType"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Is Active</label>
                        <new-checkbox [(ngModel)]="_isActive" name="isActive" className="col-md-10"> </new-checkbox>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
