<div id="container" class="mt-2" [busyIf]="isLoading">
    <div class="ui-g-12">
        <fieldset class="fieldset-border grid-parent">
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <h6 class="card-header">
                        {{ l(' Inventory PIO Topsse Invoice ') }}
                    </h6>
                </div>
                <div class="prod-cont">
                    <div class="ui-g-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <div class="input-search">
                                    <input
                                        [(ngModel)]="invoiceNo" name="invoiceNo"
                                        class="form-control" [placeholder]="l('Invoice No')"
                                        type="text" (keyup.enter)="searchDatas()" />
                                </div>
                                <div class='input-search'>
									<input
                                        [(ngModel)]="invoiceDate" name="invoiceDate"
                                        class="form-control" [placeholder]="l('Invoice Date')"
                                        type="text" (keyup.enter)="searchDatas()"
									    bsDatepicker #i="bsDatepicker"
                                        [bsConfig]="{dateInputFormat: 'DD/MM/YYYY',isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right'}"
                                        placement="bottom left">
									<i class="fa fa-calendar-alt" (click)="i.toggle()"></i>
								</div>
                                <div class="input-search">
                                    <input
                                        [(ngModel)]="orderNo" name="orderNo"
                                        class="form-control" [placeholder]="l('Order No')"
                                        type="text" (keyup.enter)="searchDatas()" />
                                </div>
                                <div class="input-search">
                                    <input
                                        [(ngModel)]="partNo" name="partNo"
                                        class="form-control" [placeholder]="l('Part No')"
                                        type="text" (keyup.enter)="searchDatas()" />
                                </div>
                                <div class='input-search' >
                                    <tmss-combobox
                                        [items]="statusList"
                                        name="status"
                                        [(ngModel)]="status"
                                        [text]="l('Status')"
                                    ></tmss-combobox>
                                </div>
                                <div class="btn-search">
                                    <button (click)="searchDatas()" class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="btn-search">
                                    <button (click)="clearTextSearch()" class="btn btn-primary">
                                        <i class="fas fa-backspace"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="panel panel-default pt-1">
                            <div class="ui-g-12">
                                <h4 class="card-header card-grid-table">
                                    {{ l ( ' Topsse Invoice ' )}}
                                </h4>
                            </div>
                            <grid-table
                                [columnDefs]="colDefs"
                                [paginationParams]="paginationParams"
                                [showPagination]="true"
                                [rowData]="rowData"
                                [defaultColDef]="defaultColDef"
                                (callBackEvent)="callBackDataGrid($event)"
                                (changePaginationParams)="changePage($event)"
                                (onChangeSelection)="onChangeRowSelection($event)"
                                [frameworkComponents]="frameworkComponents">
                            </grid-table>

                        </div>
                        <hr>
                        <div class="panelBtn text-right">
                            <button
                                *ngIf="isGranted('Pages.PIO.Master.TopsseInvoice.Receive')"
                                class="btn btn-primary font-weight-bold"
                                [disabled]="!isReceive ?? true"
                                (click)="receiveTopsse()">
                                <i class="fa-solid fa-cloud-arrow-down"></i>{{ l('Receive') }}
                            </button>
                            <button
                                class="btn btn-success font-weight-bold "
                                (click)="exportToExcel($event)">
                                <i class="fas fa-file-excel mr-1"></i>{{ l('Export Excel') }}
                            </button>
                        </div>
                        <div class="ui-g-12 ph-0">
                            <div class="ui-g-12">
                                <h4 class="card-header card-grid-table">
                                    {{ l ( ' Topsse Invoice Details ' )}}
                                </h4>
                            </div>
                            <grid-table
                                [columnDefs]="detailsColDefs"
                                [paginationParams]="paginationParamsDetails"
                                [showPagination]="true"
                                [rowData]="rowDataDetails"
                                [defaultColDef]="defaultColDef"
                                [frameworkComponents]="frameworkComponents"
                                (changePaginationParams)="changePageDetails($event)">
                            </grid-table>
                        </div>
                        <hr>
                        <div class="panelBtn text-right">
                            <button
                                class="btn btn-success font-weight-bold"
                                (click)="exportToExcelDetails($event)">
                                <i class="fas fa-file-excel mr-1"></i>{{ l('Export Excel') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<receive-topsseinvoice #receiveTopsseInvoice></receive-topsseinvoice>
