<div bsModal #createOrEditModalVehicleDetails="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('View Inventory Ckd Stock Issuing Detail')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" autocomplete="off" (keyup.ESC)="close()">
            <!-- Form Basic-->
			<div class="row">
				<div class="col col-md-6">
					<div class="form-input">
                        <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>Part No</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='PartNo' [(ngModel)]='rowdata.partNo'>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>Supplier No</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='SupplierNo' [(ngModel)]='rowdata.supplierNo'>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>Cfc</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='Cfc' [(ngModel)]='rowdata.cfc'>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>Lot No</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='LotNo' [(ngModel)]='rowdata.lotNo'>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>No In Lot</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='No In Lot' [(ngModel)]='rowdata.noInLot'>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>Vin No</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='VinNo' [(ngModel)]='rowdata.vinNo'>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>BodyNo</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='BodyNo' [(ngModel)]='rowdata.bodyNo'>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>Color</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='Color' [(ngModel)]='rowdata.color'>
                        </div>
                        <!-- <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>Is Active</label>
                            <new-checkbox [(ngModel)]='_isActive' disabled="true" name='isActive' className='col-md-10' > </new-checkbox>
                        </div> -->
                        <!-- <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>Part List Id</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='PartListId' [(ngModel)]='rowdata.partListId'>
                        </div>
						 <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>Part List Grade Id</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='PartListGradeId' [(ngModel)]='rowdata.partListGradeId'>

                        </div> -->
		            </div>
		        </div>
			    <div class="col col-md-6">
			        <div class="form-input">
                        <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>Part No Normalized</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='PartNoNormalized' [(ngModel)]='rowdata.partNoNormalized'>

                        </div>
                        <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>Part Name</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='PartName' [(ngModel)]='rowdata.partName'>
                        </div>
						  <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>Part No Normalized S4</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='PartNoNormalizedS4' [(ngModel)]='rowdata.partNoNormalizedS4'>

                        </div>
                        <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>Color Sfx</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='ColorSfx' [(ngModel)]='rowdata.colorSfx'>

                        </div>
				        <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>Material Id</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='MaterialId' [(ngModel)]='rowdata.materialId'>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>Qty</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='Qty' [(ngModel)]='rowdata.qty'>
                        </div>
                        <div class='col-md-12 form-group row'>
                            <label class='col-md-2 form-control title'>Transaction Datetime</label>
                            <input type='text' readonly class='col-md-10 form-control input-text'
                                name='transactionDatetime' [(ngModel)]='rowdata.transactionDatetime_DDMMYYYY'>
                        </div>
                        <!-- <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>Reference Id</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='ReferenceId' [(ngModel)]='rowdata.referenceId'>
                        </div> -->
                        <div class='col-md-12 form-group row'>
                            <label class='col-md-2 form-control title'>Working Date</label>
                            <input type='text' class='col-md-10 form-control
                                input-text' name='workingDate' readonly
                                [(ngModel)]='_workingDate' >
                        </div>
					    <!-- <div class="col-md-4 form-group">
                            <label class='col-md-2 form-control title'>PeriodId</label>
                            <input type='text'  readonly  class='col-md-2 form-control input-text' name='PeriodId' [(ngModel)]='rowdata.periodId'>
                        </div> -->


				    </div>
				</div>
			</div>
				<div class="modal-footer">
					<button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
						<i class="fa tmss-fa fa-times mr-1"></i>
						{{ l('Cancel') }}
					</button>
				</div>
            </form>
        </div>
    </div>
</div>
