<div bsModal #createOrEditVehicleDetails="bs-modal" class="modal fade col-md-12" role="dialog"
    [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('View Lot Code Grade Detail')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (keyup.ESC)="close()">
                <!-- Form Basic-->
                <div class="form-input">
                    <div class='col-md-12 form-group row'>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>No</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='No'
                                [(ngModel)]='rowdata.no'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>BodyNo</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='bodyNo'
                                [(ngModel)]='rowdata.bodyNo'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>LotNo</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='lotNo'
                                [(ngModel)]='rowdata.lotNo'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>NoInLot</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='noInLot'
                                [(ngModel)]='rowdata.noInLot'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>SequenceNo</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='sequenceNo'
                                [(ngModel)]='rowdata.sequenceNo'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>KeyNo</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='keyNo'
                                [(ngModel)]='rowdata.keyNo'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>Vin</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='vin'
                                [(ngModel)]='rowdata.vin'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>Eng</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='eng'
                                [(ngModel)]='rowdata.eng'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>Trs</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='trs'
                                [(ngModel)]='rowdata.trs'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>Ecu</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='ecu'
                                [(ngModel)]='rowdata.ecu'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>WInDateActual</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='wInDateActual'
                                [(ngModel)]='rowdata.wInDateActual'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>TInPlanDatetime</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='tInPlanDatetime'
                                [(ngModel)]='rowdata.tInPlanDatetime'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>PaintInTime</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='paintInTime'
                                [(ngModel)]='rowdata.paintInTime'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>AInDateActual</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='aInDateActual'
                                [(ngModel)]='rowdata.aInDateActual'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>InsOutDateActual</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='insOutDateActual'
                                [(ngModel)]='rowdata.insOutDateActual'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>InsLineOutVp4DateActual</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='insLineOutVp4DateActual'
                                [(ngModel)]='rowdata.insLineOutVp4DateActual'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>DriverAirBag</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='driverAirBag'
                                [(ngModel)]='rowdata.driverAirBag'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>PassengerAirBag</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='passengerAirBag'
                                [(ngModel)]='rowdata.passengerAirBag'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>SideAirBagLh</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='sideAirBagLh'
                                [(ngModel)]='rowdata.sideAirBagLh'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>SideAirBagRh</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='sideAirBagRh'
                                [(ngModel)]='rowdata.sideAirBagRh'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>KneeAirBagLh</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='kneeAirBagLh'
                                [(ngModel)]='rowdata.kneeAirBagLh'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>CurtainSideAirBagLh</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='curtainSideAirBagLh'
                                [(ngModel)]='rowdata.curtainSideAirBagLh'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>CurtainSideAirBagRh</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='curtainSideAirBagRh'
                                [(ngModel)]='rowdata.curtainSideAirBagRh'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>TotalDelay</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='totalDelay'
                                [(ngModel)]='rowdata.totalDelay'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>ShippingTime</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='shippingTime'
                                [(ngModel)]='rowdata.shippingTime'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>VehicleId</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='vehicleId'
                                [(ngModel)]='rowdata.vehicleId'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>TestNo</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='testNo'
                                [(ngModel)]='rowdata.testNo'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>IsPrintedQrcode</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='isPrintedQrcode'
                                [(ngModel)]='rowdata.isPrintedQrcode'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>PrintedQrcodeDate</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='printedQrcodeDate'
                                [(ngModel)]='rowdata.printedQrcodeDate'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>UpdatedDate</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='updatedDate'
                                [(ngModel)]='rowdata.updatedDate'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>IsProject</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='isProject'
                                [(ngModel)]='rowdata.isProject'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>Cfc</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='cfc'
                                [(ngModel)]='rowdata.cfc'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>VinNo</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='vinNo'
                                [(ngModel)]='rowdata.vinNo'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>EngineId</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='engineId'
                                [(ngModel)]='rowdata.engineId'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>TransId</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='transId'
                                [(ngModel)]='rowdata.transId'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>SalesSfx</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='salesSfx'
                                [(ngModel)]='rowdata.salesSfx'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>ColorType</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='colorType'
                                [(ngModel)]='rowdata.colorType'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>IndentLine</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='indentLine'
                                [(ngModel)]='rowdata.indentLine'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>SsNo</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='ssNo'
                                [(ngModel)]='rowdata.ssNo'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>EdNumber</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='edNumber'
                                [(ngModel)]='rowdata.edNumber'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>GoshiCar</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='goshiCar'
                                [(ngModel)]='rowdata.goshiCar'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>LineoffDatetime</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='lineoffDatetime'
                                [(ngModel)]='rowdata.lineoffDatetime'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>LineoffDate</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='lineoffDate'
                                [(ngModel)]='rowdata.lineoffDate'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>LineoffTime</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='lineoffTime'
                                [(ngModel)]='rowdata.lineoffTime'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>PdiDatetime</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='pdiDatetime'
                                [(ngModel)]='rowdata.pdiDatetime'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>PdiDate</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='pdiDate'
                                [(ngModel)]='rowdata.pdiDate'>
                        </div>

                        <div class='col-md-6 form-group row'>
                            <label class='col-md-2 form-control title'>PdiTime</label>
                            <input type='text' readonly class='col-md-10 form-control input-text' name='pdiTime'
                                [(ngModel)]='rowdata.pdiTime'>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <!-- <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button> -->
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
