<div bsModal #createOrEditVehicleDetails="bs-modal" class="modal fade col-md-12" role="dialog"
    [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                    <h3 *ngIf="rowdata.id">{{('View Assembly Andon Vehicle Details')}}</h3>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (keyup.ESC)="close()">
                <!-- Form Basic-->
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-input">
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-4 form-control title'>No</label>
                                <input type='text' readonly class='col-md-8 form-control input-text' name='No'
                                    [(ngModel)]='rowdata.no'>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Cfc</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='cfc' [(ngModel)]='rowdata.cfc'>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Body No</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='bodyNo' [(ngModel)]='rowdata.bodyNo'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Lot No</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='lotNo' [(ngModel)]='rowdata.lotNo'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>No In Lot</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='noInLot' [(ngModel)]='rowdata.noInLot'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Sequence No</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='sequenceNo' [(ngModel)]='rowdata.sequenceNo'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Key No</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='keyNo' [(ngModel)]='rowdata.keyNo'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Vin</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='vin' [(ngModel)]='rowdata.vin'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Color</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='color' [(ngModel)]='rowdata.color'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Eng</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='eng' [(ngModel)]='rowdata.eng'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Trs</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='trs' [(ngModel)]='rowdata.trs'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Ecu</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='ecu' [(ngModel)]='rowdata.ecu'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>WIn Date Actual</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='wInDateActual' [(ngModel)]='_wInDateActual'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>T In Plan Datetime</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='tInPlanDatetime' [(ngModel)]='_tInPlanDatetime'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Paint In Time</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='paintInTime' [(ngModel)]='rowdata.paintInTime'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>A In Date Actual</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='aInDateActual' [(ngModel)]='_aInDateActual'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Ins Out Date Actual</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='insOutDateActual' [(ngModel)]='_insOutDateActual'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Vp4 Date Actual</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='insLineOutVp4DateActual' [(ngModel)]='_insLineOutVp4DateActual'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Driver Air Bag</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='driverAirBag' [(ngModel)]='rowdata.driverAirBag'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Passenger Air Bag</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='passengerAirBag' [(ngModel)]='rowdata.passengerAirBag'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Side Air Bag Lh</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='sideAirBagLh' [(ngModel)]='rowdata.sideAirBagLh'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Side Air BagRh</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='sideAirBagRh' [(ngModel)]='rowdata.sideAirBagRh'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Knee Air Bag Lh</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='kneeAirBagLh' [(ngModel)]='rowdata.kneeAirBagLh'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Curtain Side Air Bag Lh</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='curtainSideAirBagLh' [(ngModel)]='rowdata.curtainSideAirBagLh'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Curtain Side Air Bag Rh</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='curtainSideAirBagRh' [(ngModel)]='rowdata.curtainSideAirBagRh'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Sales Actual Datetime</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='salesActualDatetime' [(ngModel)]='_salesActualDatetime'>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-input" style="padding: 9.75px;">
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Sales Actual Date</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='salesActualDate' [(ngModel)]='_salesActualDate'>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Sales Actual Time</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='salesActualTime' [(ngModel)]='_salesActualTime'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Total Delay</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='totalDelay' [(ngModel)]='rowdata.totalDelay'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Shipping Time</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='shippingTime' [(ngModel)]='_shippingTime'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Vehicle Id</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='vehicleId' [(ngModel)]='rowdata.vehicleId'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Test No</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='testNo' [(ngModel)]='rowdata.testNo'>
                            </div>

                            <!-- <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Is Printed Qrcode</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='isPrintedQrcode' [(ngModel)]='rowdata.isPrintedQrcode'>
                            </div> -->

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Printed Qrcode Date</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='printedQrcodeDate' [(ngModel)]='_printedQrcodeDate'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Updated Date</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='updatedDate' [(ngModel)]='_updatedDate'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Is Project</label>
                                <new-checkbox [(ngModel)]="_isProject" name="isProject"
                                className="col-md-10" disabled="true">
                                </new-checkbox>
                            </div>



                            <!-- <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Vin No</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='vinNo' [(ngModel)]='rowdata.vinNo'>
                            </div> -->

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Engine Id</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='engineId' [(ngModel)]='rowdata.engineId'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Trans Id</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='transId' [(ngModel)]='rowdata.transId'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Sales Sfx</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='salesSfx' [(ngModel)]='rowdata.salesSfx'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Color Type</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='colorType' [(ngModel)]='rowdata.colorType'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Indent Line</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='indentLine' [(ngModel)]='rowdata.indentLine'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Ss No</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='ssNo' [(ngModel)]='rowdata.ssNo'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Ed Number</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='edNumber' [(ngModel)]='rowdata.edNumber'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Goshi Car</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='goshiCar' [(ngModel)]='rowdata.goshiCar'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Lineoff Datetime</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='lineoffDatetime' [(ngModel)]='_lineoffDatetime'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Lineoff Date</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='lineoffDate' [(ngModel)]='_lineoffDate'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Lineoff Time</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='lineoffTime' [(ngModel)]='rowdata.lineoffTime'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Pdi Datetime</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='pdiDatetime' [(ngModel)]='_pdiDatetime'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Pdi Date</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='pdiDate' [(ngModel)]='_pdiDate'>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Pdi Time</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='pdiTime' [(ngModel)]='rowdata.pdiTime'>
                            </div>


                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>PIO Actual Datetime</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='pioActualDatetime' [(ngModel)]='_pioActualDatetime'>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>PIO Actual Date</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='pioActualDate' [(ngModel)]='_pioActualDate'>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>PIO Actual Time</label>
                                <input type='text' readonly class='col-md-10 form-control input-text'
                                    name='pioActualTime' [(ngModel)]='_pioActualTime'>
                            </div>


                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                        <i class="fa tmss-fa fa-times mr-1"></i>
                        {{ l('Cancel') }}
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
