<div bsModal #createOrEditModalProductionPlan="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit ProductionPlan')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New ProductionPlan')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>PlanSequence</label>
						<input
                            type='number'
                            class='col-md-10 form-control input-text'
                            name='PlanSequence' [(ngModel)]='rowdata.planSequence'
                        >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Shop</label>
						<input
                            type='text'
                            class='col-md-10 form-control input-text'
                            name='Shop' [(ngModel)]='rowdata.shop'
                        >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Model</label>
						<new-checkbox [(ngModel)]='_model' name='model' className='col-md-10' > </new-checkbox>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Lot No</label>
						<input
                            type='text'
                            class='col-md-10 form-control input-text'
                            name='LotNo' [(ngModel)]='rowdata.lotNo'
                        >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>No In Lot</label>
						<input
                            type='text'
                            class='col-md-10 form-control input-text'
                            name='NoInLot' [(ngModel)]='rowdata.noInLot'
                        >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Grade</label>
						<input type='text' class='col-md-10 form-control input-text'
                            name='Grade' [(ngModel)]='rowdata.grade'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Body</label>
						<input type='text' class='col-md-10 form-control input-text'
                            name='Body' [(ngModel)]='rowdata.body'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Date In</label>
						<input type='text' class='col-md-10 form-control input-text' name='dateIn'  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
						#datepicker='bsDatepicker' [(ngModel)]='_dateIn'  bsDatepicker >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Time In</label>
						<input type='time' class='col-md-10 form-control input-text' name='timeIn'
						    [(ngModel)]='rowdata.timeIn' >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Date Time In</label>
						<input type='text' class='col-md-10 form-control input-text' name='dateTimeIn'  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
						#dateTimeIn='bsDatepicker' [(ngModel)]='_dateTimeIn'  bsDatepicker >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Supplier No</label>
						<input
                            type='text'
                            class='col-md-10 form-control input-text'
                            name='SupplierNo' [(ngModel)]='rowdata.supplierNo'
                        >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Use Lot No</label>
						<input
                            type='text'
                            class='col-md-10 form-control input-text'
                            name='UseLotNo' [(ngModel)]='rowdata.useLotNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Supplier No 2</label>
						<input
                            type='text'
                            class='col-md-10 form-control input-text'
                            name='SupplierNo2' [(ngModel)]='rowdata.supplierNo2'
                        >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Use Lot No 2</label>
						<input
                            type='text'
                            class='col-md-10 form-control input-text'
                            name='UseLotNo2' [(ngModel)]='rowdata.useLotNo2'
                        >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Use No In Lot</label>
						<input
                            type='text'
                            class='col-md-10 form-control input-text'
                            name='UseNoInLot' [(ngModel)]='rowdata.useNoInLot'
                        >
					</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
