<div id="container" class="mt-2" [busyIf]="isLoading">
    <div class="ui-g-12">
        <fieldset class="fieldset-border grid-parent">
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <h6 class="card-header">
                         {{ l(' DRM Stock Rundown ') }}
                    </h6>
                </div>
                <div class="prod-cont">
                    <div class="ui-g-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
								<div class='input-search'>
									<input [(ngModel)]='materialCode' name='materialCode'
									class='form-control' [placeholder]="l('Material Code')"
									type='text' (keyup.enter)='searchDatas()'>
								</div>
                                <div class='input-search'>
									<input [(ngModel)]='materialSpec' name='materialSpec'
									class='form-control' [placeholder]="l('Material Spec')"
									type='text' (keyup.enter)='searchDatas()'>
								</div>
                                <div class="btn-search">
                                    <button (click)="searchDatas()"
                                        class="btn btn-primary" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="btn-search">
                                    <button (click)="clearTextSearch()"
                                        class="btn btn-primary" type="submit">
                                        <i class="fas fa-backspace"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <!-- <form autocomplete="on">  NGHIÊM CẤM THÊM FROM VÀO GRID-->
                        <div class="panel panel-default pt-1">
                            <simple-ag-grid
                                [columnDefs]="defaultColDefs"
                                [paginationParams]="paginationParams"
                                [rowData]="rowData"
                                [defaultColDef]="defaultColDef"
                                (callBackEvent)="callBackDataGrid($event)"
                                (changePaginationParams)="changePage($event)"
                                (onChangeSelection)="onChangeRowSelection($event)"
                                [rowSelection]="rowSelection"
								[frameworkComponents]="frameworkComponents"
                            >
                            </simple-ag-grid>
                        </div>
                        <!-- <form autocomplete="on">  NGHIÊM CẤM THÊM FROM VÀO GRID-->
                        <hr>
                        <div class="text-right">
                            <button *ngIf="isGranted('Pages.DMIHP.Rundow.StockRundown.Calculator')"
                            class="btn btn-success font-weight-bold position-relative" (click)="calculatorRundown()">
                                <i class="fa fa-calculator" aria-hidden="true"></i>{{ l('Calculator Rundown') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

