<div
    bsModal
    #createOrEditModalContModule="bs-modal"
    class="modal fade col-md-12"
    role="dialog"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{ 'Edit ContModule' }}</h3>
                    <h3 *ngIf="!rowdata.id">{{ 'Create New ContModule' }}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form
                #applyBpForm="ngForm"
                (ngSubmit)="save()"
                autocomplete="off"
                (keyup.ESC)="close()"
            >
                <!-- Form Basic-->
                <div class="form-input">
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Invoice No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="InvoiceNo"
                            [(ngModel)]="rowdata.invoiceNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Supplier No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="SupplierNo"
                            [(ngModel)]="rowdata.supplierNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Container No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="ContainerNo"
                            [(ngModel)]="rowdata.containerNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Renban</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Renban"
                            [(ngModel)]="rowdata.renban"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Lot No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="LotNo"
                            [(ngModel)]="rowdata.lotNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Module No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="ModuleNo"
                            [(ngModel)]="rowdata.moduleNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Status</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Status"
                            [(ngModel)]="rowdata.status"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Sorting Type</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="SortingType"
                            [(ngModel)]="rowdata.sortingType"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Sorting Status</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="SortingStatus"
                            [(ngModel)]="rowdata.sortingStatus"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Updated Sorting Status</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="updatedSortingStatus"
                            #datepicker="bsDatepicker"
                            [(ngModel)]="rowdata.updatedSortingStatus"  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            bsDatepicker
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Is Active</label>
                        <new-checkbox [(ngModel)]="_isActive" name="isActive" className="col-md-10"> </new-checkbox>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
