<div class="ALL">
    <div class="time_now_log" ></div>
    <div class="ALL_BOX row">
        <div class="BOX1 col-3">
            <div class="BOX1_A1">
                <div class="A1_ITEM1 col-6">CURRENT TACTTIME</div>
                <div class="A1_ITEM2 col-6"></div>
            </div>
            <div class="BOX1_A2">TACT COUNTDOWN</div>
            <div class="BOX1_A3">PACKING UNDERBODY</div>
            <div class="BOX1_A4">PICKING SIDEMAIN</div>
            <div class="BOX1_A5"></div>
            <div class="BOX1_A6">
                <div class="A6_ITEM1 col-6">TOTAL STOP (S)</div>
                <div class="A6_ITEM2 col-6">TOTAL DELAY (S)</div>
            </div>
            <div class="BOX1_A7">
                <div class="A7_ITEM1 col-6"></div>
                <div class="A7_ITEM2 col-6"></div>
            </div>
            <div class="BOX1_A10"><span id="pdl" class="pdelay">PICKING DELAY</span></div>
        </div>

        <div class="BOX2 col-9">
            <div class="BOX2_A1"></div>
            <div class="BOX2_A2">
                <div id="progressBar"></div>
                <div id="reMain" style="position: absolute;">{{reMain}}</div>
            </div>
            <div class="BOX2_A3"></div>
            <div class="BOX2_A4"></div>
            <div class="BOX2_A5"></div>
            <div class="BOX2_A6"></div>
            <div class="BOX2_A7"></div>
            <div class="BOX2_A8"></div>
            <div class="BOX2_A9"></div>
            <div class="BOX2_A10">
                <div class="A10_ITEM1 col-6"><span id="avg" class="avgDelay">AGV & (W) DELAY</span></div>
                <div class="A10_ITEM2 col-6"><span id="ls" class="lSupport">LEADER SUPPORT</span></div>
            </div>
        </div>
    </div>
</div>
