<div bsModal #createOrEditModalDrmImportPlan="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit DrmImportPlan')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New DrmImportPlan')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">

					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Status</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='Status' [(ngModel)]='rowdata.status'>
					</div>

					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Supplier No</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='SupplierNo' [(ngModel)]='rowdata.supplierNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Etd</label>
						<input  readonly type='text' class='col-md-10 form-control input-text' name='Etd' [(ngModel)]='_etd'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Eta</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='Eta' [(ngModel)]='_eta'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Shipment No</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='ShipmentNo' [(ngModel)]='rowdata.shipmentNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Cfc</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='Cfc' [(ngModel)]='rowdata.cfc'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Part Code</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='PartCode' [(ngModel)]='rowdata.partCode'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Part No</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='PartNo' [(ngModel)]='rowdata.partNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Part Name</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='PartName' [(ngModel)]='rowdata.partName'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Qty</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='Qty' [(ngModel)]='rowdata.qty'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Packing Month</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='PackingMonth' [(ngModel)]='_packingMonth'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Delay Etd</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='DelayEtd' [(ngModel)]='_delayEtd'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Delay Eta</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='DelayEta' [(ngModel)]='_delayEta'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Remark</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='Remark' [(ngModel)]='rowdata.remark'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Ata</label>
						<input type='text' class='col-md-10 form-control input-text' name='ata'
						#datepicker='bsDatepicker' [(ngModel)]='_ata'  bsDatepicker #d="bsDatepicker"
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' , isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }">
						<i class="fa fa-calendar-alt" (click)="d.toggle()"></i>
					</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
