
<div class="PTA">
    <div class="time_now_log" ></div>
    <div class="Header">
        <div class="LOCATION_BTN">
            <span class="loc_input">
                <span class="loc txt locaion_txt">Location</span>
                <span class="loc val locaion_value"></span>
            </span>
            <span class="loc_input">
                <span class="loc txt module_txt">Module no</span>
                <span class="loc val module_value" (click)="ShowChooseCase()"></span>
            </span>
            <span class="loc_input">
                <span class="loc txt up_table_txt">UP table</span>
                <span class="loc val up_table_value"></span>
            </span>
            <span class="btnLoc bg" (click)="MOVE_UP();">Move UP</span>
            <span class="btnLoc bg" (click)="MOVE_UOT_DELETE()">Delete</span>
            <span class="btnLoc nolocation" (click)="NO_LOCATION()">
                <div class="flag "></div>
                <div class="val">No Location</div>
            </span>

            <div style="clear:both;"></div>

        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="NO_LOCATION">

        <div class="LOCHeader" style="display:none;">
            <div class="box firstRow show">
                <div class="flag "></div>
                <div class="val">No Location</div>
            </div>
        </div>
        <div class="LOCContent">
            <div class="LOCLane"
                *ngFor="let _row of  NoLocation">
                <div class="Lane">
                    <div class="flag "></div>
                    <div class="devanning">{{ _row.caseNo }}</div>
                    <div class="val">{{ _row.caseNo }}</div>
                </div>
            </div>

        </div>
    </div>
    <div class="Layout">

        <ul class="pxp_big_tab">
            <li class="disabled">Small part control:</li>
            <li class="title_tab SCR_NO1 tab0 active"  (click)="changetab('0')"><div class="tabFlag"></div><span>Up Line</span></li>
            <li class="title_tab SCR_NO1 tab1 "  (click)="changetab('1')"><div class="tabFlag"></div><span>A & B</span></li>
            <li class="title_tab SCR_NO2 tab2" (click)="changetab('2')"><div class="tabFlag"></div><span>C & OVF</span></li>


            <li class="disabled _remark">
                <div class="REMARK">
                    <div class="rmk st1 box"></div>
                    <div class="rmk st1 text">1st</div>
                    <div class="rmk st2 box"></div>
                    <div class="rmk st2 text">2nd, 3rd...</div>
                </div>
            </li>
        </ul>
        <div style="clear:both;"></div>


        <div class="pxp_big_content ">
            <div class="content_tab _tab0 active">
                <div class="UP_LINE">
                    <div class="zone zarea1">
                            <div class="zitem zblank"> <b>SB UP Layout</b> </div>
                            <div style="clear:both;"></div>
                            <div class="zitem zoneA">
                                <div class="zitembox itemA" *ngFor="let _row of  fn.fornumbers(14)" >
                                    A
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                            <div class="zitem zblank">Zone A </div>
                            <div style="clear:both;"></div>
                            <div class="zitem zblank"></div>
                            <div style="clear:both;"></div>
                            <div class="zitem zoneB">
                                <div class="zitembox itemB" *ngFor="let _row of  fn.fornumbers(14)" >
                                    B
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                            <div class="zitem zblank">Zone B </div>
                    </div>
                    <div class="zone zarea2">
                        <div class="zitem zblank"> </div>
                        <div style="clear:both;"></div>
                        <div class="zitem zoneC">
                            <div class="zitembox itemC" *ngFor="let _row of  fn.fornumbers(4)" >
                                C
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="zitem zblank"> Zone C </div>
                    </div>

                    <div style="clear:both;"></div>
                    <div class="zone zarea3">
                            <div class="zitem zblank"> <b>Unpacking module list</b>
                                <div class="scroll_unpack">
                                    <div class="tab t1" (click)="unpacking_change('t1')"><img class="back" src="/assets/common/images/next.png"></div>
                                    <div class="tab t2" (click)="unpacking_change('t2')"><img class="next" src="/assets/common/images/next.png"></div>
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                            <div class="zitem UNPACK_MODULE t1 active">
                                <div class="zitembox upmodule_item STT{{i}}" *ngFor="let i of  fn.fornumbers(16)"
                                    (click)="SelectedUnpack(i)">
                                    <div >
                                        <div class="caseno"></div>
                                        <div style="clear:both;"></div>
                                        <span class="remark"></span>
                                        <span class="module_id"></span>
                                    </div>
                                </div>
                                <div style="clear:both; height: 10px;"></div>
                            </div>
                            <div class="zitem UNPACK_MODULE t1 active">
                                <div class="zitembox upmodule_item STT{{(16+i)}}" *ngFor="let i of  fn.fornumbers(16)"
                                     (click)="SelectedUnpack(i)">
                                    <div >
                                        <div class="caseno"></div>
                                        <div style="clear:both;"></div>
                                        <span class="remark"></span>
                                        <span class="module_id"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="zitem UNPACK_MODULE t2">
                                <div class="zitembox upmodule_item STT{{32+i}}" *ngFor="let i of  fn.fornumbers(16)"
                                     (click)="SelectedUnpack(i)">
                                    <div >
                                        <div class="caseno"></div>
                                        <div style="clear:both;"></div>
                                        <span class="remark"></span>
                                        <span class="module_id"></span>
                                        <span  class="module_id"></span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both; height: 10px;"></div>
                            <div class="zitem UNPACK_MODULE t2">
                                <div class="zitembox upmodule_item STT{{(48+i)}}" *ngFor="let i of  fn.fornumbers(16)"
                                    (click)="SelectedUnpack(i)">
                                    <div >
                                        <div class="caseno"></div>
                                        <div style="clear:both;"></div>
                                        <span class="remark"></span>
                                        <span class="module_id"></span>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>

            <div class="content_tab _tab1 ">
                <div class="SCREEN_AREA SCR_NO11 ON_GRD">
                    <!-- --------------------Title--------------------------- -->
                    <div class="tab tab_title">
                        <div class="box firstRow txt">FRL</div>
                        <div class="box firstRow Column{{_row.columnId}} {{_row.cellName}} IS_DISABLED_{{_row.isColDisabled}}"
                                *ngFor="let _row of  fn.getRow(TabLayout11, 0)"  >
                                <div class="subtitle flag "></div>
                                <div class="subtitle tit">{{_row.cellName}}</div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>

                    <!-- --------------------Data--------------------------- -->
                    <div class="tab tab_data">
                        <div class="rowitem row{{i}}" *ngFor="let i of fn.fornumbersRangeDesc(fn.getRowCount(TabLayout11), 1, -1)"  >
                            <div class="box firstColumn {{i}}" >{{i}}</div>
                            <div class="box cellData Column{{_row.columnId}} {{_row.cellName}} "
                                    *ngFor="let _row of  fn.getRow(TabLayout11, i-1)"
                                    id="SCR_NO11_Column{{_row.columnId}}_Row{{i}}" >
                                    <div class="box_sub box_top">
                                        <div class="box_sub box_top">
                                            <div class="flag "></div>
                                            <div class="flag_min "></div>
                                            <div class="boxCellText IS_DELETE_0 IS_DISABLED_{{_row.isDisabled}}"
                                            (click)="CASE_SELECTED('1', _row.locationId, _row.cellName, i, _row.columnId, _row.screenArea)" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box_sub box_bot">
                                        <div class="box_sub box_top">
                                            <div class="flag "></div>
                                            <div class="flag_min "></div>
                                            <div class="boxCellText IS_DELETE_0 IS_DISABLED_{{_row.isDisabled}}"
                                            (click)="CASE_SELECTED('1', _row.locationId, _row.cellName, i, _row.columnId, _row.screenArea)" >
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="clear:both;"></div>
                <div class="SCREEN_AREA SCR_NO12 ON_GRD">
                    <!-- --------------------Title--------------------------- -->
                    <div class="tab tab_title">
                        <div class="box firstRow txt">FRL</div>
                        <div class="box firstRow Column{{_row.columnId}} {{_row.cellName}} IS_DISABLED_{{_row.isColDisabled}}"
                                *ngFor="let _row of  fn.getRow(TabLayout12, 0)"  >
                                <div class="subtitle flag "></div>
                                <div class="subtitle tit">{{_row.cellName}}</div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>

                    <!-- --------------------Data--------------------------- -->
                    <div class="tab tab_data">
                        <div class="rowitem row{{i}}" *ngFor="let i of fn.fornumbersRangeDesc(fn.getRowCount(TabLayout12), 1, -1)"  >
                            <div class="box firstColumn {{i}}" >{{i}}</div>
                            <div class="box cellData Column{{_row.columnId}} {{_row.cellName}} "
                                    *ngFor="let _row of  fn.getRow(TabLayout12, i-1)"
                                    id="SCR_NO12_Column{{_row.columnId}}_Row{{i}}" >
                                    <div class="box_sub box_top">
                                        <div class="box_sub box_top">
                                            <div class="flag "></div>
                                            <div class="flag_min "></div>
                                            <div class="boxCellText IS_DELETE_0 IS_DISABLED_{{_row.isDisabled}}"
                                            (click)="CASE_SELECTED('1', _row.locationId, _row.cellName, i, _row.columnId, _row.screenArea)" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box_sub box_bot">
                                        <div class="box_sub box_top">
                                            <div class="flag "></div>
                                            <div class="flag_min "></div>
                                            <div class="boxCellText IS_DELETE_0 IS_DISABLED_{{_row.isDisabled}}"
                                            (click)="CASE_SELECTED('1', _row.locationId, _row.cellName, i, _row.columnId, _row.screenArea)" >
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content_tab _tab2">
                <div class="SCREEN_AREA SCR_NO21 ON_GRD">
                    <!-- --------------------Title--------------------------- -->
                    <div class="tab tab_title">
                        <div class="box firstRow txt">FRL</div>
                        <div class="box firstRow Column{{_row.columnId}} {{_row.cellName}} IS_DISABLED_{{_row.isColDisabled}}"
                                *ngFor="let _row of  fn.getRow(TabLayout21, 0)"  >
                                <div class="subtitle flag "></div>
                                <div class="subtitle tit">{{_row.cellName}}</div>
                        </div>
                    </div>

                    <!-- --------------------Data--------------------------- -->
                    <div class="tab tab_data">
                        <div class="rowitem row{{i}}" *ngFor="let i of fn.fornumbersRangeDesc(fn.getRowCount(TabLayout21), 1, -1)"  >
                            <div class="box firstColumn {{i}}" >{{i}}</div>
                            <div class="box cellData Column{{_row.columnId}} {{_row.cellName}} "
                                    *ngFor="let _row of  fn.getRow(TabLayout21, i-1)"
                                    id="SCR_NO21_Column{{_row.columnId}}_Row{{i}}" >
                                    <div class="box_sub box_top">
                                            <div class="flag "></div>
                                            <div class="flag_min "></div>
                                            <div class="boxCellText IS_DELETE_0 IS_DISABLED_{{_row.isDisabled}}"
                                            (click)="CASE_SELECTED('2', _row.locationId, _row.cellName, i, _row.columnId, _row.screenArea)" >
                                            </div>
                                    </div>
                                    <div class="box_sub box_bot">
                                            <div class="flag "></div>
                                            <div class="flag_min "></div>
                                            <div class="boxCellText IS_DELETE_0 IS_DISABLED_{{_row.isDisabled}}"
                                            (click)="CASE_SELECTED('2', _row.locationId, _row.cellName, i, _row.columnId, _row.screenArea)" >
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div style="clear:both;"></div>
                <div class="SCREEN_AREA SCR_NO22 ON_GRD">
                     <!-- --------------------Title--------------------------- -->
                     <div class="tab tab_title">
                        <div class="box firstRow txt">FRL</div>
                        <div class="box firstRow Column{{_row.columnId}} {{_row.cellName}} IS_DISABLED_{{_row.isColDisabled}}"
                                *ngFor="let _row of  fn.getRow(TabLayout22, 0)"  >
                                <div class="subtitle flag "></div>
                                <div class="subtitle tit">{{_row.cellName}}</div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>


                    <!-- --------------------Data--------------------------- -->
                    <div class="tab tab_data">
                        <div class="rowitem row{{i}}" *ngFor="let i of fn.fornumbersRangeDesc(fn.getRowCount(TabLayout22), 1, -1)"  >
                            <div class="box firstColumn {{i}}" >{{i}}</div>
                            <div class="box cellData Column{{_row.columnId}} {{_row.cellName}} "
                                    *ngFor="let _row of  fn.getRow(TabLayout22, i-1)"
                                    id="SCR_NO22_Column{{_row.columnId}}_Row{{i}}" >
                                    <div class="box_sub box_top">
                                            <div class="flag "></div>
                                            <div class="flag_min "></div>
                                            <div class="boxCellText IS_DELETE_0 IS_DISABLED_{{_row.isDisabled}}"
                                            (click)="CASE_SELECTED('2', _row.locationId, _row.cellName, i, _row.columnId, _row.screenArea)" >
                                            </div>
                                    </div>
                                    <div class="box_sub box_bot">
                                            <div class="flag "></div>
                                            <div class="flag_min "></div>
                                            <div class="boxCellText IS_DELETE_0 IS_DISABLED_{{_row.isDisabled}}"
                                            (click)="CASE_SELECTED('2', _row.locationId, _row.cellName, i, _row.columnId, _row.screenArea)" >
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <div class="block" (click)="ShowChooseCase()"></div>
        <div style="clear:both;"></div>

        <div class="FRL_CASE">
            <div class="select">
                <!-- <div class="option">A</div>
                <div class="option">B</div>
                <div class="option">C</div> -->
            </div>
        </div>
        <div class="RLL_CASE">
            <div class="select">
                <!-- <div class="option">A</div>
                <div class="option">B</div>
                <div class="option">C</div> -->
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>

<popupBig #bigPopup  (modalSave)="SavePopupSmall()" (modalClose)="ClosePopupSmall()" >
</popupBig>
