<div
    bsModal
    #createOrEditModalProgress="bs-modal"
    class="modal fade col-md-12"
    role="dialog"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{ 'Edit Progress' }}</h3>
                    <h3 *ngIf="!rowdata.id">{{ 'Create New Progress' }}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form
                #applyBpForm="ngForm"
                (ngSubmit)="save()"
                autocomplete="off"
                (keyup.enter)="save()"
                (keyup.ESC)="close()"
            >
                <!-- Form Basic-->
                <div class="form-input">
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Prod Line</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="ProdLine"
                            [(ngModel)]="rowdata.prodLine"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Working Date</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="workingDate"
                            #datepickerworkingDate="bsDatepicker"  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]="rowdata.workingDate"
                            bsDatepicker
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Shift</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Shift"
                            [(ngModel)]="rowdata.shift"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">No In Shift</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="NoInShift"
                            [(ngModel)]="rowdata.noInShift"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">No In Date</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="NoInDate"
                            [(ngModel)]="rowdata.noInDate"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Process Id</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="processId"
                            [(ngModel)]="rowdata.processId"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Process Code</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="ProcessCode"
                            [(ngModel)]="rowdata.processCode"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Newtakt Datetime</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="newtaktDatetime"
                            #datepickernewtaktDatetime="bsDatepicker"  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]="rowdata.newtaktDatetime"
                            bsDatepicker
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Start Datetime</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="startDatetime"
                            #datepickerstartDatetime="bsDatepicker"  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]="rowdata.startDatetime"
                            bsDatepicker
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Finish Datetime</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="finishDatetime"
                            #datepickerfinishDatetime="bsDatepicker"  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]="rowdata.finishDatetime"
                            bsDatepicker
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Status</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Status"
                            [(ngModel)]="rowdata.status"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Is Active</label>
                        <new-checkbox
                            [(ngModel)]="_isActive"
                            name="isActive"
                            className="col-md-10">
                        </new-checkbox>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
