<div bsModal #createOrEditModalRobbingLane="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit RobbingLane')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New RobbingLane')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Lane No</label>
						<input type='text' class='col-md-10 form-control input-text'
                        name='LaneNo' [(ngModel)]='rowdata.laneNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Lane Name</label>
						<input type='text' class='col-md-10 form-control input-text'
                        name='LaneName' [(ngModel)]='rowdata.laneName'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Cont No</label>
						<input type='text' class='col-md-10 form-control input-text'
                        name='ContNo' [(ngModel)]='rowdata.contNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Renban</label>
						<input type='text' class='col-md-10 form-control input-text'
                        name='Renban' [(ngModel)]='rowdata.renban'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Supplier No</label>
						<input type='text' class='col-md-10 form-control input-text'
                        name='SupplierNo' [(ngModel)]='rowdata.supplierNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Show Only</label>
						<new-checkbox [(ngModel)]='_showOnly' name='showOnly'
                        className='col-md-10' > </new-checkbox>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Is Disabled</label>
						<new-checkbox [(ngModel)]='_isDisabled' name='isDisabled'
                        className='col-md-10' > </new-checkbox>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Is Active</label>
						<new-checkbox [(ngModel)]='_isActive' name='isActive'
                        className='col-md-10' > </new-checkbox>
					</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
