<div bsModal #addAssetDrmPartList="bs-modal" class="modal fade col-12" role="dialog"
    [config]="{ backdrop: 'static' }" [busyIf]="isLoading">
    <div class="modal-dialog modal-lg" style=" min-width: 90%; margin-left: 5%; margin-right: 5%;">
        <div class="modal-content col-12">
            <div class="modal-header col-12">
                <div class="title-form">
                    <h3>{{partListRowData.assetId ? 'Change Asset' : 'Add Asset'}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-12" *ngIf="partListRowData.assetId">
            <div class="form-input">
                <div class='col-12' style="display: flex;">
                    <div class="col-4 form-group addAssetsDrmpartlistCol4">
                        <label class=' form-control ChangeAssettitle'>Material Code</label>
                        <input readonly type='text' class=' form-control input-text ChangeAssetForm' name='MaterialCode' [(ngModel)]='rowData1.materialCode'>

                    </div>
                    <div class="col-4 form-group addAssetsDrmpartlistCol4">
                        <label class=' form-control ChangeAssettitle'>Material Spec</label>
                        <input readonly type='text' class=' form-control input-text ChangeAssetForm' name='MaterialSpec' [(ngModel)]='rowData1.materialSpec'>

                    </div>
                    <div class="col-4 form-group addAssetsDrmpartlistCol4">
                        <label class=' form-control ChangeAssettitle'>Main Asset Number</label>
                        <input type='text'  readonly  class=' form-control input-text ChangeAssetForm' name='MainAssetNumber' [(ngModel)]='rowData1.fixedAssetNumber'>
                    </div>
                </div>
                <div class='row col-12'>
                    <div class="col-4 form-group addAssetsDrmpartlistCol4">
                        <label class=' form-control ChangeAssettitle'>Asset Sub Number</label>
                        <input readonly type='text' class=' form-control input-text ChangeAssetForm' name=' AssetSubNumber' [(ngModel)]='rowData1.assetSubNumber'>

                    </div>
                    <div class="col-4 form-group addAssetsDrmpartlistCol4">
                        <label class=' form-control ChangeAssettitle'>Asset Description</label>
                        <input readonly type='text' class=' form-control input-text ChangeAssetForm' name='AssetDescription' [(ngModel)]='rowData1.assetDescription'>

                    </div>
                    <div class="col-4 form-group addAssetsDrmpartlistCol4">
                        <label class=' form-control ChangeAssettitle'>Additional Asset Description</label>
                        <input type='text'  readonly  class=' form-control input-text ChangeAssetForm' name='AdditionalAssetDescription' [(ngModel)]='rowData1.additionalAssetDescription'>
                    </div>
                </div>
                <div class='row col-12'>
                    <div class="col-4 form-group addAssetsDrmpartlistCol4">
                        <label class=' form-control ChangeAssettitle'>Serial Number</label>
                        <input readonly type='text' class=' form-control input-text ChangeAssetForm' name='SerialNumber' [(ngModel)]='rowData1.serialNumber'>

                    </div>
                    <div class="col-4 form-group addAssetsDrmpartlistCol4">
                        <label class=' form-control ChangeAssettitle'>Cost of Asset</label>
                        <input readonly type='text' class=' form-control input-text ChangeAssetForm' name='CostofAsset' [(ngModel)]='rowData1.costOfAsset'>

                    </div>
                    <div class="col-4 form-group addAssetsDrmpartlistCol4">
                        <label class=' form-control ChangeAssettitle'>WBS</label>
                        <input type='text'  readonly  class=' form-control input-text ChangeAssetForm' name='WBS' [(ngModel)]='rowData1.wbs'>
                    </div>
                </div>
                <div class='row col-12'>
                    <div class="col-4 form-group addAssetsDrmpartlistCol4">
                        <label class=' form-control ChangeAssettitle'>Cost Center</label>
                        <input readonly type='text' class=' form-control input-text ChangeAssetForm' name='CostCenter' [(ngModel)]='rowData1.costCenter'>

                    </div>
                    <div class="col-4 form-group addAssetsDrmpartlistCol4">
                        <label class=' form-control ChangeAssettitle'>Responsible Cost Center</label>
                        <input readonly type='text' class=' form-control input-text ChangeAssetForm' name='ResponsibleCostCenter' [(ngModel)]='rowData1.responsibleCostCenter'>

                    </div>
                    <div class="col-4 form-group addAssetsDrmpartlistCol4">
                        <label class=' form-control ChangeAssettitle'>Asset Class</label>
                        <input type='text'  readonly  class=' form-control input-text ChangeAssetForm' name=' AssetClass' [(ngModel)]='rowData1.assetClass'>
                    </div>
                </div>
                <div class='row col-12'>
                    <div class="col-4 form-group addAssetsDrmpartlistCol4 p-right">
                        <label class=' form-control ChangeAssettitle'>Asset Class Description</label>
                        <input readonly type='text' class=' form-control input-text ChangeAssetForm' name='AssetClassDescription' [(ngModel)]='rowData1.assetClassDescription'>

                    </div>

                </div>
            </div>

        </div>


        <div class="modal-content col-12">
            <div class="form-input">
                <grid-table
                    [columnDefs]="validateColDefs"
                    [paginationParams]="paginationParams"
                    [rowData]="rowData"
                    [defaultColDef]="defaultColDef"
                    (callBackEvent)="callBackGrid($event)"
                    (onChangeSelection)="onChangeRowSelection($event)"
                    [height]="'40vh'"
                    [heightAuto]="false"
                    [frameworkComponents]="frameworkComponents"
                    [showPagination]="false">
                </grid-table>
            </div>
            <div class="modal-footer">
                <button (click)="save()" type="button" class="btn btn-primary font-weight-bold">
                    <i class="fa tmss-fa fa-save mr-1"></i><span>{{ l('Save') }}</span>
                </button>
                <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                    <i class="fa tmss-fa fa-times mr-1"></i>{{ l('Cancel') }}
                </button>
            </div>
        </div>
    </div>
</div>
