<div bsModal #createOrEditModalInvDrmPartList="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit DRM Part List')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New DRM Part List')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
                    <div class="col-md-12 form-group row">
                        <label style="min-width: 157px;" class=' col-md-2 form-control title'>Supplier Type</label>
                        <tmss-combobox
                            [items]="supplierTypeList"
                            name="ContentListId"
                            [selectedItem]="rowdata.supplierType"
                            [(ngModel)]="rowdata.supplierType"
                            [style]="{ 'border-radius': '5px','width':'auto', 'flex':'1'}"
                        ></tmss-combobox>
                    </div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'style="min-width: 157px;">Supplier Cd</label>
						<input type='text' class='col-md-10 form-control input-text' name='SupplierCd' [(ngModel)]='rowdata.supplierCd'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'style="min-width: 157px;">Cfc</label>
						<input type='text' class='col-md-10 form-control input-text' name='Cfc' [(ngModel)]='rowdata.cfc'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'style="min-width: 157px;">Material Code</label>
						<input type='text' class='col-md-10 form-control input-text' name='MaterialCode' [(ngModel)]='rowdata.materialCode'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'style="min-width: 157px;">Material Spec</label>
						<input type='text' class='col-md-10 form-control input-text' name='MaterialSpec' [(ngModel)]='rowdata.materialSpec'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'style="min-width: 157px;">Part Spec</label>
						<input type='text' class='col-md-10 form-control input-text' name='PartSpec' [(ngModel)]='rowdata.partSpec'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'style="min-width: 157px;">Part Size</label>
						<input type='text' class='col-md-10 form-control input-text' name='Part Size' [(ngModel)]='rowdata.partSize'>
					</div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'style="min-width: 157px;">Part Code</label>
                        <input type='text' class='col-md-10 form-control input-text' name='PartCode' [(ngModel)]='rowdata.partCode'>
                    </div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'style="min-width: 157px;">Box Qty</label>
						<input type='text' class='col-md-10 form-control input-text' name='BoxQty' [(ngModel)]='rowdata.boxQty'>
					</div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'style="min-width: 157px;">First Day Product</label>
                        <input type='text' class='col-md-10 form-control input-text' name='First Day Product'
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right' }"
                            #datepicker='bsDatepicker' [(ngModel)]="rowdata.firstDayProduct"  bsDatepicker #d="bsDatepicker">
                        <i class="fa fa-calendar-alt col-md-1 form-control" id="First Day Product"
                            (click)="d.toggle()"></i>
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'style="min-width: 157px;">Last Day Product</label>
                        <input type='text' class='col-md-10 form-control input-text' name='Last Day Product'

                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right' }"
                            #datepickerOrDatetime='bsDatepicker' [(ngModel)]="rowdata.lastDayProduct"  bsDatepicker #g="bsDatepicker">
                        <i class="fa fa-calendar-alt col-md-1 form-control" id="Last Day Product"
                            (click)="g.toggle()"></i>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
