<div id="container" class="mt-2" [busyIf]="isLoading">
    <div class="ui-g-12">
        <fieldset class="fieldset-border grid-parent">
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <h6 class="card-header">
                        {{ l(' CPS Linkage Inventory Item Price') }}
                    </h6>
                </div>
                <div class="prod-cont">
                    <div class="ui-g-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <div class='input-search'>
									<input [(ngModel)]='partNo' name='partNo'
									class='form-control' [placeholder]="l('Part No')"
									type='text' (keyup.enter)='searchDatasHeaders()'>
								</div>
                                <div class='input-search'>
									<input [(ngModel)]='partName' name='partName'
									class='form-control' [placeholder]="l('Part Name')"
									type='text' (keyup.enter)='searchDatasHeaders()'>
								</div>
                                <div class="input-search">
                                    <input
                                        type="text"
                                        placeholder="EffectiveFrom"
                                        [(ngModel)]="effectiveFrom"
                                        name="effectiveFrom"
                                        (keydown)="searchDatasHeaders()"
                                        class="form-control"
                                        bsDatepicker
                                        #f="bsDatepicker"
                                        placement="bottom left"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                                    />
                                    <i class="fa fa-calendar-alt" (click)="f.toggle()"></i>
                                </div>
                                <div class="input-search">
                                    <input
                                        type="text"
                                        placeholder="EffectiveTo"
                                        [(ngModel)]="effectiveTo"
                                        name="effectiveTo"
                                        (keydown)="searchDatasHeaders()"
                                        class="form-control"
                                        bsDatepicker
                                        #t="bsDatepicker"
                                        placement="bottom left"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                                    />
                                    <i class="fa fa-calendar-alt" (click)="t.toggle()"></i>
                                </div>

                                <div class="btn-search">
                                    <button (click)="searchDatasHeaders()" class="btn btn-primary" >
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="btn-search">
                                    <button (click)="clearTextSearch()" class="btn btn-primary"  >
                                        <i class="fas fa-backspace"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <!-- <form autocomplete="on">  NGHIÊM CẤM THÊM FROM VÀO GRID-->
                            <div class="panel panel-default pt-1">
                                <grid-table
                                    [columnDefs]="headersColDefs"
                                    [paginationParams]="paginationParamsHeaders"
                                    [showPagination]="true"
                                    [rowData]="rowDataHeaders"
                                    [defaultColDef]="defaultColDef"
                                    (callBackEvent)="callBackDataGridHeaders($event)"
                                    (changePaginationParams)="changePageHeaders($event)"
                                    [frameworkComponents]="frameworkComponents">
                                </grid-table>
                                <!-- [height]="'35vh'"
                                    (onChangeSelection)="onChangeRowSelectionHeaders($event)"
                                    [heightAuto]="false" -->
                            </div>
                          
                            <hr>
                            <div class="panelBtn text-right">
                                <button class="btn btn-success font-weight-bold " (click)="exportToExcel($event)">
                                    <i class="fas fa-file-excel mr-1"></i>{{ l('Export Inventory Item Price') }}
                                </button>
                            </div>
                        <!-- <form autocomplete="on">  NGHIÊM CẤM THÊM FROM VÀO GRID-->
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
