
    <div class="PTA">
        <div class="controlMessage">
            <span class="time_now_log"></span>
        </div>
        <div class="PTA_Content">
            <div class="WARP" *ngIf="configData">
                    <div  class="prosses_item HEADER_LEFT" *ngIf="configData.isShowLeftTitle == 'Y'"  >

                        <!-- configData.leftTitle: TRAM,GRADE,MODEL,SEQUENCE -->
                        <div class="_itemFor {{_item}}" *ngFor="let _item of configData.leftTitle.split(','); let i = index">

                            <div class="_item IsShow" *ngIf="(_item == 'TRAM' &&  configData.isShowHeader == 'Y') ||
                                                                               (_item == 'GRADE' &&  configData.isShowGrade == 'Y') ||
                                                                               (_item == 'MODEL' &&  configData.isShowModel == 'Y') ||
                                                                               (_item == 'SEQUENCE' &&  configData.isShowSequence== 'Y') ||
                                                                               (_item == 'BODY' &&  configData.isShowBody == 'Y') ||
                                                                               (_item == 'LOTNO' &&  configData.isShowLotNo == 'Y') ||
                                                                               (_item == 'COLOR' &&  configData.isShowColor == 'Y')
                            ">
                                <div class="_item_val">{{configData.leftTitleVn.split(',')[i]}}</div>
                            </div>
                        </div>
                    </div>


                    <!-- configData.headerList: T7,C1,C2,C3     /       configData.ProcessList: T7,C1,C2,C3-->
                    <div  class="prosses_item {{configData.prodLine}} {{_process}} index_{{_index}}"   *ngFor="let _process of configData.processList.split(','); let _index = index" >

                        <!-- PROCESS -->
                        <!-- configData.leftTitle: TRAM,GRADE,MODEL,SEQUENCE -->
                        <div class="_itemFor" *ngFor="let _item of configData.leftTitle.split(','); let i = index">  <!-- ORDER BY (SORT) -->

                            <!-- HEADER -->
                            <div class="_item IsShow HEADER_TITLE" *ngIf="(_item == 'TRAM' &&  configData.isShowHeader == 'Y')   ">

                                <!-- Ex: T7 -->
                                <div class="header_title header_title_1 {{configData.headerColor1}}" *ngIf="_detect_headerText(_index) == 1 ; else header_title_2">
                                    <div class="header_sub_text">{{ this.configData.headerList .split(',')[_index] }}</div>
                                </div>

                                <!-- Ex: C1 / SA -->
                                <ng-template  #header_title_2>
                                    <div class="header_title header_title_2 {{configData.headerColor2}}">
                                        <div class="header_sub_text sub_text1"> {{ this.configData.headerList .split(',')[_index].split('/')[0] }}</div>
                                        <div class="clear"></div>
                                        <div class="header_sub_text sub_text2">{{ this.configData.headerList .split(',')[_index].split('/')[1] }}</div>
                                        <img src="/assets/common/images/line_cheo.png" class="img_line">
                                    </div>
                                </ng-template>
                            </div>

                            <!-- GRADE,MODEL,SEQUENCE,BODY,LOTNO,COLOR -->
                            <div class="_item IsShow _{{_item}}" *ngIf="(_item == 'GRADE' &&  configData.isShowGrade == 'Y') ||
                                                                                                 (_item == 'MODEL' &&  configData.isShowModel == 'Y') ||
                                                                                                 (_item == 'SEQUENCE' &&  configData.isShowSequence== 'Y') ||
                                                                                                 (_item == 'BODY' &&  configData.isShowBody == 'Y') ||
                                                                                                 (_item == 'LOTNO' &&  configData.isShowLotNo == 'Y') ||
                                                                                                 (_item == 'COLOR' &&  configData.isShowColor == 'Y')
                            ">
                                <div class="val"></div>
                            </div>
                        </div>


                        <!-- <div class="_item _GRADE" *ngIf="configData.isShowGrade=='Y'">
                            <div class="val"></div>
                        </div>
                        <div class="_item _MODEL" *ngIf="configData.isShowModel=='Y'">
                            <div class="val"></div>
                        </div>
                        <div class="_item _SEQUENCE" *ngIf="configData.isShowSequence=='Y'">
                            <div class="val"></div>
                        </div>

                        <div class="_item _BODY" *ngIf="configData.isShowBody=='Y'">
                            <div class="val"></div>
                        </div>
                        <div class="_item _LOTNO" *ngIf="configData.isShowLotNo=='Y'">
                            <div class="val"></div>
                        </div>
                        <div class="_item _COLOR" *ngIf="configData.isShowColor=='Y'">
                            <div class="val"></div>
                        </div> -->
                    </div>


            </div>
         </div>

    </div>
    <div class="PTA_bg"></div>
    <div class="clear"></div>



