<div id="container" class="mt-2" [busyIf]="isLoading">
    <div class="ui-g-12">
        <fieldset class="fieldset-border grid-parent">
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <h6 class="card-header">
                        {{ l(' Master CKD Forwarder ') }}
                    </h6>
                </div>
                <div class="prod-cont">
                    <div class="ui-g-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <div class='input-search'>
                                    <input [(ngModel)]='code' name='code' class='form-control' [placeholder]="l('Code')"
                                        type='text' (keyup.enter)='searchDatas()'>
                                </div>
                                <div class='input-search'>
                                    <input [(ngModel)]='name' name='name' class='form-control' [placeholder]="l('Name')"
                                        type='text' (keyup.enter)='searchDatas()'>
                                </div>
                                <div class='input-search'>
                                    <input [(ngModel)]='supplierNo' name='supplierNo' class='form-control'
                                        [placeholder]="l('Supplier No')" type='text' (keyup.enter)='searchDatas()'>
                                </div>
                                <div class='input-search'>
                                    <input [(ngModel)]='shippingNo' name='shippingNo' class='form-control'
                                        [placeholder]="l('Shipping No')" type='text' (keyup.enter)='searchDatas()'>
                                </div>
                                <div class='input-search'>
                                    <input type='text' [placeholder]="l('Ef Datefrom')" [(ngModel)]='efDatefrom'
                                        name='efDatefrom' (keydown)='searchDatas()' class='form-control' bsDatepicker  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                                        #d='bsDatepicker' placement='bottom left'>
                                    <i class='fa fa-calendar-alt' (click)='d.toggle()'></i>
                                </div>
                                <div class='input-search'>
                                    <input type='text' [placeholder]="l('Ef Dateto')" [(ngModel)]='efDateto'
                                        name='efDateto' (keydown)='searchDatas()' class='form-control' bsDatepicker  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                                        #e='bsDatepicker' placement='bottom right'>
                                    <i class='fa fa-calendar-alt' (click)='e.toggle()'></i>
                                </div>
                                <div class="btn-search">
                                    <button (click)="searchDatas()" class="btn btn-primary" >
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="btn-search">
                                    <button (click)="clearTextSearch()" class="btn btn-primary"  >
                                        <i class="fas fa-backspace"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <!-- <form autocomplete="on">  NGHIÊM CẤM THÊM FROM VÀO GRID-->
                            <div class="panel panel-default pt-1">
                                <simple-ag-grid [columnDefs]="defaultColDefs" [paginationParams]="paginationParams"
                                    [rowData]="rowData" [defaultColDef]="defaultColDef"
                                    (callBackEvent)="callBackDataGrid($event)"
                                    (changePaginationParams)="changePage($event)"
                                    (onChangeSelection)="onChangeRowSelection($event)" [rowSelection]="rowSelection"
                                    [frameworkComponents]="frameworkComponents">
                                </simple-ag-grid>
                            </div>
                        <!-- <form autocomplete="on">  NGHIÊM CẤM THÊM FROM VÀO GRID-->
                        <hr>
                        <div class="text-right">

                            <button class="btn btn-success font-weight-bold " (click)="exportToExcel($event)">
                                <i class="fas fa-file-excel mr-1"></i>{{ l('Export Excel') }}
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
