<div id="container" class="mt-2" [busyIf]="isLoading">
    <div class="ui-g-12">
        <fieldset class="fieldset-border grid-parent">
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <h6 class="card-header">
                        {{ l(' CKD TMV Physical Stock Part S4 ') }}
                    </h6>
                </div>
                <div class="prod-cont">
                    <div class="form-group m-form__group align-items-center">
                        <div class="input-group">
                            <div class='input-search'>
                                <input [(ngModel)]='materialCode' name='materialCode' class='form-control'
                                    [placeholder]="l('Material Code')" type='text' (keyup.enter)='searchDatas()'>
                            </div>
                            <div class="input-search" style="min-width: 305px;">
                                <tmss-multi-column-dropdown
                                   [placeholder]="Period"
                                   [list]="periodIdList"
                                   name="id"
                                   [columnDefs]="loadColumdef"
                                   dataField="id"
                                   [(ngModel)]="id"
                                   displayField="infoPeriod"
                               ></tmss-multi-column-dropdown>
                           </div>


                            <div class="btn-search">
                                <button (click)="searchDatas()" class="btn btn-primary" >
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <div class="btn-search">
                                <button (click)="clearTextSearch()" class="btn btn-primary"  >
                                    <i class="fas fa-backspace"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="panel panel-default pt-1">
                            <grid-table
                                [columnDefs]="defaultColDefs"
                                [paginationParams]="paginationParams"
                                [rowData]="rowData"
                                [defaultColDef]="defaultColDef"
                                (callBackEvent)="callBackDataGrid($event)"
                                (changePaginationParams)="changePage($event)"
                                (onChangeSelection)="onChangeRowSelection($event)"
                                [rowSelection]="rowSelection"
								[frameworkComponents]="frameworkComponents"
                            >
                            </grid-table>
                        </div>
                        <hr>
                        <div class="panelBtn text-right">
                            <button *ngIf="isGranted('Pages.Ckd.Physical.PhysicalStockPartS4.Import')"
                            class="btn btn-primary font-weight-bold" (click)="importExcelModal.show('SP')">
                                <i class="fas fa-file-import"></i>{{ l('Import Excel Stock Part ') }}
                            </button>

                            <button class="btn btn-success font-weight-bold position-relative" (click)="compareStockPart($event)">
                                <i class="fas fa-delicious mr-1"></i>{{ l('Compare Stock Part') }}
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<physicalstockparts4 #importExcelModal></physicalstockparts4>
