<div class="controlMessage">
    <span class="message1"></span> -
    <span class="message2"></span> -
    <span class="message3"></span>
    <span class="message4"></span>
    <span class="controlpanel dateWorking"></span>
</div>
<div style="clear: both;"></div>
<div id="screen-status"></div>
<span class="soundAttribute" soundstart="false" soundtype="" src="" caseno=""></span>
<div class="time_now_log left" ></div>
<div class="contentScreen">
    <div class="WARP">
        <div class="screenHead">
            <div class="HeadA1">
                <span class="HeadA1_sub HeadA1Text"><span>BigPart</span></span>
                <span class="HeadA1_sub HeadA1Max"><span></span></span>
            </div>

            <div *ngFor="let _row of dataModuleUpTable" class="HeadA1 HeadA1UP {{ _row.upTable }}">
                <span class="HeadA1Text"> </span>
            </div>
        </div>
        <div class="screenContent scroll A1">
            <div class="WARP_SCROLL">
                <div class="ContentA1">
                    <div class="WARP">
                        <div *ngFor="let i of fornumbersRange(1, 150 + TOTAL_COLUMN_SEQ_A1, 1)"
                            class="iitemA1 sttInLineA1 {{ END_NO_IN_SHIFT < i ? 'notline' : '' }} sttInLineA1_{{i}}
                            {{ i % 10 == 0 ? 'iitem-b-left' : i == 1 ? 'iitem-b-left' : '' }} stt-index" [attr.stt-index]="i">
                            <span class="itemtext"></span>
                        </div>
                    </div>
                </div>
                <div *ngFor="let _row of dataModuleUpTable" class="ContentA1 {{ _row.upTable }}">
                    <div class="WARP">
                        <div *ngFor="let i of fornumbersRange(1, 150 + TOTAL_COLUMN_SEQ_A1, 1)">
                                <div *ngFor="let _icase of iCaseDataByUP(_row.upTable,i)"
                                    class="iitemA1UP {{ i }} {{ i % 10 == 0 ? 'iitem-b-left' : i == 1 ? 'iitem-b-left' : '' }} ">
                                    <div class="IS_NEW_PART IS_NEW_PART_{{ _icase.isNewPart }}">TPM</div>
                                    <div class="sttInLineUPA1 {{ _icase.noOfALineIn }}A1LineUP {{((_icase.caseNo).replace('-','')).replace('/','')}}"
                                        [attr.no]="_icase.noOfALineIn"
                                        [attr.tacktime]="_icase.tackTime"
                                        [attr.timeoff]="_icase.cycleTime"
                                        [attr.timeline]="_icase.cycleSecond">
                                    </div>
                                    <div class="A1TimeLine {{ _icase.noOfALineIn }}A1LineUP {{((_icase.caseNo).replace('-','')).replace('/','')}} "></div>
                                    <div class="LineUPA1Text {{((_icase.caseNo).replace('-','')).replace('/','')}}"
                                        [attr.case_no]="_icase.caseNo"
                                        [attr.data-details]="'Locations:' +_icase.whLocation + '-' + _icase.caseNo + '-' + _icase.supplierNo"
                                        #mousehover (mouseover)="onMouseOver(mousehover,i)" (mouseout)="onMouseOut(i)">
                                        <span>{{_icase.caseNo.substring(0, 2)}} {{ _icase.caseNo.substring(2)}}</span>
                                        <div class="popupDetail popDetail_{{i}}"></div>
                                    </div>
                                </div>
                                <div *ngIf="(iCaseDataByUP(_row.upTable,i).length) === 0" class="iitemA1UP {{ i % 10 == 0 ? 'iitem-b-left' : i == 1 ? 'iitem-b-left' : '' }} {{ i }}"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>

        <div class="screenHead delay A1">
            <div class="HeadA1 HeadA1UP DELAY">
                <span class="HeadA1Text">Module<br />Delay</span>

            </div>
        </div>
        <div class="screenContent delay A1">
            <div class="WARP">
                <div class="ContentA1">
                    <div class="WARP">
                        <div *ngFor="let i of fornumbersRange(1, LINE_OFF_DELAY, 1)" class="iitemA1UP">
                            <div class="bg_CaseDelay"></div>
                            <div class="LineUPA1Text_DELAY" case_no=""><span></span></div>
                            <div class="LineUPA1Text_DELAY line2" case_no=""><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<span class="soundAttribute" soundstart="false" soundtype="" src="" caseno=""></span>
