<div bsModal #viewInterfaceComponent ="bs-modal" class="modal fade col-md-12" role="dialog"
	[config]="{ backdrop: 'static' }">
	<div class="modal-dialog modal-lg">
		<div class="modal-content col-md-12">
			<div class="modal-header col-md-12">
				<div class="title-form">
					<h3>{{('View IF')}}</h3>
				</div>
			</div>
		</div>
		<div class="modal-content col-md-12">
            <!-- <form #applyBpForm="ngForm" autocomplete="off" (keyup.ESC)="close()"> -->
                <div class="form-input" [busyIf]="loading">
                    <grid-table
                    [columnDefs]="interfaceColDefs"
                    [paginationParams]="paginationParams1"
                    [showPagination]="true"
                    [rowData]="rowData"
                    [defaultColDef]="defaultColDef"
                    [height]="'40vh'"
                    [heightAuto]="false"
                    [frameworkComponents]="frameworkComponents"
	                (callBackEvent)="callBackDataGrid($event)"
                    (changePaginationParams)="changePage($event)"
                >
                    </grid-table>
                </div>
				<div class="modal-footer">
                    <button class="btn btn-success font-weight-bold position-relative" (click)="exportViewIFToExcel($event)" [disabled]="disable">
                        <i class="fas fa-file-excel mr-1"></i>{{ l('Export Excel') }}
                        <div class="loader" [ngClass]="pending"></div>
                    </button>
					<button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
						<i class="fa tmss-fa fa-times mr-1"></i>
						{{ l('Cancel') }}
					</button>
				</div>
			<!-- </form> -->
		</div>

	</div>
</div>
