<div bsModal #viewModalGpsStock="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit GpsStock')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('View GpsStock')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
                   <form #applyBpForm="ngForm" autocomplete="off" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Part No</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='PartNo' [(ngModel)]='rowdata.partNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Part Name</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='PartName' [(ngModel)]='rowdata.partName'>
					</div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Working Date</label>
                        <input type='text' class='col-md-10 form-control
                            input-text' name='workingDate' readonly
                            [(ngModel)]='_workingDate' >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Cfc</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='Cfc' [(ngModel)]='rowdata.cfc'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Supplier No</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='SupplierNo' [(ngModel)]='rowdata.supplierNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Uom</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='uom' [(ngModel)]='rowdata.uom'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Lot No</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='lotNo' [(ngModel)]='rowdata.lotNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>No In Lot</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='noInLot' [(ngModel)]='rowdata.noInLot'>
					</div>
					<div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Qty</label>
                        <input readonly type='text' class='col-md-2 form-control input-text' name='Qty' [(ngModel)]='rowdata.qty'>
					</div>
					<div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Vin No</label>
                        <input readonly type='text' class='col-md-2 form-control input-text' name='vinNo' [(ngModel)]='rowdata.vinNo'>
					</div>
					<div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>BodyNo</label>
                        <input readonly type='text' class='col-md-2 form-control input-text' name='bodyNo' [(ngModel)]='rowdata.bodyNo'>
					</div>
					<div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Color</label>
                        <input readonly type='text' class='col-md-2 form-control input-text' name='color' [(ngModel)]='rowdata.color'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Transaction Id</label>
						<input readonly type='text' class='col-md-10 form-control input-text' name='Transaction Id' [(ngModel)]='rowdata.transactionId'>
					</div>
                    <div class="modal-footer">
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
