<div bsModal #createOrEditModalProgressDetails="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit ProgressDetails')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New ProgressDetails')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Prod Line</label>
						<input type='text' class='col-md-10 form-control input-text' name='ProdLine' [(ngModel)]='rowdata.prodLine'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Working Date</label>
						<input type='text' class='col-md-10 form-control input-text' name='workingDate'  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
						#datepicker='bsDatepicker' [(ngModel)]='_workingDate'  bsDatepicker >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Shift</label>
						<input type='text' class='col-md-10 form-control input-text' name='Shift' [(ngModel)]='rowdata.shift'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>No In Shift</label>
						<input type='number' class='col-md-10 form-control input-text' name='NoInShift' [(ngModel)]='rowdata.noInShift'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>No In Date</label>
						<input type='number' class='col-md-10 form-control input-text' name='NoInDate' [(ngModel)]='rowdata.noInDate'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Process Id</label>
						<input type='text' class='col-md-10 form-control input-text' name='processId' [(ngModel)]='rowdata.processId'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Part List Id</label>
						<input type='text' class='col-md-10 form-control input-text' name='partListId' [(ngModel)]='rowdata.partListId'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Part No</label>
						<input type='text' class='col-md-10 form-control input-text' name='PartNo' [(ngModel)]='rowdata.partNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Part No Normalized</label>
						<input type='text' class='col-md-10 form-control input-text' name='PartNoNormalized' [(ngModel)]='rowdata.partNoNormalized'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Back No</label>
						<input type='text' class='col-md-10 form-control input-text' name='BackNo' [(ngModel)]='rowdata.backNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Pc Address</label>
						<input type='text' class='col-md-10 form-control input-text' name='PcAddress' [(ngModel)]='rowdata.pcAddress'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Sps Address</label>
						<input type='text' class='col-md-10 form-control input-text' name='SpsAddress' [(ngModel)]='rowdata.spsAddress'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Sorting</label>
						<input type='number' class='col-md-10 form-control input-text' name='Sorting' [(ngModel)]='rowdata.sorting'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Usage Qty</label>
						<input type='number' class='col-md-10 form-control input-text' name='UsageQty' [(ngModel)]='rowdata.usageQty'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Sequence No</label>
						<input type='text' class='col-md-10 form-control input-text' name='SequenceNo' [(ngModel)]='rowdata.sequenceNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Body No</label>
						<input type='text' class='col-md-10 form-control input-text' name='BodyNo' [(ngModel)]='rowdata.bodyNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Lot No</label>
						<input type='text' class='col-md-10 form-control input-text' name='LotNo' [(ngModel)]='rowdata.lotNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>No In Lot</label>
						<input type='number' class='col-md-10 form-control input-text' name='NoInLot' [(ngModel)]='rowdata.noInLot'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Grade</label>
						<input type='text' class='col-md-10 form-control input-text' name='Grade' [(ngModel)]='rowdata.grade'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Model</label>
						<input type='text' class='col-md-10 form-control input-text' name='Model' [(ngModel)]='rowdata.model'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>BodyColor</label>
						<input type='text' class='col-md-10 form-control input-text' name='BodyColor' [(ngModel)]='rowdata.bodyColor'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Ekb Qty</label>
						<input type='number' class='col-md-10 form-control input-text' name='EkbQty' [(ngModel)]='rowdata.ekbQty'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Remain Qty</label>
						<input type='number' class='col-md-10 form-control input-text' name='RemainQty' [(ngModel)]='rowdata.remainQty'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Is Zero Kb</label>
						<new-checkbox [(ngModel)]='_isZeroKb' name='isZeroKb' className='col-md-10' > </new-checkbox>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Newtakt Datetime</label>
						<input type='text' class='col-md-10 form-control input-text' name='newtaktDatetime'  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
						#datepicker='bsDatepicker' [(ngModel)]='rowdata.newtaktDatetime'  bsDatepicker >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Pik Start Datetime</label>
						<input type='text' class='col-md-10 form-control input-text' name='pikStartDatetime'  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
						#datepicker='bsDatepicker' [(ngModel)]='rowdata.pikStartDatetime'  bsDatepicker >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Pik Finish Datetime</label>
						<input type='text' class='col-md-10 form-control input-text' name='pikFinishDatetime'  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
						#datepicker='bsDatepicker' [(ngModel)]='rowdata.pikFinishDatetime'  bsDatepicker >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Del Start Datetime</label>
						<input type='text' class='col-md-10 form-control input-text' name='delStartDatetime'   [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
						#datepicker='bsDatepicker' [(ngModel)]='rowdata.delStartDatetime'  bsDatepicker >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Del Finish Datetime</label>
						<input type='text' class='col-md-10 form-control input-text' name='delFinishDatetime'  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
						#datepicker='bsDatepicker' [(ngModel)]='rowdata.delFinishDatetime'  bsDatepicker >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>KanbanId</label>
						<input type='number' class='col-md-10 form-control input-text' name='KanbanId' [(ngModel)]='rowdata.kanbanId'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>KanbanSeq</label>
						<input type='text' class='col-md-10 form-control input-text' name='KanbanSeq' [(ngModel)]='rowdata.kanbanSeq'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Status</label>
						<input type='text' class='col-md-10 form-control input-text' name='Status' [(ngModel)]='rowdata.status'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Is Active</label>
						<new-checkbox [(ngModel)]='_isActive' name='isActive' className='col-md-10' > </new-checkbox>
					</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
