<div
    bsModal
    #createOrEditModalWeldingPlan="bs-modal"
    class="modal fade col-md-12"
    role="dialog"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{ 'Edit WeldingPlan' }}</h3>
                    <h3 *ngIf="!rowdata.id">{{ 'Create New WeldingPlan' }}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form
                #applyBpForm="ngForm"
                (ngSubmit)="save()"
                autocomplete="off"
                (keyup.ESC)="close()"
            >
                <!-- Form Basic-->
                <div class="form-input">
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Model</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Model"
                            [(ngModel)]="rowdata.model"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Lot No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="LotNo"
                            [(ngModel)]="rowdata.lotNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">No In Lot</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="NoInLot"
                            [(ngModel)]="rowdata.noInLot"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Grade</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="grade"
                            [(ngModel)]="rowdata.grade"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">ProdLine</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="prodLine"
                            [(ngModel)]="rowdata.prodLine"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Body No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="bodyNo"
                            [(ngModel)]="rowdata.bodyNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Vin No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="vinNo"
                            [(ngModel)]="rowdata.vinNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Color</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Color"
                            [(ngModel)]="rowdata.color"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Plan Time</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="PlanTime"
                            [(ngModel)]="rowdata.planTime"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Request Date</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="RequestDate"
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',    }"
                            [(ngModel)]="requestDate"
                            #datepickerRequest="bsDatepicker"
                            bsDatepicker
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickerRequest.toggle()"
                        ></i>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Shift</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Shift"
                            [(ngModel)]="rowdata.shift"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">W In Date</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="WInDate"
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]="wInDate"
                            #datepickerwIn="bsDatepicker"
                            bsDatepicker
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickerwIn.toggle()"
                        ></i>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">W Out Date</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="WOutDate"
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]="wOutDate"
                            #datepickerwOut="bsDatepicker"
                            bsDatepicker
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickerwOut.toggle()"
                        ></i>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Ed In</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="EdIn"
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]="edIn"
                            #datepickeredIn="bsDatepicker"
                            bsDatepicker
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickeredIn.toggle()"
                        ></i>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">T In Plan Datetime</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="TInPlanDatetime"
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY HH:mm:ss' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',    }"
                            [(ngModel)]="tInPlanDatetime"
                            #datepickeredPlan="bsDatepicker"
                            bsDatepicker
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickeredPlan.toggle()"
                        ></i>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Vehicle Id</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="VehicleId"
                            [(ngModel)]="rowdata.vehicleId"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Cfc</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Cfc"
                            [(ngModel)]="rowdata.cfc"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Welding Id</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="WeldingId"
                            [(ngModel)]="rowdata.weldingId"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Assembly Id</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="AssemblyId"
                            [(ngModel)]="rowdata.assemblyId"
                        />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
