<div
    appBsModal
    #modal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog tmss-modal-lg">
        <div class="modal-content error">
            <div class="modal-header redline-header">
                <h4 class="modal-title">
                    <span>List Error Import</span><br>
                    <h6>please check and import again</h6>
                </h4>
                <button type="button" class="btn btn-danger" (click)="close()" >
                    <span class="close">x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="outer">
                    <table class="table table-hover bg-light">
                        <tr>
                            <th>ProdLine</th>
                            <th>Model</th>
                            <th>Lot No</th>
                            <th>No In Lot</th>
                            <th>Grade</th>
                            <th>Body No</th>
                            <th>Vin No</th>
                            <th>Shift</th>
                            <th>Plan Time</th>
                            <th>Request Date</th>
                            <th>Messages Error</th>
                        </tr>
                        <tr *ngFor="let _i of data">
                            <td>{{ _i.prodLine }}</td>
                            <td>{{ _i.model }}</td>
                            <td>{{ _i.lotNo }}</td>
                            <td>{{ _i.noInLot }}</td>
                            <td>{{ _i.grade }}</td>
                            <td>{{ _i.bodyNo }}</td>
                            <td>{{ _i.vinNo }}</td>
                            <td>{{ _i.shift }}</td>
                            <td>{{ _i.planTime }}</td>
                            <td>{{ _i.requestDate }}</td>
                            <td>{{ _i.messagesError }}</td>
                        </tr>
                    </table>
                </div>
                <div class="btn-export">
                    <button type="submit" style="margin-right: 10px" class="btn btn-danger" (click)="exportToExcel()" [disabled]="disable">
                        <i class="fa fa-file-download mr-1"></i> <span>Export List Error</span>
                        <div class="loader" [ngClass]="pending"></div>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
