<div id="container" class="mt-2" [busyIf]="isLoading">
    <div class="ui-g-12">
        <fieldset class="fieldset-border grid-parent">
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <h6 class="card-header">
                        {{ l('CPS Linkage Receive Shipment ') }}
                    </h6>
                </div>
                <div class="prod-cont">
                    <div class="ui-g-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <div class="input-search">
                                    <input [(ngModel)]="p_receipt_num" name="fromDate" class="form-control"
                                        [placeholder]="l('Receipt Number')" type="text" (keyup.enter)="searchDatas()" />
                                </div>
                                <div class="col-1">
                                    <div class="input-search">
                                        <tmss-combobox [items]="ListInventoryGroup" [text]="l('Inventory Group')"
                                            [type]="'number'" [(ngModel)]="p_invetory_group_id"></tmss-combobox>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-search">
                                        <tmss-combobox [items]="ListSuppliers" [text]="l('Supplier')" [type]="'number'"
                                            [(ngModel)]="p_vendor_id"></tmss-combobox>
                                    </div>
                                </div>
                                <div class="input-search">
                                    <input [(ngModel)]="p_po_number" name="modelVin" class="form-control"
                                        [placeholder]="l('Po Number')" type="text" (keyup.enter)="searchDatas()" />
                                </div>
                                <div class="input-search">
                                    <input type="text" placeholder="From Date" [(ngModel)]="p_from_date" name="toDate"
                                        (keydown)="searchDatas()" class="form-control" bsDatepicker #wf="bsDatepicker"
                                        placement="bottom left" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }" />
                                    <i class="fa fa-calendar-alt" (click)="wf.toggle()"></i>
                                </div>
                                <div class="input-search">
                                    <input type="text" placeholder="To Date" [(ngModel)]="p_to_date"
                                        name="workingDateTo" (keydown)="searchDatas()" class="form-control" bsDatepicker
                                        #wt="bsDatepicker" placement="bottom left"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',    }" />
                                    <i class="fa fa-calendar-alt" (click)="wt.toggle()"></i>
                                </div>
                                <div class="input-search">
                                    <input [(ngModel)]="p_part_no" name="modelVin" class="form-control"
                                        [placeholder]="l('Part No')" type="text" (keyup.enter)="searchDatas()" />
                                </div>
                                <div class="input-search">
                                    <input [(ngModel)]="p_part_name" name="modelCode" class="form-control"
                                        [placeholder]="l('Part Name')" type="text" (keyup.enter)="searchDatas()" />
                                </div>
                                <div class="btn-search">
                                    <button (click)="searchDatas()" class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="btn-search">
                                    <button (click)="clearTextSearch()" class="btn btn-primary">
                                        <i class="fas fa-backspace"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="panel panel-default pt-1">
                            <div class="ui-g-12">
                                <h4 class="card-header card-grid-table">
                                    {{ l(' Receive Shipment Headers ') }}
                                </h4>
                            </div>
                            <simple-ag-grid [columnDefs]="receiveHeaderColDefs" [defaultColDef]="defaultColDef"
                                [paginationParams]="paginationParamModels" [showPagination]="true"
                                [rowData]="rowDataModel" (callBackEvent)="callBackDataGridModel($event)"
                                (changePaginationParams)="changePageModel($event)"
                                (onChangeSelection)="onChangeRowSelectionModel($event)"
                                [frameworkComponents]="frameworkComponents">
                                <!-- [heightAuto]="false"
                                    [height]="'34vh'" -->
                            </simple-ag-grid>
                        </div>
                        <div class="panelBtn text-right"></div>
                        <div class="panelBtn text-right">

                            <button class="btn btn-success font-weight-bold " (click)="exportToExcel($event)">
                                <i class="fas fa-file-excel mr-1"></i>{{ l('Export Excel') }}
                            </button>
                        </div>
                        <div class="ui-g-12 ph-0">
                            <div class="ui-g-12">
                                <h4 class="card-header card-grid-table">
                                    {{ l(' Receive Shipment Lines ') }}
                                </h4>
                            </div>
                            <simple-ag-grid [columnDefs]="receiveLinesColDefs" [defaultColDef]="defaultColDef"
                                [paginationParams]="paginationParamLots" [showPagination]="true"
                                [rowData]="rowDataLotCodeGrade" [frameworkComponents]="frameworkComponents"
                                (callBackEvent)="callBackDataGridLotCodeGrade($event)"
                                (changePaginationParams)="changePageLotCodeGrade($event)"
                                (onChangeSelection)="onChangeRowSelectionLotCodeGrade($event)">
                            </simple-ag-grid>
                            <!-- [heightAuto]="false"
                                    [height]="'34vh'" -->
                        </div>
                        <hr>
                        <div class="panelBtn text-right">
                            <button class="btn btn-success font-weight-bold " (click)="exportLinesToExcel($event)">
                                <i class="fas fa-file-excel mr-1"></i>{{ l('Export Excel') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
