<div appBsModal #exportExcelModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="exportExcelModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog tmss-modal-lg">
        <div class="modal-content exportbymodel"
            style="">

            <h4 class="modal-title">
                <span style="padding-left: 148px">{{ l('Export Excel By Model') }}</span>
            </h4>

            <div class="modal-footer ">
                <div class="se_op">
                    <select class="select-modal" [(ngModel)]="selectedOption">
                        <option value="" [selected]>Select modal</option>
                        <option value="I">Innova</option>
                        <option value="F">Fortuner</option>
                        <option value="V">Vios</option>
                        <option value="A">Avanza</option>
                    </select>
                </div>
                <div class="act_btn">
                    <button class="btn btn-success font-weight-bold" (click)="downLoadbyModel()">
                        <i class="fas fa-file-excel mr-1"></i>{{ l('Dowload') }}
                    </button>
                    <button (click)="closeModal()" type="button" class="btn btn-danger">
                        <i class="fa fa-times mr-1"></i>{{ l('Đóng') }}
                    </button>
                </div>


            </div>
        </div>
    </div>
</div>
