<div
    bsModal
    #createOrEditModalEciPart="bs-modal"
    class="modal fade col-md-12"
    role="dialog"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{ 'Edit EciPart' }}</h3>
                    <h3 *ngIf="!rowdata.id">{{ 'Create New EciPart' }}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form
                #applyBpForm="ngForm"
                (ngSubmit)="save()"
                autocomplete="off"
                (keyup.ESC)="close()"
            >
                <!-- Form Basic-->
                <div class="form-input">
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Module No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="ModuleNo"
                            [(ngModel)]="rowdata.moduleNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Part No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="PartNo"
                            [(ngModel)]="rowdata.partNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Supplier No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="SupplierNo"
                            [(ngModel)]="rowdata.supplierNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Module No Eci</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="ModuleNoEci"
                            [(ngModel)]="rowdata.moduleNoEci"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Part No Eci</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="PartNoEci"
                            [(ngModel)]="rowdata.partNoEci"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Supplier No Eci</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="SupplierNoEci"
                            [(ngModel)]="rowdata.supplierNoEci"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Start Eci Seq</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="StartEciSeq"
                            [(ngModel)]="rowdata.startEciSeq"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Start Eci Renban</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="StartEciRenban"
                            [(ngModel)]="rowdata.startEciRenban"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Start Eci Module</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="StartEciModule"
                            [(ngModel)]="rowdata.startEciModule"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Is Active</label>
                        <new-checkbox [(ngModel)]="_isActive" name="isActive" className="col-md-10"> </new-checkbox>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
