<div
    bsModal
    #createOrEditModalLotUpPlan="bs-modal"
    class="modal fade col-md-12"
    role="dialog"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{ 'Edit LotUpPlan' }}</h3>
                    <h3 *ngIf="!rowdata.id">{{ 'Create New LotUpPlan' }}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form
                #applyBpForm="ngForm"
                (ngSubmit)="save()"
                autocomplete="off"
                (keyup.ESC)="close()"
            >
                <!-- Form Basic-->
                <div class="form-input">
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Prod Line</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="ProdLine"
                            [(ngModel)]="rowdata.prodLine"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Working Date</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="workingDate"
                            #datepicker="bsDatepicker"  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]="_workingDate"
                            bsDatepicker
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Shift</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Shift"
                            [(ngModel)]="rowdata.shift"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">No In Shift</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="NoInShift"
                            [(ngModel)]="rowdata.noInShift"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">No In Day</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="NoInDay"
                            [(ngModel)]="rowdata.noInDay"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Lot No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="LotNo"
                            [(ngModel)]="rowdata.lotNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Lot Partial No</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="LotPartialNo"
                            [(ngModel)]="rowdata.lotPartialNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Up Start Datetime</label>
                        <input
                            type="datetime-local"
                            class="col-md-10 form-control input-text"
                            name="unpackingStartDatetime"
                            [(ngModel)]="_startDatetime"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Up Finish Datetime</label>
                        <input
                            type="datetime-local"
                            class="col-md-10 form-control input-text"
                            name="unpackingFinishDatetime"
                            [(ngModel)]="_finishDatetime"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Tpm</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Tpm"
                            [(ngModel)]="rowdata.tpm"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Remarks</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Remarks"
                            [(ngModel)]="rowdata.remarks"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">UpCalltime</label>
                        <input
                            type="datetime-local"
                            class="col-md-10 form-control input-text"
                            name="upCalltime"
                            [(ngModel)]="_upCalltime"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Unpacking Actual Finish Datetime</label>
                        <input
                            type="datetime-local"
                            class="col-md-10 form-control input-text"
                            name="unpackingActualFinishDatetime"
                            [(ngModel)]="_unpackingActualFinishDatetime"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Unpacking Actual Start Datetime</label>
                        <input
                            type="datetime-local"
                            class="col-md-10 form-control input-text"
                            name="unpackingActualStartDatetime"
                            [(ngModel)]="_unpackingActualStartDatetime"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">UpStatus</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="UpStatus"
                            [(ngModel)]="rowdata.upStatus"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Making Finish Datetime</label>
                        <input
                            type="datetime-local"
                            class="col-md-10 form-control input-text"
                            name="MakingFinishDatetime"
                            [(ngModel)]="_makingFinishDatetime"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">MkStatus</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="MkStatus"
                            [(ngModel)]="rowdata.mkStatus"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Is Active</label>
                        <new-checkbox [(ngModel)]="_isActive" name="isActive" className="col-md-10"> </new-checkbox>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
