<div id="container" class="mt-2" [busyIf]="isLoading">
    <div class="ui-g-12">
        <fieldset class="fieldset-border grid-parent">
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <h6 class="card-header">
                        {{ l(' GPS Warehouse Stock Receiving Transaction Details ') }}
                    </h6>
                </div>
                <div class="prod-cont">
                    <div class="ui-g-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <div class='input-search'>
                                    <input [(ngModel)]='partNo' name='partNo' class='form-control'
                                        [placeholder]="l('Part No')" type='text'
                                        (keyup.enter)='searchDatas()'>
                                </div>
                                <div class="input-search">
                                    <input type="text" placeholder="Working Date From"
                                        [(ngModel)]="workingDateFrom" name="workingDateFrom"
                                        class="form-control" bsDatepicker #wf="bsDatepicker"
                                        placement="bottom left"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }" />
                                    <i class="fa fa-calendar-alt" (click)="wf.toggle()"></i>
                                </div>
                                <div class="input-search">
                                    <input type="text" placeholder="Working Date To"
                                        [(ngModel)]="workingDateTo" name="workingDateTo"
                                        class="form-control" bsDatepicker #wt="bsDatepicker"
                                        placement="bottom left"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }" />
                                    <i class="fa fa-calendar-alt" (click)="wt.toggle()"></i>
                                </div>
                                <div class="btn-search">
                                    <button (click)="searchDatas()" class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="btn-search">
                                    <button (click)="clearTextSearch()" class="btn btn-primary">
                                        <i class="fas fa-backspace"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="panel panel-default pt-1">
                            <grid-table
                                [columnDefs]="defaultColDefs"
                                [paginationParams]="paginationParams"
                                [rowData]="rowData"
                                [defaultColDef]="defaultColDef"
                                (callBackEvent)="callBackDataGrid($event)"
                                (changePaginationParams)="changePage($event)"
                                (onChangeSelection)="onChangeRowSelection($event)"
                                [rowSelection]="rowSelection"
                                [frameworkComponents]="frameworkComponents">
                            </grid-table>
                        </div>
                        <hr>
                        <div class="panelBtn text-right">
                            <button *ngIf="isGranted('Pages.DMIHP.Stock.StockPartExcel.Import')"
                            class="btn btn-primary font-weight-bold" (click)="importExcelModal.show()">
                                 <i class="fas fa-file-import"></i>{{ l('Import Excel') }}
                            </button>
                            <button class="btn btn-success font-weight-bold "
                                (click)="exportToExcel($event)">
                                <i class="fas fa-file-excel mr-1"></i>{{ l('Export Excel') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>


<import-stockreceivingtransaction #importExcelModal></import-stockreceivingtransaction>