<div id="container" class="mt-2" [busyIf]="isLoading">
    <div class="ui-g-12">
        <fieldset class="fieldset-border grid-parent">
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <h6 class="card-header">
                         {{ l(' Inventory GPS Part List ') }}
                    </h6>
                </div>
                <div class="prod-cont">
                    <div class="ui-g-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <div class="input-search">
                                    <input
                                        [(ngModel)]="partNo"
                                        name="partNo"
                                        class="form-control"
                                        [placeholder]="l('Part No')"
                                        type="text"
                                        (keyup.enter)="searchDatas()"
                                    />
                                </div>
                                <div class="input-search">
                                    <input
                                        [(ngModel)]="supplierNo"
                                        name="SupplierNo"
                                        class="form-control"
                                        [placeholder]="l('SupplierNo')"
                                        type="text"
                                        (keyup.enter)="searchDatas()"
                                    />
                                </div>

                                <div class='input-search' >
                                    <tmss-combobox
                                        [items]="isPartColorList"
                                        name="isPartColor"
                                        [(ngModel)]="isPartColor"
                                        [text]="l('PartColor')"
                                        (onChangeValue)="searchDatas()"
                                    ></tmss-combobox>
                                </div>
                                <div class="btn-search">
                                    <button (click)="searchDatas()" class="btn btn-primary" >
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="btn-search">
                                    <button (click)="clearTextSearch()" class="btn btn-primary"  >
                                        <i class="fas fa-backspace"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12">
                            <h6 class="card-header">
                                 {{ l(' Part List ') }}
                            </h6>
                        </div>
                        <!-- <form autocomplete="on">  NGHIÊM CẤM THÊM FROM VÀO GRID-->
                        <div class="panel panel-default pt-1">
                            <grid-table
                                [columnDefs]="listColDefs"
                                [paginationParams]="paginationParams"
                                [rowData]="rowData"
                                [defaultColDef]="defaultColDef"
                                (callBackEvent)="callBackDataGrid($event)"
                                (changePaginationParams)="changePage($event)"
                                (onChangeSelection)="onChangeRowSelection($event)"
                                [rowSelection]="rowSelection"
                                (selectionChanged)="onSelectionMulti($event)"

								[frameworkComponents]="frameworkComponents"
                            >
                            </grid-table>
                            <!--       [height]="'33vh'"
                                [heightAuto]="false" -->
                        </div>
                        <div class=" panelBtn text-right">
                            <button *ngIf="isGranted('Pages.Gps.Master.PartList.Validate')"
                                class="btn btn-warning font-weight-bold " [disabled]="!selectedRow.partNo"
                                (click)="viewGpsValidatePartListModal.show()">
                                <i class="fas fa-check-circle mr-1"></i>{{ l('Validate') }}
                            </button>
                        </div>


                        <div class="ui-g-12 ph-0">
                            <div class="ui-g-12">
                                <h6 class="card-header">
                                     {{ l(' Details ') }}
                                </h6>
                            </div>
                            <grid-table
                                [columnDefs]="gradeColDefs"
                                [paginationParams]="paginationParamsPartGrade"
                                [showPagination]="true"
                                [rowData]="rowDataGrade"
                                [defaultColDef]="defaultColDef"
                                [frameworkComponents]="frameworkComponents"
                                (changePaginationParams)="changePageGrade($event)"
                                (selectionChanged)="onSelectionMulti($event)"
                                (callBackEvent)="callBackDataGrid_PartGrade($event)"
                               >
                            </grid-table>
                            <!--  [heightAuto]="false"
                                [height]="'33vh'" -->
                        </div>
                        <!-- <form autocomplete="on">  NGHIÊM CẤM THÊM FROM VÀO GRID-->
                        <hr>

                        <div class="panelBtn text-right"  >
                            <button *ngIf="isGranted('Pages.Gps.Master.PartList.Import')"
                                    class="btn btn-primary font-weight-bold" (click)="importExcelModal.show('Color')">
                                <i class="fas fa-file-import"></i>{{ l('Import Excel PartList Color') }}
                            </button>
                            <button *ngIf="isGranted('Pages.Gps.Master.PartList.Import')"
                                    class="btn btn-primary font-weight-bold" (click)="importExcelModal.show('NoColor')">
                                <i class="fas fa-file-import"></i>{{ l('Import Excel PartList NoColor') }}
                            </button>
                            <button class="btn btn-success font-weight-bold " (click)="exportToExcel($event)">
                                <i class="fas fa-file-excel mr-1"></i>{{ l('Export Excel') }}
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<import-partlist-modal #importExcelModal ></import-partlist-modal>
<!-- <import-partlistnocolor-modal #importExcelNoColorModal ></import-partlistnocolor-modal> -->
<view-gps-validate-partlist-modal #viewGpsValidatePartListModal></view-gps-validate-partlist-modal>
