<div class="PTA">
    <div class="PTA_bg"></div>
    <div class="PTA_Content">
        <div class="WARP">
            <div class="content tack">
                <div class="devancontent">
                    <div class="devan next">
                        <div class="cont">
                            <div class="item lager Title_bg">
                                <div class="cont_bg"></div>
                                <span class="TITLE titNext">NEXT</span>
                            </div>
                            <div class="item small lotno">
                                <span class="LOT_NO"></span>
                            </div>
                            <div class="item big bodyno" >
                                <span class="BODY_NO"></span>
                            </div>
                        </div>
                    </div>
                    <div class="devan current">
                        <div class="cont ">
                            <div class="item lager Title_bg">
                                <div class="cont_bg"></div>
                                <span class="TITLE titCurrent">CURRENT</span>
                            </div>
                            <div class="item small lotno">
                                <span class="LOT_NO"></span>
                            </div>
                            <div class="item big bodyno">
                                <span class="BODY_NO"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="devancontent progressbar">
                    <div class="cont">
                        <div class="item lager">
                            <div class="barprocess"></div>
                            <div class="COUNTDOWN_SECOND"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="devancontent">
                    <div class="devan current">
                        <div class="cont ChangeTip">
                            <div class="cont_bg"></div>
                            <div class="item small">
                                <div class="WARP">
                                    <div class="col col-x1 txt1">No. of<br>call part</div>
                                    <div class="col col-x5">Change tip status</div>
                                </div>
                            </div>
                            <div class="item small">
                                <div class="WARP">
                                    <div class="col col-x1 NoOfCallPart"></div>
                                    <div class="col col-x1 ChangeTipWhite"></div>
                                    <div class="col col-x1 ChangeTipGreen"></div>
                                    <div class="col col-x1 ChangeTipYellow"></div>
                                    <div class="col col-x1 ChangeTipOrange"></div>
                                    <div class="col col-x1 ChangeTipPink"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="devan next">
                        <div class="cont TackProcess">
                            <div class="cont_bg"></div>
                            <div class="item small">
                                <div class="WARP">
                                    <div class="col col-x2">Tact time</div>
                                    <div class="col col-x1">Plan</div>
                                    <div class="col col-x1">Act</div>
                                    <div class="col col-x1">Delay</div>
                                    <div class="col col-x1">Eff</div>
                                </div>
                            </div>
                            <div class="item small">
                                <div class="WARP">
                                    <div class="col col-x2 TatkTime"></div>
                                    <div class="col col-x1 PlanNum"></div>
                                    <div class="col col-x1 ActualNum"></div>
                                    <div class="col col-x1 DelayNum"></div>
                                    <div class="col col-x1 Eff"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

