<div bsModal #createDocumentIssuing="bs-modal" class="modal fade col-12" role="dialog"
    [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-12">
            <div class="modal-header col-12">
                <h2  >{{ l('Create Request Issuing') }}</h2>
            </div>
        </div>
        <div class="modal-content col-12">
            <form #applyBpForm="ngForm" autocomplete="off"  (keyup.ESC)="close()">
                <div class="form-input">
                    <div class='col-12 row'>
                        <div class='col-6 form-group'>
                            <label class='col-2 form-control title'>Document No</label>
                            <input type='text' class='col-4 form-control input-text' name='documentNo'
                                [(ngModel)]='rowData.documentNo' readonly>
                        </div>
                        <div class='col-6 form-group'>
                            <label class='col-2 form-control title'>Document Date</label>
                            <input type='text' class='col-10 form-control input-text' name='team'
                                [(ngModel)]='rowData.documentDate' readonly>
                        </div>
                    </div>
                    <div class='col-12 row'>
                        <div class='col-6 form-group'>
                            <label class='col-2 form-control title'>Shop</label>
                            <input type='text' class='col-4 form-control input-text' name='shop'
                                [(ngModel)]='rowData.shop' readonly>
                        </div>
                        <div class='col-6 form-group'>
                            <label class='col-2 form-control title'>Status</label>
                            <input class='col-4 form-control font-imput input-text' name='qtyRequest'
                                [(ngModel)]='rowData.status' readonly>
                        </div>
                    </div>
                    <div class='col-12 row'>
                        <div class='col-6 form-group cost-center' >
                            <label class='col-4 form-control title'>Cost Center</label>
                            <tmss-combobox [items]="listCostCenter" [(ngModel)]="rowData.costCenter" (onChangeValue)="onChangeCostCenter($event)" name="costCenter" class='col-md-8'></tmss-combobox>
                        </div>
                        <div class='col-6 form-group'>
                            <label class='col-2 form-control title'>Project</label>
                            <input class='col-4 form-control input-text' name='project' [(ngModel)]='_project'>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary font-weight-bold" (click)="submit($event)">
                            <i class="fa tmss-fa fa-save mr-1"></i> {{ l('Save') }}
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<confirm-dialog #confirmDialog [isConfirm]="false"  ></confirm-dialog>