<div bsModal #createItemIssuing="bs-modal" class="modal fade col-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-12">
            <div class="modal-header col-12">
                <h2  >{{ l('Create New Item Request') }}</h2>
            </div>
        </div>
        <div class="modal-content col-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
                    <div class='col-12 row itemIssuing'>
                        <div class='col-6 form-group'>
                            <label class=' form-control title itemIssuingTitle'>DocumentNo</label>
                            <input type='text' class=' form-control input-text' name='documentNo' [(ngModel)]='rowdata.documentNo' readonly>
                        </div>
                        <div class='col-6 form-group'>
                            <label class=' form-control title itemIssuingTitle'>Shop</label>
                            <input type='text' class=' form-control input-text' name='shop' [(ngModel)]='rowdata.shop' readonly>
                        </div>
					</div>
                    <div class='col-12 row itemIssuing'>
                        <div class='col-6 form-group'>
                            <label class=' form-control title itemIssuingTitle'>Team</label>
						    <input type='text' class=' form-control input-text' name='team' [(ngModel)]='rowdata.team' readonly>
                        </div>
                        <div class='col-6 form-group'>
                            <label class=' form-control title itemIssuingTitle'>Cost Center</label>
						    <input type='text' class=' form-control input-text' name='costCenter' [(ngModel)]='rowdata.costCenter' readonly>
                        </div>
					</div>
					<div class='col-12 row itemIssuing'>
                        <div class='col-6 form-group'>
                            <label class=' form-control title itemIssuingTitle'>Part No</label>
                            <production-combobox [list]="partNoList" name="PartNo"
                                [(ngModel)]="_partNo" [ngClass]="minwidth0" >
                            </production-combobox>
                            <!-- <input type='text' class=' form-control input-text' name='' [(ngModel)]=''> -->
                        </div>
                        <div class='col-6 form-group'>
                            <label class=' form-control title itemIssuingTitle'>Qty Request</label>
                            <input type='number' class=' form-control input-text' (change)="CheckRequest($event)" name='qtyRequest' [(ngModel)]='_qtyRequest'>
                        </div>
					</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
