<div bsModal #viewFundCommitmentItem="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }" [busyIf]="isLoading">
    <div class="modal-dialog modal-lg"  style=" min-width: 92%;
    margin-left: 4%;
    margin-right: 4%;">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3>{{('View Fund Commitment Item DM')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <!-- <form #applyBpForm="ngForm" autocomplete="off" (keyup.ESC)="close()"> -->
            <div class="form-input">
                <grid-table
                [columnDefs]="viewColDefs"
                [paginationParams]="paginationParams"
                [showPagination]="true" 
                [rowData]="rowData"
                [defaultColDef]="defaultColDef" 
                (callBackEvent)="callBackDataGrid($event)"
                (changePaginationParams)="changePage($event)"
                (onChangeSelection)="onChangeRowSelection($event)"
                [height]="'40vh'" 
                [heightAuto]="false"
                [frameworkComponents]="frameworkComponents">
                </grid-table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary font-weight-bold"  (click)="showRequest()">
                    <i class="fa-regular fa-eye"></i>{{ l('View Request ') }}
                </button>
                <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
					    <i class="fa tmss-fa fa-times mr-1"></i>{{ l('Cancel') }}
				    </button>
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>
<view-request-cmm-selected-modal #viewRequestSelectModal></view-request-cmm-selected-modal>
