
<div class="PTA">
    <div class="PTA_Content">
        <div class="WARP">
            <div class="bPanel pTop">
                <div class="pTopItem Title">SB picking line</div>
                <div class="pTopItem BodyCount">
                    <div class="pTBItem topTit">Body</div>
                    <div class="pTBItem topVal"></div>
                </div>
            </div>
            <div class="bPanel pBody">
                <div class="pBodyline pBodyTitle">
                    <div class="pBTitle Next">Next (N+1)</div>
                    <div class="pBTitle Current">Current (N)</div>
                </div>
                <div class="pBodyline pBodyContent">
                    <div class="pBContent Next Seq2 Filler2">
                        <div class="pBCItem LOT_NO"></div>
                        <div class="pBCItem BODY_NO"></div>
                    </div>
                    <div class="pBContent Current Seq3 Filler3">
                        <div class="pBCItem LOT_NO"></div>
                        <div class="pBCItem BODY_NO"></div>
                    </div>
                    <div class="pBContent Total">
                        <div class="pBCItem TT1">
                            <div class="TT1Item title">TT</div>
                            <div class="TT1Item value wTalkTime"></div>
                        </div>
                        <div class="pBCItem TT2">
                            <div class="TT1Item title">Unique</div>
                            <div class="TT1Item value punchIndicator"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bPanel pBot">
                <div class="pBotItem">AGV delay time (s)</div>
                <div class="pBotItem"></div>
                <div class="pBotItem">Mbr delay time (s)</div>
                <div class="pBotItem"></div>
                <div class="pBotItem">W delay time (s)</div>
                <div class="pBotItem"></div>
            </div>
        </div>
     </div>
     <div class="controlMessage">
        <span class="time_now_log"></span>
    </div>
</div>
<div class="PTA_bg"></div>
<div class="clear"></div>



