<div bsModal #createOrEditModalPhysicalStockPart="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit PhysicalStockPart')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New PhysicalStockPart')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()"  >
            <!-- Form Basic-->
                <div class="form-input">
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Part No</label>
						<input type='text' class='col-md-10 form-control input-text' [readOnly]="disable" name='partNo' [(ngModel)]='rowdata.partNo'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Color Sfx</label>
						<input type='text' class='col-md-10 form-control input-text'  [readOnly]="disable" name='colorSfx' [(ngModel)]='rowdata.colorSfx'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Part Name</label>
						<input type='text' class='col-md-10 form-control input-text' [readOnly]="disable" name='partName' [(ngModel)]='rowdata.partName'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Part No Normalized S4</label>
						<input type='text' class='col-md-10 form-control input-text' [readOnly]="disable" name='partNoNormalizedS4' [(ngModel)]='rowdata.partNoNormalizedS4'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Lot No</label>
						<input type='text' class='col-md-10 form-control input-text' [readOnly]="disable" name='lotNo' [(ngModel)]='rowdata.lotNo'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Cfc</label>
						<input type='text' class='col-md-10 form-control input-text' [readOnly]="disable" name='cfc' [(ngModel)]='rowdata.cfc'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Supplier No</label>
						<input type='text' class='col-md-10 form-control input-text' [readOnly]="disable" name='supplierNo' [(ngModel)]='rowdata.supplierNo'>
					</div>

                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Material Id</label>
						<input type='text' class='col-md-10 form-control input-text' [readOnly]="disable" name='materialId' [(ngModel)]='rowdata.materialId'>
					</div>

                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Begin Qty</label>
						<input type='text' class='col-md-10 form-control input-text' [readOnly]="disable" name='beginQty' [(ngModel)]='rowdata.beginQty'>
					</div>

                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Receive Qty</label>
						<input type='text' class='col-md-10 form-control input-text' [readOnly]="disable" name='receiveQty' [(ngModel)]='rowdata.receiveQty'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Issue Qty</label>
						<input type='text' class='col-md-10 form-control input-text' [readOnly]="disable" name='issueQty' [(ngModel)]='rowdata.issueQty'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Calculator Qty</label>
						<input type='text' class='col-md-10 form-control input-text' [readOnly]="disable" name='calculatorQty' [(ngModel)]='rowdata.calculatorQty'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Actual Qty &nbsp;<span class="text-danger"> (*)</span></label>
						<input type='number' class='col-md-10 form-control input-text' min="0" name='actualQty' [(ngModel)]='_actualQty' >
					</div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Last Cal Date Time</label>
                        <input
                            type="datetime-local"
                            class="col-md-9 form-control input-text"
                            name="lastCalDatetime"
                            [(ngModel)]="_lastCalDatetime"
                            [readOnly]="disable"
                        />
                    </div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Is Active</label>
						<new-checkbox [(ngModel)]='_isActive' name='isActive' className='col-md-10' > </new-checkbox>
					</div>
                    <div class="modal-footer" >
                        <button type="submit" class="btn btn-primary font-weight-bold" >
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
