<div
    appBsModal
    #modal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog tmss-modal-lg">
        <div class="modal-content error">
            <div class="modal-header redline-header">
                <h4 class="modal-title" *ngIf="screen == 'P'">
                    <span>List Error Import Stock Part</span><br>
                    <h6>please check and import again</h6>
                </h4>
                <h4 class="modal-title" *ngIf="screen == 'L'">
                    <span>List Error Import Stock LOT</span><br>
                    <h6>please check and import again</h6>
                </h4>
                <button type="button" class="btn btn-danger" (click)="close()" >
                    <span class="close">x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="outer">
                    <table class="table table-hover bg-light" *ngIf="screen == 'L'">
                        <tr>
                            <th>No</th>
                            <th>LotNo</th>
                            <th>Shop</th>
                            <th>Qty</th>
                            <th>Messages Error</th>
                        </tr>
                        <tr *ngFor="let _i of data">
                            <td>{{ _i.roW_NO }}</td>
                            <td>{{ _i.lotNo }}</td>
                            <td>{{ _i.shop }}</td>
                            <td>{{ _i.qty }}</td>
                            <td>{{ _i.errorDescription }}</td>
                        </tr>
                    </table>

                    <table class="table table-hover bg-light" *ngIf="screen == 'P'">
                        <tr>
                            <th>No</th>
                            <th>PartNo</th>
                            <th>Cfc</th>
                            <th>SupplierNo</th>
                            <th>Qty</th>
                            <th>Messages Error</th>
                        </tr>
                        <tr *ngFor="let _i of data">
                            <td>{{ _i.roW_NO }}</td>
                            <td>{{ _i.partNo }}</td>
                            <td>{{ _i.cfc }}</td>
                            <td>{{ _i.supplierNo }}</td>
                            <td>{{ _i.qty }}</td>
                            <td>{{ _i.errorDescription }}</td>
                        </tr>
                    </table>
                </div>
                <div class="btn-export">
                    <button type="submit" class="btn btn-danger mr-1 position-relative" (click)="exportToExcel()" [disabled]="disable">
                        <i class="fa fa-file-download mr-1"></i> <span>Export List Error</span>
                        <div class="loader" [ngClass]="pending"></div>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
