<div bsModal #createOrEditModalBarScanInfo="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit BarScanInfo')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New BarScanInfo')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>User Id</label>
						<input type='text' class='col-md-10 form-control input-text' name='UserId' [(ngModel)]='rowdata.userId'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>User Name</label>
						<input type='text' class='col-md-10 form-control input-text' name='UserName' [(ngModel)]='rowdata.userName'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Scan Value</label>
						<input type='text' class='col-md-10 form-control input-text' name='ScanValue' [(ngModel)]='rowdata.scanValue'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Scan Part No</label>
						<input type='text' class='col-md-10 form-control input-text' name='ScanPartNo' [(ngModel)]='rowdata.scanPartNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Scan Back No</label>
						<input type='text' class='col-md-10 form-control input-text' name='ScanBackNo' [(ngModel)]='rowdata.scanBackNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Scan Type</label>
						<input type='text' class='col-md-10 form-control input-text' name='scanType'  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
						#datepicker='bsDatepicker' [(ngModel)]='rowdata.scanType'  bsDatepicker >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Scan Datetime</label>
						<input type='text' class='col-md-10 form-control input-text' name='ScanDatetime' [(ngModel)]='rowdata.scanDatetime'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>ProdLine</label>
						<input type='text' class='col-md-10 form-control input-text' name='prodLine' [(ngModel)]='rowdata.prodLine'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Ref Id</label>
						<input type='text' class='col-md-10 form-control input-text' name='RefId' [(ngModel)]='rowdata.refId'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Status</label>
						<new-checkbox [(ngModel)]='_status' name='status' className='col-md-10' > </new-checkbox>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Active</label>
						<new-checkbox [(ngModel)]='_isActive' name='IsActive' className='col-md-10' > </new-checkbox>
					</div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
