<div bsModal #createOrEditModal="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit Part List By Category')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New Part List By Category')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->

                    <div class="row">
                        <div class="col col-md-12">
                            <div class="form-input">
                                <div class='col-md-12 form-group row'>
                                    <label style="width: 150px;" class='form-control title'>Part No</label>
                                    <input type='text' class='col-md-10 form-control input-text' name='PartNo' [(ngModel)]='rowdata.item'>
                                </div>
                                <div class='col-md-12 form-group row'>
                                    <label style="width: 150px;" class='form-control title'>Description</label>
                                    <input type='text' class='col-md-10 form-control input-text' name='Description' [(ngModel)]='rowdata.description'>
                                </div>
                                <div class='col-md-12 form-group row'>
                                    <label style="width: 150px;" class='form-control title'>Uom</label>
                                    <input type='text' class='col-md-10 form-control input-text' name='Uom' [(ngModel)]='rowdata.uom'>
                                </div>
                                <div class="col-md-12 form-group row">
                                    <label style="width: 150px;" class='form-control title'>Category</label>
                                    <tmss-combobox
                                        [height]="'250px'"
                                        [items]="categoryList"
                                        name="Category"
                                        [selectedItem]="rowdata.category"
                                        [(ngModel)]="rowdata.category"
                                        [style]="{ 'border-radius': '5px','width':'auto', 'flex':'1'}"
                                    ></tmss-combobox>
                                </div>
                                <div class='col-md-12 form-group row'>
                                    <label style="width: 150px;" class='form-control title'>Location</label>
                                    <input type='text' class='col-md-10 form-control input-text' name='Location' [(ngModel)]='rowdata.location'>
                                </div>
                                <div class='col-md-12 form-group row'>
                                    <label style="width: 150px;" class='form-control title'>Expense Account</label>
                                    <input type='text' class='col-md-10 form-control input-text' name='ExpenseAccount' [(ngModel)]='rowdata.expenseAccount'>
                                </div>
                                <div class='col-md-12 form-group row'>
                                    <label style="width: 150px;" class='form-control title'>Group</label>
                                    <input type='text' class='col-md-10 form-control input-text' name='Group' [(ngModel)]='rowdata.group'>
                                </div>
                                <div class='col-md-12 form-group row'>
                                    <label style="width: 150px;" class='form-control title'>Current Category</label>
                                    <input type='text' class='col-md-10 form-control input-text' name='CurrentCategory' [(ngModel)]='rowdata.currentCategory'>
                                </div>
                                <div class='col-md-12 form-group row'>
                                    <label style="width: 150px;" class='form-control title'>Part Type</label>
                                    <input type='text' class='col-md-10 form-control input-text' name='PartType' [(ngModel)]='rowdata.partType'>
                                </div>
                            </div>
                         </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
            </form>
        </div>
    </div>
</div>
