<div
    bsModal
    #createOrEditModalPxPUpPlan="bs-modal"
    class="modal fade col-md-12"
    role="dialog"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{ 'Edit PxPUpPlan' }}</h3>
                    <h3 *ngIf="!rowdata.id">{{ 'Create New PxPUpPlan' }}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form
                #applyBpForm="ngForm"
                (ngSubmit)="save()"
                autocomplete="off"
                (keyup.ESC)="close()"
            >
                <!-- Form Basic-->
                <div class="form-input">
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Prod Line</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="ProdLine"
                            [(ngModel)]="rowdata.prodLine"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Working Date</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="workingDate"
                            #datepickerworkingDate="bsDatepicker"  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]="_workingDate"
                            bsDatepicker
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickerworkingDate.toggle()"
                        ></i>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Shift</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Shift"
                            [(ngModel)]="rowdata.shift"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">No In Shift</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="NoInShift"
                            [(ngModel)]="rowdata.noInShift"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Seq Line In</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="SeqLineIn"
                            [(ngModel)]="rowdata.seqLineIn"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Case No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="CaseNo"
                            [(ngModel)]="rowdata.caseNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Supplier No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="SupplierNo"
                            [(ngModel)]="rowdata.supplierNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Up Table</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="UpTable"
                            [(ngModel)]="rowdata.upTable"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Is No Pxp Data</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="IsNoPxpData"
                            [(ngModel)]="rowdata.isNoPxpData"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Unpacking Start Datetime</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="unpackingStartDatetime"
                            #datepickerunpackingStartDatetime="bsDatepicker"  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]="_unpackingStartDatetime"
                            bsDatepicker
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickerunpackingStartDatetime.toggle()"
                        ></i>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Unpacking Finish Datetime</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="unpackingFinishDatetime"
                            #datepickerunpackingFinishDatetime="bsDatepicker"  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]="_unpackingFinishDatetime"
                            bsDatepicker
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickerunpackingFinishDatetime.toggle()"
                        ></i>
                    </div>

                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Delay Confirm Flag</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="delayConfirmFlag"
                            #datepickerdelayConfirmFlag="bsDatepicker"  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]="_delayConfirmFlag"
                            bsDatepicker
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickerdelayConfirmFlag.toggle()"
                        ></i>
                    </div>

                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Delay Second</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="DelaySecond"
                            [(ngModel)]="rowdata.delaySecond"
                        />
                    </div>

                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Invoice Date</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="invoiceDate"
                            #datepickerinvoiceDate="bsDatepicker"  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]="_invoiceDate"
                            bsDatepicker
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickerinvoiceDate.toggle()"
                        ></i>
                    </div>

                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Unpacking Date</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="unpackingDate"
                            #datepickerunpackingDate="bsDatepicker"  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]="_unpackingDate"
                            bsDatepicker
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickerunpackingDate.toggle()"
                        ></i>
                    </div>

                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Unpacking Datetime</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="unpackingDatetime"
                            #datepickerunpackingDatetime="bsDatepicker"  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]="_unpackingDatetime"
                            bsDatepicker
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickerunpackingDatetime.toggle()"
                        ></i>
                    </div>

                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Unpacking Time</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="unpackingTime"
                            [(ngModel)]="rowdata.unpackingTime"
                        />
                    </div>

                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">UpLt</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="upLt"
                            [(ngModel)]="rowdata.upLt"
                        />
                    </div>

                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">WhLocation</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="whLocation"
                            [(ngModel)]="rowdata.whLocation"
                        />
                    </div>

                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Status</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="status"
                            [(ngModel)]="rowdata.status"
                        />
                    </div>

                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Remarks</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="remarks"
                            [(ngModel)]="rowdata.remarks"
                        />
                    </div>

                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Is Active</label>
                        <new-checkbox [(ngModel)]="_isActive" name="isActive" className="col-md-10"> </new-checkbox>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
