<div class="JIRIRIKOKU">
    <div class="time_now_log"></div>
    <div class="LEFT-CONTENT">
        <div class="LEFT-CT1">T.T  {{taktTime}}</div>
        <div class="LEFT-CT2">
            <div class="LCT2T col-6">Eff</div>
            <div class="LCT2P col-6">Trip</div>
        </div>
        <div class="LEFT-CT3">
            <div class="LCT3T col-6">{{efficiency}} %</div>
            <div class="LCT3P col-6">DEL 1</div>
        </div>
    </div>
    <div class="RIGHT-CONTENT">
        <div class="RIGHT-CT1"></div>
        <div class="RIGHT-CT2"></div>
        <div class="RIGHT-CT3"></div>
    </div>
</div>
