<div bsModal #createOrEditModalBmpPartList="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit BmpPartList')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New BmpPartList')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Model</label>
						<input type='text' class='col-md-10 form-control input-text' name='Model' [(ngModel)]='rowdata.model'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Cfc</label>
						<input type='text' class='col-md-10 form-control input-text' name='Cfc' [(ngModel)]='rowdata.cfc'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Grade</label>
						<input type='text' class='col-md-10 form-control input-text' name='Grade' [(ngModel)]='rowdata.grade'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Back No</label>
						<input type='text' class='col-md-10 form-control input-text' name='BackNo' [(ngModel)]='rowdata.backNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Prod Line</label>
						<input type='text' class='col-md-10 form-control input-text' name='ProdLine' [(ngModel)]='rowdata.prodLine'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Part Type Code</label>
						<input type='text' class='col-md-10 form-control input-text' name='PartTypeCode' [(ngModel)]='rowdata.partTypeCode'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Process</label>
						<input type='text' class='col-md-10 form-control input-text' name='Process' [(ngModel)]='rowdata.process'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Pk Process</label>
						<input type='text' class='col-md-10 form-control input-text' name='PkProcess' [(ngModel)]='rowdata.pkProcess'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Is Punch</label>
						<new-checkbox [(ngModel)]='_isPunch' name='isPunch' className='col-md-10' > </new-checkbox>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Special Color</label>
						<input type='text' class='col-md-10 form-control input-text' name='SpecialColor' [(ngModel)]='rowdata.specialColor'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Signal Code</label>
						<input type='text' class='col-md-10 form-control input-text' name='SignalCode' [(ngModel)]='rowdata.signalCode'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Remark</label>
						<input type='text' class='col-md-10 form-control input-text' name='Remark' [(ngModel)]='rowdata.remark'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Is Active</label>
						<new-checkbox [(ngModel)]='_isActive' name='isActive' className='col-md-10' > </new-checkbox>
					</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
