<div bsModal #createOrEditModalMatrixLotCode="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit MatrixLotCode')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New MatrixLotCode')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->   
                <div class="form-input">
                    <div class="form-input">
                        <div class='col-md-12 form-group row'>
                            <label class='col-md-2 form-control title'>ScreenId</label>
                            <input type='text' class='col-md-10 form-control input-text' name='ScreenId' [(ngModel)]='rowdata.screenId'>
                        </div>
                        <div class='col-md-12 form-group row'>
                            <label class='col-md-2 form-control title'>PartId</label>
                            <input type='text' class='col-md-10 form-control input-text' name='PartId' [(ngModel)]='rowdata.partId'>
                        </div>
                        <div class='col-md-12 form-group row'>
                            <label class='col-md-2 form-control title'>lotcodeGradeId</label>
                            <input type='text' class='col-md-10 form-control input-text' name='lotcodeGradeId' [(ngModel)]='rowdata. lotcodeGradeId'>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>    
            </form>
        </div>
    </div>
</div>
