<div class="wdPunh">
        <div class="content">
            <div class="warpTitle">
                <div class="title1"> PRE-PICKING</div>
                <div class="title2">PICKING & GATE</div>
                <div class="title3">DELIVERY</div>
            </div>
            <div class="warpLotNo" >
                <div class="lotNo1"></div>
                <div class="lotNo2"></div>
                <div class="lotNo3"></div>
            </div>
            <div class="warpBody">
                <div class="body1"></div>
                <div class="body2"></div>
                <div class="body3"></div>
            </div>
            <div class="warpIpunch">
                <div class="iPunch1"></div>
                <div class="iPunch2"></div>
                <div class="iPunch3" id="countdown"></div>
            </div>
        </div>
</div>
