<div class="PTA">
  <div class="PTA_PROCESS_Content">
    <div class="a0">
      <span>GATE A1</span>
    </div>

    <div class="a1">
      <div class="p1">
        <div class="PROCESS"></div>
        <div class="MODEL0">
          <div class="GRADE"></div>
          <div class="COLOR"></div>
          <div class="BODY_NO"></div>
        </div>
      </div>

      <div class="p1">
        <div class="PROCESS"></div>
        <div class="MODEL1">
          <div class="GRADE"></div>
          <div class="COLOR"></div>
          <div class="BODY_NO"></div>
        </div>
      </div>

      <div class="p1">
        <div class="PROCESS"></div>
        <div class="MODEL2">
          <div class="GRADE"></div>
          <div class="COLOR"></div>
          <div class="BODY_NO"></div>
        </div>
      </div>

      <div class="p1">
        <div class="PROCESS"></div>
        <div class="MODEL3">
          <div class="GRADE"></div>
          <div class="COLOR"></div>
          <div class="BODY_NO"></div>
        </div>
      </div>

      <div class="p1">
        <div class="PROCESS"></div>
        <div class="MODEL4">
          <div class="GRADE"></div>
          <div class="COLOR"></div>
          <div class="BODY_NO"></div>
        </div>
      </div>

      <div class="p1">
        <div class="PROCESS"></div>
        <div class="MODEL5">
          <div class="GRADE"></div>
          <div class="COLOR"></div>
          <div class="BODY_NO"></div>
        </div>
      </div>

      <div class="p1">
        <div class="PROCESS"></div>
        <div class="MODEL6">
          <div class="GRADE"></div>
          <div class="COLOR"></div>
          <div class="BODY_NO"></div>
        </div>
      </div>

    </div>

    <div class="a2">
      <span class="">GATE A2</span>
    </div>

    <div class="a3">
      <div class="p1">
        <div class="PROCESS"></div>
        <div class="MODEL0">
          <div class="GRADE"></div>
          <div class="COLOR"></div>
          <div class="BODY_NO"></div>
        </div>
      </div>

      <div class="p1">
        <div class="PROCESS"></div>
        <div class="MODEL1">

          <div class="GRADE"></div>
          <div class="COLOR"></div>
          <div class="BODY_NO"></div>
        </div>
      </div>

      <div class="p1">
        <div class="PROCESS"></div>
        <div class="MODEL2">
          <div class="GRADE"></div>
          <div class="COLOR"></div>
          <div class="BODY_NO"></div>
        </div>
      </div>

      <div class="p1">
        <div class="PROCESS"></div>
        <div class="MODEL3">
          <div class="GRADE"></div>
          <div class="COLOR"></div>
          <div class="BODY_NO"></div>
        </div>
      </div>

      <div class="p1">
        <div class="PROCESS"></div>
        <div class="MODEL4">
          <div class="GRADE"></div>
          <div class="COLOR"></div>
          <div class="BODY_NO"></div>
        </div>
      </div>

      <div class="p1">
        <div class="PROCESS"></div>
        <div class="MODEL5">
          <div class="GRADE"></div>
          <div class="COLOR"></div>
          <div class="BODY_NO"></div>
        </div>
      </div>

      <div class="p1">
        <div class="PROCESS"></div>
        <div class="MODEL6">
          <div class="GRADE"></div>
          <div class="COLOR"></div>
          <div class="BODY_NO"></div>
        </div>
      </div>
    </div>
  </div>
</div>