<div bsModal #createOrEditModalRenbanModule="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit RenbanModule')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New RenbanModule')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off"  (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Renban</label>
						<input type='text' class='col-md-10 form-control input-text' name='Renban' [(ngModel)]='rowdata.renban'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Case No</label>
						<input type='text' class='col-md-10 form-control input-text' name='CaseNo' [(ngModel)]='rowdata.caseNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Supplier No</label>
						<input type='text' class='col-md-10 form-control input-text' name='SupplierNo' [(ngModel)]='rowdata.supplierNo'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Min Module</label>
						<input type='number' class='col-md-10 form-control input-text'
                            name='MinModule' [(ngModel)]='rowdata.minModule'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Max Module</label>
						<input type='number' class='col-md-10 form-control input-text'
                            name='MaxModule' [(ngModel)]='rowdata.maxModule'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Module Capacity</label>
						<input type='number' class='col-md-10 form-control input-text'
                            name='ModuleCapacity' [(ngModel)]='rowdata.moduleCapacity'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Module Type</label>
						<input type='text' class='col-md-10 form-control input-text'
                            name='ModuleType' [(ngModel)]='rowdata.moduleType'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Module Size</label>
						<input type='text' class='col-md-10 form-control input-text'
                            name='ModuleSize' [(ngModel)]='rowdata.moduleSize'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Sorting Type</label>
						<input type='text' class='col-md-10 form-control input-text'
                            name='SortingType' [(ngModel)]='rowdata.sortingType'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Min Mod</label>
						<input type='number' class='col-md-10 form-control input-text'
                            name='MinMod' [(ngModel)]='rowdata.minMod'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Max Mod</label>
						<input type='number' class='col-md-10 form-control input-text'
                            name='MaxMod' [(ngModel)]='rowdata.maxMod'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Monitor Visualize</label>
						<input type='number' class='col-md-10 form-control input-text'
                            name='MonitorVisualize' [(ngModel)]='rowdata.monitorVisualize'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Case Order</label>
						<input type='number' class='col-md-10 form-control input-text'
                            name='CaseOrder' [(ngModel)]='rowdata.caseOrder'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Case Type</label>
						<input type='text' class='col-md-10 form-control input-text'
                            name='CaseType' [(ngModel)]='rowdata.caseType'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Prod Line</label>
						<input type='text' class='col-md-10 form-control input-text'
                            name='ProdLine' [(ngModel)]='rowdata.prodLine'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Model</label>
						<input type='text' class='col-md-10 form-control input-text'
                            name='Model' [(ngModel)]='rowdata.model'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Cfc</label>
						<input type='text' class='col-md-10 form-control input-text'
                            name='Cfc' [(ngModel)]='rowdata.cfc'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Wh Loc</label>
						<input type='text' class='col-md-10 form-control input-text'
                            name='WhLoc' [(ngModel)]='rowdata.whLoc'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Is Use Pxp Data</label>
						<new-checkbox [(ngModel)]='_isUsePxpData'
                            name='isUsePxpData' className='col-md-10' > </new-checkbox>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Up Leadtime</label>
						<input type='number' class='col-md-10 form-control input-text'
                            name='UpLeadtime' [(ngModel)]='rowdata.upLeadtime'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Remark</label>
						<input type='text' class='col-md-10 form-control input-text'
                            name='remark' [(ngModel)]='rowdata.remark'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Is Active</label>
						<new-checkbox [(ngModel)]='_isActive'
                            name='isActive' className='col-md-10' > </new-checkbox>
					</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
