<div class="BIG_PXP">
    <div class="HEADER">
        <div class="remark left"><img src="/assets/common/images/remark-left.png" /></div>
        <div class="remark right"><img src="/assets/common/images/remark-right.png" /></div>
        <div class="title">BIG PXP MODULE CONTROL BOARD</div>
        <div class="time_now_log" style="margin-right: 50%; margin-top: -18px;"></div>
    </div>
    <div class="MAIN">
        <div class="WARP">
            <div class="SUBMAIN MAIN_LEFT R">
                <div class="ROLLER">
                    <div class="ROLLER_HEADER"><span>WAREHOUSE</span></div>
                    <div class="ROLLER_MAIN">
                        <div class="WARP">
                            <!-- title -->
                            <div class="RLL_COL RLL_HEADER">
                                <div class="WARP">
                                    <div *ngFor="let i of fornumbersRangeDesc(38, 1, -1)" class="RLL_ITEM STT{{ i }}">
                                        <span>{{ i }}</span>
                                    </div>
                                    <div class="RLL_TITLE MODULE"><span>Mod</span></div>
                                    <div class="RLL_TITLE TYPE"><span>Type </span></div>
                                </div>
                            </div>
                            <!-- data -->
                            <div *ngFor="let loc of smLocation()" class="RLL_COL RLL_CONTENT RLL_{{ loc.caseNo }} {{ loc.whLoc }}">
                                <div class="WARP">
                                    <div *ngFor="let i of fornumbersRangeDesc(38, 1, -1)" class="RLL_ITEM STT{{ i }} {{ i > loc.maxMod ? 'MAX' : '' }}" [attr.stt]="i">
                                        <span></span>
                                        <div *ngIf="loc.minMod == i" class="MIN_MODULE MIN_{{ i }}"></div>
                                        <div *ngIf="loc.maxMod == i" class="MAX_MODULE MAX_{{ i }}"></div>
                                        <div *ngIf="loc.moduleCapacity == i"  class="CAPACITY_MODULE CAPACITY_{{ i }}"></div>
                                        <div *ngIf="loc.minMod == 0 && i == 1" class="MIN_MODULE MIN_0"></div>
                                    </div>
                                    <div class="RLL_TITLE MODULE {{ loc.whLoc }} {{ loc.caseNo }}">
                                        <img class="onflr" src="/assets/common/images/onflr.png" />
                                        <span>{{ loc.caseNo }}</span>
                                    </div>
                                    <div class="RLL_TITLE TYPE">
                                        <span>{{ loc.caseType == 'HI' ? '' : loc.caseType }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="SUBMAIN MAIN_LEFT F">
                <div class="FRL_BREAK_HEIGHT"></div>
                <div class="clear"></div>
                <div class="FRL">
                    <div class="FREELOCATION_HEADER">
                        <span>WAREHOUSE</span>
                    </div>
                    <div class="FRL_MAIN frlmain1">
                        <div class="FRL_COL FRL_HEADER">
                            <div class="WARP">
                                <div *ngFor="let i of fornumbersRangeDesc(12, 1, -1)" class="FRL_ITEM STT{{ i }}">
                                    <span>{{ i }}</span>
                                </div>
                                <div class="FRL_TITLE MODULE"><span>Mod</span></div>
                                <div class="FRL_TITLE TYPE"><span>Type </span></div>
                            </div>
                        </div>
                        <!-- data -->
                        <div *ngFor="let loc of frlLocationFirst()" class="FRL_COL FRL_CONTENT FRL_{{ loc.caseNo }} {{ loc.whLoc }}">
                            <div class="WARP">
                                <div *ngFor="let i of fornumbersRangeDesc(12, 1, -1)" class="FRL_ITEM STT{{ i }} {{ i > loc.maxMod ? 'MAX' : '' }}" [attr.stt]="i">
                                    <span></span>
                                    <div *ngIf="i == loc.minMod" class="MIN_MODULE MIN_{{ i }}"></div>
                                    <div *ngIf="i == loc.maxMod" class="MAX_MODULE MAX_{{ i }}"></div>
                                    <div *ngIf="i == loc.moduleCapacity" class="CAPACITY_MODULE CAPACITY_{{ i }}"></div>
                                    <div *ngIf="loc.minMod == 0 && i == 1" class="MIN_MODULE MIN_0"></div>
                                </div>
                                <div class="FRL_TITLE MODULE {{ loc.whLoc }} {{ loc.caseNo }}">
                                    <img class="onflr" src="/assets/common/images/onflr.png" />
                                    <span>{{ loc.caseNo }}</span>
                                </div>
                                <div class="FRL_TITLE TYPE">
                                    <span>{{ loc.caseType == 'HI' ? '' : loc.caseType }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="FREELOCATION_HEADER NONE"></div>

                    <div class="FRL_MAIN">
                        <div class="FRL_COL FRL_HEADER">
                            <div class="WARP">
                                <div *ngFor="let i of fornumbersRangeDesc(12, 1, -1)" class="FRL_ITEM STT{{ i }}">
                                    <span>{{ i }}</span>
                                </div>
                                <div class="FRL_TITLE MODULE"><span>Mod</span></div>
                                <div class="FRL_TITLE TYPE"><span>Type </span></div>
                            </div>
                        </div>
                        <!-- data -->
                        <div *ngFor="let loc of frlLocationLate()" class="FRL_COL FRL_CONTENT FRL_{{ loc.caseNo }} {{ loc.whLoc }}">
                            <div class="WARP">
                                <div *ngFor="let i of fornumbersRangeDesc(12, 1, -1)" class="FRL_ITEM STT{{ i }} {{ i > loc.maxMod ? 'MAX' : '' }}" [attr.stt]="i">
                                    <span></span>
                                    <div *ngIf="i == loc.minMod" class="MIN_MODULE MIN_{{ i }}"></div>
                                    <div *ngIf="i == loc.maxMod" class="MAX_MODULE MAX_{{ i }}"></div>
                                    <div *ngIf="i == loc.moduleCapacity" class="CAPACITY_MODULE CAPACITY_{{ i }}"></div>
                                    <div *ngIf="loc.minMod == 0 && i == 1" class="MIN_MODULE MIN_0"></div>
                                </div>
                                <div class="FRL_TITLE MODULE {{ loc.whLoc }} {{ loc.caseNo }}">
                                    <img class="onflr" src="/assets/common/images/onflr.png" />
                                    <span>{{ loc.caseNo }}</span>
                                </div>
                                <div class="FRL_TITLE TYPE">
                                    <span>{{ loc.caseType == 'HI' ? '' : loc.caseType }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="SUBMAIN MAIN_RIGHT">
                <div class="MAIN_RIGHT_TOP">
                    <div class="WARP">

                        <div class="ROBBING">
                            <div class="ROBBING_HEADER">
                                <span>IRREGULAR</span>
                            </div>
                            <div class="ROBBING_MAIN">
                                <div *ngFor="let loc of ROB_location()" class="ROB_COL ROB_CONTENT ROB_{{ loc }}">
                                    <div class="WARP">
                                        <div class="ROB_TITLE MODULE">
                                            <span>{{ loc }}</span>
                                        </div>
                                        <div *ngFor="let i of fornumbersRangeDesc(5, 1, -1)" class="ROB_ITEM STT{{ i }} ROB_{{ loc }}{{ i }}">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="OUTSIDE">
                            <div class="OVERFLLOW_HEADER">
                                <span>OVERFLOW AREA</span>
                            </div>
                            <div class="OVERFLLOW_MAIN">
                                <div *ngFor="let loc of OVF_location()" class="OVF_COL OVF_CONTENT OVF_{{ loc.columnAlias }}">
                                    <div class="WARP">
                                        <div class="OVF_TITLE MODULE">
                                            <span>{{ loc.columnAlias }}</span>
                                        </div>
                                        <div *ngFor="let i of fornumbersRangeDesc(5, 1, -1)" class="OVF_ITEM STT{{ i }} OVF_{{ loc.columnAlias }}{{ i }}">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
