<div
    bsModal
    #createOrEditModalContList="bs-modal"
    class="modal fade col-md-12"
    role="dialog"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{ 'Edit ContList' }}</h3>
                    <h3 *ngIf="!rowdata.id">{{ 'Create New ContList' }}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form
                #applyBpForm="ngForm"
                (ngSubmit)="save()"
                autocomplete="off"
                (keyup.ESC)="close()"
            >
                <!-- Form Basic-->
                <div class="form-input">
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Container No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="ContainerNo"
                            [(ngModel)]="rowdata.containerNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Renban</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Renban"
                            [(ngModel)]="rowdata.renban"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Supplier No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="SupplierNo"
                            [(ngModel)]="rowdata.supplierNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Lot No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="LotNo"
                            [(ngModel)]="rowdata.lotNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Working Date</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="startDate"
                            #datepickerworkingDate="bsDatepicker"
                            [(ngModel)]="_workingDate"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',    }"
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickerworkingDate.toggle()"
                        ></i>
                    </div>

                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Shift No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="ShiftNo"
                            [(ngModel)]="rowdata.shiftNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Devanning Dock</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="DevanningDock"
                            [(ngModel)]="rowdata.devanningDock"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Plan Devanning Date</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="startDate"
                            #datepickerplanDevanningDate="bsDatepicker"
                            [(ngModel)]="_planDevanningDate"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',    }"
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickerplanDevanningDate.toggle()"
                        ></i>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Act Devanning Date</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="startDate"
                            #datepickeractDevanningDate="bsDatepicker"
                            [(ngModel)]="_actDevanningDate"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickeractDevanningDate.toggle()"
                        ></i>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Act Devanning Date Finished</label>
                        <input
                            type="text"
                            class="col-md-9 form-control input-text"
                            name="startDate"
                            #datepickeractDevanningDateFinished="bsDatepicker"
                            [(ngModel)]="_actDevanningDateFinished"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickeractDevanningDateFinished.toggle()"
                        ></i>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Devanning Type</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="DevanningType"
                            [(ngModel)]="rowdata.devanningType"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Status</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Status"
                            [(ngModel)]="rowdata.status"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Dev Leadtime</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="DevLeadtime"
                            [(ngModel)]="rowdata.devLeadtime"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Plan Devanning Line Off</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="PlanDevanningLineOff"
                            [(ngModel)]="rowdata.planDevanningLineOff"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Sorting Status</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="SortingStatus"
                            [(ngModel)]="rowdata.sortingStatus"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Is Active</label>
                        <new-checkbox [(ngModel)]="_isActive" name="isActive" className="col-md-10"> </new-checkbox>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
