<div bsModal #viewModalMaterialMaster="bs-modal" class="modal fade col-md-12" role="dialog"
    [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3>{{('View Material Master')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" autocomplete="off" (keyup.ESC)="close()">
                <!-- Form Basic-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-input">
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Material Type</label>
                                <input type='text' class='col-md-10 form-control input-text' name='MaterialType'
                                    [(ngModel)]='rowdata.materialType' readonly>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Material Code</label>
                                <input type='text' class='col-md-10 form-control input-text' name='MaterialCode'
                                    [(ngModel)]='rowdata.materialCode' readonly>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Industry Sector</label>
                                <input type='text' class='col-md-10 form-control input-text' name='industrySector'
                                    [(ngModel)]='rowdata.industrySector' readonly>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Description</label>
                                <input type='text' class='col-md-10 form-control input-text' name='Description'
                                    [(ngModel)]='rowdata.description' readonly>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Material Group</label>
                                <input type='text' class='col-md-10 form-control input-text' name='MaterialGroup'
                                    [(ngModel)]='rowdata.materialGroup' readonly>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Base Unit Of Measure</label>
                                <input type='text' class='col-md-10 form-control input-text' name='BaseUnitOfMeasure'
                                    [(ngModel)]='rowdata.baseUnitOfMeasure' readonly>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Deletion Flag</label>
                                <input type='text' class='col-md-10 form-control input-text' name='deletionFlag'
                                    [(ngModel)]='rowdata.deletionFlag' readonly>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Plant</label>
                                <input type='text' class='col-md-10 form-control input-text' name='plant'
                                    [(ngModel)]='rowdata.plant' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Storage Location</label>
                                <input type='text' class='col-md-10 form-control input-text' name='storageLocation'
                                    [(ngModel)]='rowdata.storageLocation' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Production Group</label>
                                <input type='text' class='col-md-10 form-control input-text' name='productionGroup'
                                    [(ngModel)]='rowdata.productionGroup' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Production Purpose</label>
                                <input type='text' class='col-md-10 form-control input-text' name='productionPurpose'
                                    [(ngModel)]='rowdata.productionPurpose' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Production Type</label>
                                <input type='text' class='col-md-10 form-control input-text' name='productionType'
                                    [(ngModel)]='rowdata.productionType' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Profit Center</label>
                                <input type='text' class='col-md-10 form-control input-text' name='profitCenter'
                                    [(ngModel)]='rowdata.profitCenter' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Batch Management</label>
                                <input type='text' class='col-md-10 form-control input-text' name='batchManagement'
                                    [(ngModel)]='rowdata.batchManagement' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Reserved Stock</label>
                                <input type='text' class='col-md-10 form-control input-text' name='reservedStock'
                                    [(ngModel)]='rowdata.reservedStock' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Lot Code M</label>
                                <input type='text' class='col-md-10 form-control input-text' name='lotCode'
                                    [(ngModel)]='rowdata.lotCode' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Mrp Group</label>
                                <input type='text' class='col-md-10 form-control input-text' name='mrpGroup'
                                    [(ngModel)]='rowdata.mrpGroup' readonly>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Mrp Type</label>
                                <input type='text' class='col-md-10 form-control input-text' name='mrpType'
                                    [(ngModel)]='rowdata.mrpType' readonly>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Procurement Type</label>
                                <input type='text' class='col-md-10 form-control input-text' name='procurementType'
                                    [(ngModel)]='rowdata.procurementType' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Special Procurement</label>
                                <input type='text' class='col-md-10 form-control input-text' name='specialProcurement'
                                    [(ngModel)]='rowdata.specialProcurement' readonly>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Prod Storage Location</label>
                                <input type='text' class='col-md-10 form-control input-text'
                                    name='productionStorageLocation' [(ngModel)]='rowdata.productionStorageLocation'
                                    readonly>
                            </div>
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>IsActive</label>
                                <new-checkbox [(ngModel)]='_isActive' name='isActive' className='col-md-10' readonly>
                                </new-checkbox>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-input padding-right-10">
                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Repet Manufacturing</label>
                                <input type='text' class='col-md-10 form-control input-text' name='repetManufacturing'
                                    [(ngModel)]='rowdata.repetManufacturing' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Rem Profile</label>
                                <input type='text' class='col-md-10 form-control input-text' name='remProfile'
                                    [(ngModel)]='rowdata.remProfile' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Do Not Cost</label>
                                <input type='text' class='col-md-10 form-control input-text' name='doNotCost'
                                    [(ngModel)]='rowdata.doNotCost' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Variance Key</label>
                                <input type='text' class='col-md-10 form-control input-text' name='varianceKey'
                                    [(ngModel)]='rowdata.varianceKey' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Costing Lot Size</label>
                                <input type='text' class='col-md-10 form-control input-text' name='costingLotSize'
                                    [(ngModel)]='rowdata.costingLotSize' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Production Version</label>
                                <input type='text' class='col-md-10 form-control input-text' name='productionVersion'
                                    [(ngModel)]='rowdata.productionVersion' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Special Proc Ctg View</label>
                                <input type='text' class='col-md-10 form-control input-text'
                                    name='specialProcurementCtgView' [(ngModel)]='rowdata.specialProcurementCtgView'
                                    readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Valuation Category</label>
                                <input type='text' class='col-md-10 form-control input-text' name='valuationCategory'
                                    [(ngModel)]='rowdata.valuationCategory' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Valuation Type</label>
                                <input type='text' class='col-md-10 form-control input-text' name='valuationType'
                                    [(ngModel)]='rowdata.valuationType' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Valuation Class</label>
                                <input type='text' class='col-md-10 form-control input-text' name='valuationClass'
                                    [(ngModel)]='rowdata.valuationClass' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Price Determination</label>
                                <input type='text' class='col-md-10 form-control input-text' name='priceDetermination'
                                    [(ngModel)]='rowdata.priceDetermination' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Price Control</label>
                                <input type='text' class='col-md-10 form-control input-text' name='priceControl'
                                    [(ngModel)]='rowdata.priceControl' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Standard Price</label>
                                <input type='text' class='col-md-10 form-control input-text' name='standardPrice'
                                    [(ngModel)]='rowdata.standardPrice' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Moving Price</label>
                                <input type='text' class='col-md-10 form-control input-text' name='movingPrice'
                                    [(ngModel)]='rowdata.movingPrice' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>With Qty Structure</label>
                                <input type='text' class='col-md-10 form-control input-text' name='withQtyStructure'
                                    [(ngModel)]='rowdata.withQtyStructure' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Material Origin</label>
                                <input type='text' class='col-md-10 form-control input-text' name='materialOrigin'
                                    [(ngModel)]='rowdata.materialOrigin' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Origin Group</label>
                                <input type='text' class='col-md-10 form-control input-text' name='originGroup'
                                    [(ngModel)]='rowdata.originGroup' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Authorization Group</label>
                                <input type='text' class='col-md-10 form-control input-text' name='authorizationGroup'
                                    [(ngModel)]='rowdata.authorizationGroup' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Mat Src</label>
                                <input type='text' class='col-md-10 form-control input-text' name='matSrc'
                                    [(ngModel)]='rowdata.matSrc' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Effective Date From</label>
                                <input type='text' class='col-md-10 form-control input-text' name='effectiveDateFrom'
                                    [(ngModel)]='rowdata.effectiveDateFrom' readonly>
                            </div>

                            <div class='col-md-12 form-group row'>
                                <label class='col-md-2 form-control title'>Effective Date To</label>
                                <input type='text' class='col-md-10 form-control input-text' name='effectiveDateTo'
                                    [(ngModel)]='rowdata.effectiveDateTo' readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                        <i class="fa tmss-fa fa-times mr-1"></i>
                        {{ l('Cancel') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
