<div bsModal #createOrEditModalTotalDelay="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit TotalDelay')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New TotalDelay')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Body No</label>
						<input type='text' class='col-md-10 form-control input-text' name='BodyNo' [(ngModel)]='rowdata.bodyNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Lot No</label>
						<input type='text' class='col-md-10 form-control input-text' name='LotNo' [(ngModel)]='rowdata.lotNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Color</label>
						<input type='text' class='col-md-10 form-control input-text' name='Color' [(ngModel)]='rowdata.color'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Mode</label>
						<input type='text' class='col-md-10 form-control input-text' name='Mode' [(ngModel)]='rowdata.mode'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Target Repair</label>
						<input type='text' class='col-md-10 form-control input-text' name='TargetRepair' [(ngModel)]='rowdata.targetRepair'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Start Repair</label>
						<input type='text' class='col-md-10 form-control input-text' name='startRepair'
						#datepickerStartRepair='bsDatepicker' [(ngModel)]='_startRepair'  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY hh:MM ' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',    }"  >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Location</label>
						<input type='text' class='col-md-10 form-control input-text' name='Location' [(ngModel)]='rowdata.location'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>A In Plan Date</label>
						<input type='text' class='col-md-10 form-control input-text' name='aInPlanDate'
						#datepickeraInPlanDate='bsDatepicker' [(ngModel)]='_aInPlanDate'  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY hh:MM ' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',    }"  >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Ed In Act</label>
						<input type='text' class='col-md-10 form-control input-text' name='edInAct'
						#datepickeredInAct='bsDatepicker' [(ngModel)]='_edInAct'  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY hh:MM ' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"  >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Repair In</label>
						<input type='text' class='col-md-10 form-control input-text' name='repairIn'
						#datepickerRepairIn='bsDatepicker' [(ngModel)]='_repairIn'  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY hh:MM ' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }" >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Leadtime</label>
						<input type='text' class='col-md-10 form-control input-text' name='leadtime'
						#datepickerLeadtime='bsDatepicker' [(ngModel)]='_leadtime'  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY hh:MM ' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"  >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Leadtime Plus</label>
						<input type='text' class='col-md-10 form-control input-text' name='leadtimePlus'
						#datepickerLeadtimePlus='bsDatepicker' [(ngModel)]='_leadtimePlus'  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY hh:MM ' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"  >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Etd</label>
						<input type='text' class='col-md-10 form-control input-text edit-box' name='etd'
						#datepickerEtd='bsDatepicker' [(ngModel)]='_etd'  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY hh:MM ' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }" >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Recoat In</label>
						<input type='text' class='col-md-10 form-control input-text' name='recoatIn'
						#datepickerRecoatIn='bsDatepicker' [(ngModel)]='_recoatIn'  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY hh:MM ' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"  >
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Is Active</label>
						<new-checkbox [(ngModel)]='_isActive' name='isActive' className='col-md-10' > </new-checkbox>
					</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
