

<div bsModal #createOrEditModalGpsMaterialRegisterByShop="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit GPS Material Register By Shop')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New GPS Material Register By Shop')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
					<div class='col-md-12 form-group row'>
						<label style="width: 150px;" class='form-control title'>Part No</label>
						<input type='text' class='col-md-10 form-control input-text' name='Item' [(ngModel)]='rowdata.partNo'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label style="width: 150px;" class='form-control title'>Description</label>
						<input type='text' class='col-md-10 form-control input-text' name='Description' [(ngModel)]='rowdata.description'>
					</div>
					<div class='col-md-12 form-group row'>
						<label style="width: 150px;" class='form-control title'>Uom</label>
						<input type='text' class='col-md-10 form-control input-text' name='Uom' [(ngModel)]='rowdata.uom'>
					</div>
					<div class="col-md-12 form-group row">
                        <label style="width: 150px;" class='form-control title'>Category</label>
                        <tmss-combobox
                            [height]="'250px'"
                            [items]="categoryList"
                            name="Category"
                            [selectedItem]="rowdata.category"
                            [(ngModel)]="rowdata.category"
                            [style]="{ 'border-radius': '5px','width':'auto', 'flex':'1'}"
                        ></tmss-combobox>
                    </div>
                    <div class='col-md-12 form-group row'>
						<label style="width: 150px;" class='form-control title'>ExpenseAccount</label>
						<input type='text' class='col-md-10 form-control input-text' name='ExpenseAccount' [(ngModel)]='rowdata.expenseAccount'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label style="width: 150px;" class='form-control title'>Shop</label>
						<input type='text' class='col-md-10 form-control input-text' name='Shop' [(ngModel)]='rowdata.shop'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label style="width: 150px;" class='form-control title'>CostCenter</label>
						<input type='text' class='col-md-10 form-control input-text' name='CostCenter' [(ngModel)]='rowdata.costCenter'>
					</div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
