<div
    bsModal
    #createOrEditModalPunchQueue="bs-modal"
    class="modal fade col-md-12"
    role="dialog"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{ 'Edit PunchQueue' }}</h3>
                    <h3 *ngIf="!rowdata.id">{{ 'Create New PunchQueue' }}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form
                #applyBpForm="ngForm"
                (ngSubmit)="save()"
                autocomplete="off"
                (keyup.ESC)="close()"
            >
                <!-- Form Basic-->
                <div class="form-input">
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Body No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="BodyNo"
                            [(ngModel)]="rowdata.bodyNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Model</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Model"
                            [(ngModel)]="rowdata.model"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Line</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Line"
                            [(ngModel)]="rowdata.line"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Lot No</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="LotNo"
                            [(ngModel)]="rowdata.lotNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Color</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="Color"
                            [(ngModel)]="rowdata.color"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Process Group</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="ProcessGroup"
                            [(ngModel)]="rowdata.processGroup"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Scan Time</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="scanTime"
                            #datepicker="bsDatepicker"
                            [(ngModel)]="rowdata.scanTime"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',    }"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Punch Flag</label>
                        <new-checkbox [(ngModel)]="_punchFlag" name="punchFlag" className="col-md-10"> </new-checkbox>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Punch Indicator</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="PunchIndicator"
                            [(ngModel)]="rowdata.punchIndicator"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Is Call</label>
                        <new-checkbox [(ngModel)]="_isCall" name="isCall" className="col-md-10"> </new-checkbox>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Is Cf</label>
                        <new-checkbox [(ngModel)]="_isCf" name="isCf" className="col-md-10"> </new-checkbox>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
