<div bsModal #eciPartGradeModal="bs-modal" class="modal fade col-12" role="dialog"
	[config]="{ backdrop: 'static' }">
	<div class="modal-dialog modal-lg">
		<div class="modal-content col-12">
			<div class="modal-header col-12">
				<div class="title-form">
					<h3>{{('ECI Part Grade Inl')}}</h3>

				</div>
			</div>
		</div>
		<div class="modal-content col-12">

			<!-- Form Basic-->
			<div class="form-input">
				<div class='col-12 row'>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Part No</label>
						<input type='text' class='col-10 form-control input-text' name='partNo'
							[(ngModel)]='rowdata.partNo' readonly>
					</div>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Model</label>
						<input type='text' class='col-10 form-control input-text' name='model'
							[(ngModel)]='rowdata.model' readonly>
					</div>
				</div>
                <div class='col-12 row'>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Part Name</label>
						<input type='text' class='col-10 form-control input-text' name='partname'
							[(ngModel)]='rowdata.partName' readonly>

					</div>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Cfc</label>
						<input type='text' class='col-10 form-control input-text' name='cfc'
							[(ngModel)]='rowdata.cfc' readonly>
					</div>
				</div>
				<div class='col-12 row'>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Grade</label>
						<input type='text' class='col-10 form-control input-text' name='grade'
							[(ngModel)]='rowdata.grade' readonly>
					</div>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Usage Qty</label>
						<input type='text' class='col-10 form-control input-text' name='usageQty' id="usageQty"
							[(ngModel)]='_usageQty'  
                             oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');"
                             (ngModelChange)="checkValUsageQty($event)"
                            >
					</div>
				</div>
				<div class='col-12 row'>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Shop</label>
						<input type='text' class='col-10 form-control input-text' name='shop'
							[(ngModel)]='rowdata.shop' readonly>
					</div>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Body Color</label>
						<input type='text' class='col-10 form-control input-text' name='shop'
							[(ngModel)]='rowdata.bodyColor' readonly>
					</div>
				</div>
				<div class='col-12 row'>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Start Lot</label>
                         <label style="padding-left: 5px;" class='mt-1 eciclass'>{{rowdata.grade}}&ensp;─&ensp;</label>
						<input type='text' class='form-control input-text' name='startLot'  id="startLot1"  maxlength="4"
							[(ngModel)]='_startLot' (ngModelChange)="validateStartLot($event)" style="border: 1px solid red ;background-color: white;"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
					</div>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>End Lot</label>
						<div style="width: 64%;">
							<input type='text' class='form-control input-text' name='endLot'
							[(ngModel)]='_endLot' readonly  style="width: 100%;">
						</div>
					</div>
				</div>
				<div class='col-12 row'>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Start Run</label>
						<input  type='text' class='col-10 form-control input-text' name='startRun' id="startRun1" 
							style="border: 1px solid red;background-color: white;"
							[(ngModel)]='_startRun' (ngModelChange)="validateStartRun($event)" (click)="checkStartLot()" maxlength="2"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
					</div>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>End Run</label>
						<input type='number' max="9" class='col-10 form-control input-text' name='endRun'
							[(ngModel)]='this._endRun' readonly>
					</div>
				</div>
				<div class='col-12 row'>
					<div class='col-6 form-group position-relative'>
						<label class='col-2 form-control title'>Ef From Part</label>
                        <input readonly type="text" [(ngModel)]="_efFromPart" name="efFromPart" readonly
							class="form-control position-relative time-form" bsDatepicker #datepickerFrom="bsDatepicker"
							[bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right'}"
							placement="bottom left" />
                            <i class='fa fa-calendar-alt position-absolute end-10' (click)='datepickerFrom.toggle()' readonly></i>
						<!-- <input readonly type="text" [(ngModel)]="_efFromPart" name="efFromPart" class="form-control position-relative time-form"/> -->
					</div>
					<div class='col-6 form-group position-relative'>
						<label class='col-2 form-control title'>Ef To Part</label>
                        <input readonly type="text" [(ngModel)]="_efToPart" name="efToPart" readonly
							class="form-control position-relative " bsDatepicker #datepickerTo="bsDatepicker"
							[bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right'}"
							placement="bottom left" />
                            <i class='fa fa-calendar-alt position-absolute end-0' (click)='datepickerTo.toggle()' readonly></i>
						<!-- <input readonly type="text" [(ngModel)]="_efToPart" name="efToPart" class="form-control position-relative "/> -->
					</div>
				</div>
				<div class='col-12 row'>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Order Partern</label>
						<input type='text' class='col-10 form-control input-text' name='orderPattern'
							[(ngModel)]='rowdata.orderPattern' readonly>
					</div>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Remark</label>
						<input type='text' class='col-10 form-control input-text' name='remark'
							[(ngModel)]='rowdata.remark' readonly>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-light-primary font-weight-bold" (click)="save()">
						<i class="fa tmss-fa fa-save mr-1"></i><span> {{ "Save" }} </span>
					</button>
					<button (click)="close()" type="button" class="btn btn-light-danger font-weight-bold">
						<i class="fa tmss-fa fa-times mr-1"></i><span> {{ l('Cancel') }}</span>
					</button>
				</div>
			</div>

		</div>
	</div>
</div>
