<div class="body">
    <div class="time_now_log" ></div>
    <div class="leftUnpAdo" >
        <div class="lTilte"></div>
        <div class="lW1"><span>W1</span></div>
        <div class="lW2"><span>W2</span></div>
        <div class="lW3"><span>W3</span></div>
        <div class="lNotFinnish"><span>Module ca trước chưa Finish</span></div>
    </div>
    <div class="rightUnpAdo" >
        <div class="rTilte"><span>LW PxP MODULE UNPACKING ANDON</span></div>
        <div class="rW1">
            <div class="rW1Top"></div>
            <div class="rW1Bottom"></div>
        </div>
        <div class="rW2">
            <div class="rW2Top"></div>
            <div class="rW2Bottom"></div>
        </div>
        <div class="rW3">
            <div class="rW3Top"></div>
            <div class="rW3Bottom"></div>
        </div>
        <div class="rNotFinnish"></div>
    </div>
</div>
