<div class="content_dev_v2">
    <div class="time_now_log" ></div>
    <div class="row1_ct">
        <div class="timetitle"></div>
        <div class="arrived">
            <div class="ar1"></div>
            <div class="ar2">Arrived TMV</div>
        </div>
    </div>

    <div class="row2_ct">
        <div class="r2ct_left"><br />CURRENT</div>
        <div class="r2ct_right"><br />NEXT</div>
    </div>

    <div class="row3_ct">
        <div class="r3ct_left">
            <br />
            <div class="container_no">
                <div class="ct_no"></div>
                <div style="width: 20px; height: 100%"></div>
                <div class="ct_no_big"></div>
            </div>
            <div class="rb"></div>
            <br /><br /><br />
            <div class="dev_type">
                <div class="typecss"><br /></div>
                <div class="cssLot"><br /></div>
            </div>
        </div>
        <div class="r3ct_right">
            <br />
            <div class="container_no">
                <div class="ct_no"></div>
                <div style="width: 20px; height: 100%"></div>
                <div class="ct_no_big"></div>
            </div>
            <div class="rb"></div>
            <br /><br /><br />
            <div class="dev_type">
                <div class="typecss"><br /></div>
                <div class="cssLot"><br /></div>
            </div>
        </div>
    </div>

    <div class="row4_ct">
        <div class="line_off_left">
            <div class="line_off_left_detail">
                <label class="plan_actual"></label>
                <hr />
                <label class="plan_base"></label>
            </div>
        </div>

        <div class="line_off_right">
            <!-- <div class="right_actual" *ngFor="let i of numPlanActual"></div>
            <div class="right_plan" *ngFor="let i of numPlanBase"></div>
            <div class="right"  *ngFor="let i of numFull"></div> -->

            <!-- <div class="right_actual"></div>
            <div class="right_plan"></div> -->
            <div class="right"></div>
        </div>
    </div>

    <div class="row5_ct">
        <div class="reban_left">
            <br /><br /><br />
            <label style="font-size: 100%">DEV PRO.</label>
        </div>
        <div class="reban_right"></div>
    </div>

    <!-- <div class="row6_ct">
        <div class="delay_left">
            <br />
            <label style="font-size:100%;">Delay Dev</label>
        </div>
        <div class="delay_right">

        </div>
    </div> -->
</div>
