<div
    appBsModal
    #modal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog tmss-modal-lg">
        <div class="modal-content pop_confirm" style="border-radius: 0px;">
            <div class="header-pop">
                <span>Xác nhận</span>
            </div>
            <div class="content-pop">
                <div class="img-part">
                    <img src="/assets/common/images/car-parts.png" class="car-part">
                </div>
                <div class="content-part">
                    <div class="cnt">{{text}} </div>
                    <div class="cnt2">{{displayInfo}} </div>
                    <div class="cnt3">{{body}} </div>
                </div>
            </div>
            <div class="footer-pop">
                <button class="ok btn-info" (click)="confirm_Ok(progressId)" >Ok</button>
                <button class=" cancel btn-info" (click)="closeModal()">Cancel</button>
            </div>


        </div>
    </div>
</div>
