<div id="container" class="mt-2" [busyIf]="isLoading">
    <div class="ui-g-12">
        <fieldset class="fieldset-border grid-parent">
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <h6 class="card-header">
                         {{ l(' DRM Stock Part Excel ') }}
                    </h6>
                </div>
                <div class="prod-cont">
                    <div class="ui-g-12">
                        <form autocomplete="on">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <div class='input-search'>
									<input [(ngModel)]='Model' name='Model'
									class='form-control' [placeholder]="l('Model')"
									type='text' (keyup.enter)='searchDatas()'>
								</div>
								<div class='input-search'>
									<input [(ngModel)]='PartCode' name='Part Code'
									class='form-control' [placeholder]="l('Part Code')"
									type='text' (keyup.enter)='searchDatas()'>
								</div>
								<div class='input-search'>
									<input [(ngModel)]='MaterialCode' name='Material Code'
									class='form-control' [placeholder]="l('Material Code')"
									type='text' (keyup.enter)='searchDatas()'>
								</div>
								<div class='input-search'>
									<input [(ngModel)]='PartNo' name='Part No'
									class='form-control' [placeholder]="l('Part No')"
									type='text' (keyup.enter)='searchDatas()'>
								</div>
								<div class='input-search'>
                                    <input
                                        type="text"
                                        placeholder='Working Date'
                                        [(ngModel)]="workingDate"
                                        name="workingDate"
                                        (key.enter)="searchDatas()"
                                        class="form-control"
                                        bsDatepicker
                                        #d="bsDatepicker" minMode="month"
                                        [bsConfig]="{ dateInputFormat: 'MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',  }"
                                        placement="bottom left"
                                    />
                                    <i class="fa fa-calendar-alt" (click)="d.toggle()"></i>
								</div>
                                <div class="btn-search">
                                    <button (click)="searchDatas()"
                                        class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="btn-search">
                                    <button (click)="clearTextSearch()"
                                        class="btn btn-primary">
                                        <i class="fas fa-backspace"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="panel panel-default pt-1">

                            <!--   (8)Material Cuối ngày = h ôm trc + (9) + (10) -(2)
                                    (3)Ihp Oh / (Stock dập)= hôm trc + (2) - (4) - (5)
                                    (6)Hand Oh / (Stock hand)= hôm trc + (5) - (1) - (7) -->
                            <grid-table
                                [columnDefs]="defaultColDefs"
                                [defaultColDef]="defaultColDef"
                                [rowData]="rowData"

                                [paginationParams]="paginationParams"
                                [cellEditStopParams]="{'stopEditingWhenGridLosesFocus': false}"
                                [singleClickEdit]="true"
                                class="gridEdit"

                                (callBackEvent)="callBackDataGrid($event)"
                                (changePaginationParams)="changePage($event)"
                                (onChangeSelection)="onChangeRowSelection($event)"
                                (cellValueChanged)="onCellValueChanged($event)"
                                [gridOptions]="gridOptions"
								[frameworkComponents]="frameworkComponents"
                            >
                            </grid-table>
                        </div>
                        <hr>
                        <div class="panelBtn text-right">
                            <img class="drmstockpartexcel-remark" src="/assets/common/images/Frame 1000006131.png" alt="" >
                            <button *ngIf="isGranted('Pages.DMIHP.Stock.StockPartExcel.Import')"
                                    class="btn btn-primary font-weight-bold" (click)="importExcelModal.show()">
                                <i class="fas fa-file-import"></i>{{ l('Import Excel') }}
                            </button>
                            <button class="btn btn-success font-weight-bold" (click)="exportToExcel($event)">
                                <i class="fas fa-file-excel mr-1"></i>{{ l('Export Excel') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<import-drmstockpart #importExcelModal></import-drmstockpart>
