<div class="lineRealTimeControl">
    <div class="line">
        <div class="wkDate" id="wkDate"></div>
        <div class="lineW" id="lineW"></div>
        <div class="lineT" id="lineT"></div>
        <div class="lineA1" >
            <div class="top"></div>
            <div class="bottom" id="lineA1"></div>
        </div>
        <div class="lineA2" >
            <div class="top"></div>
            <div class="bottom" id="lineA2"></div>
        </div>
        <div class="lineAtotal" id="lineAtotal"></div>
        <div class="lineIns" id="lineIns"></div>
        <div class="linePdi" id="linePdi"></div>
    </div>
    <div class="shiftvolplan">
        <div class="svpName" id="svpName"></div>
        <div class="svpW" id="svpW"></div>
        <div class="svpT" id="svpT"></div>
        <div class="svpA1" id="svpA1"></div>
        <div class="svpA2" id="svpA2"></div>
        <div class="svpAtotal" id="svpAtotal"></div>
        <div class="svpIns" id="svpIns"></div>
        <div class="svpPdi" id="svpPdi"></div>
    </div>
    <div class="voltarget">
        <div class="vtName" id="vtName"></div>
        <div class="vtW" id="vtW"></div>
        <div class="vtT" id="vtT"></div>
        <div class="vtA1" id="vtA1"></div>
        <div class="vtA2" id="vtA2"></div>
        <div class="vtAtotal" id="vtAtotal"></div>
        <div class="vtIns" id="vtIns"></div>
        <div class="vtPdi" id="vtPdi"></div>
    </div>
    <div class="volactual">
        <div class="vaName" id="vaName"></div>
        <div class="vaW" id="vaW"></div>
        <div class="vaT" id="vaT"></div>
        <div class="vaA1" id="vaA1"></div>
        <div class="vaA2" id="vaA2"></div>
        <div class="vaAtotal" id="vaAtotal"></div>
        <div class="vaIns" id="vaIns"></div>
        <div class="vaPdi" id="vaPdi"></div>
    </div>
    <div class="volbalance">
        <div class="vbName" id="vbName"></div>
        <div class="vbW" id="vbW"></div>
        <div class="vbT" id="vbT"></div>
        <div class="vbA1" id="vbA1"></div>
        <div class="vbA2" id="vbA2"></div>
        <div class="vbAtotal" id="vbAtotal"></div>
        <div class="vbIns" id="vbIns"></div>
        <div class="vbPdi" id="vbPdi"></div>
    </div>
    <div class="stoptime">
        <div class="stName" id="stName"></div>
        <div class="stW" id="stW"></div>
        <div class="stT" id="stT"></div>
        <div class="stA1" id="stA1"></div>
        <div class="stA2" id="stA2"></div>
        <div class="stAtotal" id="stAtotal"></div>
        <div class="stIns" id="stIns"></div>
        <div class="stPdi" id="stPdi"></div>
    </div>
    <div class="efficiency">
        <div class="effName" id="effName"></div>
        <div class="effW" id="effW"></div>
        <div class="effT" id="effT"></div>
        <div class="effA1" id="effA1"></div>
        <div class="effA2" id="effA2"></div>
        <div class="effAtotal" id="effAtotal"></div>
        <div class="effIns" id="effIns"></div>
        <div class="effPdi" id="effPdi"></div>
    </div>
    <div class="talktime">
        <div class="ttName" id="ttName"></div>
        <div class="ttW" id="ttW"></div>
        <div class="ttT" id="ttT"></div>
        <div class="ttA1" id="ttA1"></div>
        <div class="ttA2" id="ttA2"></div>
        <div class="ttAtotal" id="ttAtotal"></div>
        <div class="ttIns" id="ttIns"></div>
        <div class="ttPdi" id="ttPdi"></div>
    </div>
    <div class="overtime">
        <div class="otName" id="otName"></div>
        <div class="otW" id="otW"></div>
        <div class="otT" id="otT"></div>
        <div class="otA1" id="otA1"></div>
        <div class="otA2" id="otA2"></div>
        <div class="otAtotal" id="otAtotal"></div>
        <div class="otIns" id="otIns"></div>
        <div class="otPdi" id="otPdi"></div>
    </div>
    <div class="nonprodact">
        <div class="npaName" id="npaName"></div>
        <div class="npaW" id="npaW"></div>
        <div class="npaT" id="npaT"></div>
        <div class="npaA1" id="npaA1"></div>
        <div class="npaA2" id="npaA2"></div>
        <div class="npaAtotal" id="npaAtotal"></div>
        <div class="npaIns" id="npaIns"></div>
        <div class="npaPdi" id="npaPdi"></div>
    </div>
    <div class="offline">
        <div class="offName" id="offName"></div>
        <div class="offW" >
            <div class="offWx2 col-md-12">
                <div class="vectron col-md-6 " >
                    <div class="vectron_title">Vectron</div>
                    <div class="vectron_value" id="vectron"></div>
                </div>
                <div class="wrepair col-md-6">
                    <div class="wrepair_title" >W-Repair</div>
                    <div class="wrepair_value" id="wrepair"></div>
                </div>
            </div>
        </div>
        <div class="offT" >
            <div class="offT_title" >T-Repair</div>
            <div class="offT_value" id="offT"></div>
        </div>
        <div class="offA1">
            <div class="offA1_title" >A-Hanedashi</div>
            <div class="offA1_value" id="offA1"></div>
        </div>
        <div class="offA2">
            <div class="offA2_title" >OVF (A&INS)</div>
            <div class="offA2_value" id="offA2"></div>
        </div>
        <div class="offAtotal">
            <div class="offAtotal_title" >Hospital</div>
            <div class="offAtotal_value" id="offAtotal"></div>
        </div>
        <div class="offIns" >
            <div class="offInsx2 col-md-12">
                <div class="samp col-md-6">
                    <div class="samp_title" >Samp.</div>
                    <div class="samp_value" id="samp"></div>
                </div>
                <div class="audit col-md-6">
                    <div class="audit_title" >Audit</div>
                    <div class="audit_value" id="audit"></div>
                </div>
            </div>
        </div>
        <div class="offPdi"></div>
    </div>
</div>

