<div class="BIGPARTMONITORING">
    <div class="time_now_log"></div>
    <div class="LEFT-CONTENT">
        <div class="LEFT-CT1"></div>
        <div class="LEFT-CT2">
            <div class="LCT2T col-3">Eff</div>
            <div class="LCT2P col-9">Trip</div>
        </div>
        <div class="LEFT-CT3">
            <div class="LCT3T col-3"></div>
            <div class="LCT3P col-9">
                <div class="LCT3P1 col-9">E-CAR 1</div>
                <div class="ECAR col-9">
                    <div class="ECAR1">E-CAR 1</div>
                    <div class="ECAR2">E-CAR 2</div>
                </div>
                <div class="LCT3P2 col-3">
                    <div class="LCT3P-ITEM1">PK</div>
                    <div class="LCT3P-ITEM2">DEL</div>
                </div>
            </div>
        </div>
    </div>
    <div class="RIGHT-CONTENT">
        <div class="RIGHT-CT1"></div>
        <div class="RIGHT-CT2"></div>
        <div class="RIGHT-CT3"></div>
        <div class="RIGHT-CT4"></div>
    </div>
</div>
