<div bsModal #closeOpenModalPhysicalPeriod="bs-modal" class="modal fade col-md-12" role="dialog"
    [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3>{{('Edit Stock Period')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()"
                (keyup.ESC)="close()">
                <!-- Form Basic-->
                <div class="form-input">
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Description</label>
                        <input type='text' class='col-md-10 form-control input-text' name='Description'
                            [(ngModel)]='_description' >
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">From Date</label>
                        <input
                            type="text"
                            readonly
                            class="col-md-7 form-control input-text"
                            name="fromDate"
                            #datepickerFrom="bsDatepicker"
                            [(ngModel)]="_fromDate"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                        />
                        <i 
                        class="fa fa-calendar-alt col-md-1 form-control"
                        id="cssCalender"
                         
                    ></i>
                        <input type="time" readonly name="fromTime" [(ngModel)]="rowdata.fromTime" 
                        style="margin-left: 5px;
                                border: 1px solid #ced4da;
                                text-align: left;
                                color: #0f0f0f;
                                font-weight: 400;
                                text-shadow: -1px 1px 1px hsla(0,0%,100%,.7);
                                background-color: rgba(82,63,105,.15);
                                margin-left: 5px;
                                padding: 0.15rem 0.3rem;
                                font-size: 1rem;
                                line-height: 1.5;"  
                        class="col-md-2 input-text"/>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">To Date</label>
                        <input
                            type="text"
                            class="col-md-7 form-control input-text"
                            name="toDate"
                            #datepickerTo="bsDatepicker"
                            [(ngModel)]="_toDate"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                        />
                        <i
                            class="fa fa-calendar-alt col-md-1 form-control"
                            id="cssCalender"
                            (click)="datepickerTo.toggle()"
                        ></i>
                        <input type="time" name="toTime" [(ngModel)]="rowdata.toTime" 
                        style="margin-left: 5px;
                                border: 1px solid #ced4da;
                                text-align: left;
                                color: #0f0f0f;
                                font-weight: 400;
                                text-shadow: -1px 1px 1px hsla(0,0%,100%,.7);
                                background-color: rgba(82,63,105,.15);
                                margin-left: 5px;
                                padding: 0.15rem 0.3rem;
                                font-size: 1rem;
                                line-height: 1.5;" 
                        class="col-md-2 input-text"/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
