<div id="container" class="mt-2" [busyIf]="isLoading">
    <div class="ui-g-12">
        <fieldset class="fieldset-border grid-parent">
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <h6 class="card-header">
                         {{ l('CKD SMQD Order') }}
                    </h6>
                </div>
                <div class="prod-cont">
                    <div class="ui-g-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
								<div class='input-search'>
									<input [(ngModel)]='shop' name='shop'
									class='form-control' [placeholder]="l('Shop')"
									type='text' (keyup.enter)='searchDatas()'>
								</div>
                                <div class="input-search">
                                    <input
                                        [(ngModel)]="smqdDateFrom"
                                        name="smqdDateFrom"
                                        class="form-control"
                                        [placeholder]="l('SMQD Date From')"
                                        type="text"
                                        (keyup.enter)="searchDatas()"
                                        bsDatepicker
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                                        #s_start="bsDatepicker"
                                        placement="bottom left"
                                    />
                                    <i class="fa fa-calendar-alt" (click)="s_start.toggle()"></i>
                                </div>
								<div class="input-search">
                                    <input
                                        type="text"
                                        [(ngModel)]="smqdDateTo"
                                        name="smqdDateTo"
                                        class="form-control"
                                        [placeholder]="l('SMQD Date To')"
                                        type="text"
                                        (keyup.enter)="searchDatas()"
                                        bsDatepicker
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                                        #s_end="bsDatepicker"
                                        placement="bottom left"
                                    />
                                    <i class="fa fa-calendar-alt" (click)="s_end.toggle()"></i>
                                </div>
                                <div class='input-search'>
									<input [(ngModel)]='partNo' name='partNo'
									class='form-control' [placeholder]="l('Part No')"
									type='text' (keyup.enter)='searchDatas()'>
								</div>
								<div class='input-search'>
									<input [(ngModel)]='cfc' name='cfc'
									class='form-control' [placeholder]="l('Cfc')"
									type='text' (keyup.enter)='searchDatas()'>
								</div>
								<div class='input-search'>
									<input [(ngModel)]='supplierNo' name='supplierNo'
									class='form-control' [placeholder]="l('Supplier No')"
									type='text' (keyup.enter)='searchDatas()'>
								</div>
								<div class='input-search'>
									<input [(ngModel)]='orderNo' name='orderNo'
									class='form-control' [placeholder]="l('Order No')"
									type='text' (keyup.enter)='searchDatas()'>
								</div>
                                <div class="input-search">
                                    <input
                                        [(ngModel)]="orderDateFrom"
                                        name="orderDateFrom"
                                        class="form-control"
                                        [placeholder]="l('Order Date From')"
                                        type="text"
                                        (keyup.enter)="searchDatas()"
                                        bsDatepicker
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     } "
                                        #o_start="bsDatepicker"
                                        placement="bottom left"
                                    />
                                    <i class="fa fa-calendar-alt" (click)="o_start.toggle()"></i>
                                </div>
								<div class="input-search">
                                    <input
                                        type="text"
                                        [(ngModel)]="orderDateTo"
                                        name="orderDateTo"
                                        class="form-control"
                                        [placeholder]="l('Order Date To')"
                                        type="text"
                                        (keyup.enter)="searchDatas()"
                                        bsDatepicker
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                                        #o_end="bsDatepicker"
                                        placement="bottom left"
                                    />
                                    <i class="fa fa-calendar-alt" (click)="o_end.toggle()"></i>
                                </div>
								<div class='input-search'>
									<input [(ngModel)]='invoiceNo' name='invoiceNo'
									class='form-control' [placeholder]="l('Invoice No')"
									type='text' (keyup.enter)='searchDatas()'>
								</div>
                                <div class="btn-search">
                                    <button (click)="searchDatas()"
                                        class="btn btn-primary" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="btn-search">
                                    <button (click)="clearTextSearch()"
                                        class="btn btn-primary" type="submit">
                                        <i class="fas fa-backspace"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <!-- <form autocomplete="on">  NGHIÊM CẤM THÊM FROM VÀO GRID-->
                        <div class="panel panel-default pt-1">
                            <simple-ag-grid
                                [columnDefs]="defaultColDefs"
                                [paginationParams]="paginationParams"
                                [rowData]="rowData"
                                [defaultColDef]="defaultColDef"
                                (callBackEvent)="callBackDataGrid($event)"
                                (changePaginationParams)="changePage($event)"
                                (onChangeSelection)="onChangeRowSelection($event)"
                                [rowSelection]="rowSelection"
								[frameworkComponents]="frameworkComponents"
                            >
                            </simple-ag-grid>
                        </div>
                        <!-- <form autocomplete="on">  NGHIÊM CẤM THÊM FROM VÀO GRID-->
                        <hr>
                        <div class="text-right">
                            <button *ngIf="isGranted('Pages.Ckd.SMQD.SmqdOrder.CreateEdit')"
                            class="btn btn-primary font-weight-bold" (click)="createOrEditModalInvCkdSmqdOrder.show()">
                                <i class="fa fa-plus mr-1"></i>{{'Add'}}
                            </button>
                            <button *ngIf="isGranted('Pages.Ckd.SMQD.SmqdOrder.CreateEdit')"
                            class="btn btn-primary font-weight-bold" [disabled]="!selectedRow.id" (click)="createOrEditModalInvCkdSmqdOrder.show(selectedRow)">
                                <i class="far fa-edit mr-1"></i>{{'Edit'}}
                            </button>

                            <button *ngIf="isGranted('Pages.Ckd.SMQD.SmqdOrder.Import')"
                            class="btn btn-primary font-weight-bold" (click)="importExcelModal.show('0')">
                                <i class="fas fa-file-import"></i>{{ l('Import Normal Order Excel') }}
                            </button>
                            <button *ngIf="isGranted('Pages.Ckd.SMQD.SmqdOrder.Import')"
                            class="btn btn-primary font-weight-bold" (click)="importExcelModal.show('1')">
                                <i class="fas fa-file-import"></i>{{ l('Import Special Order Excel') }}
                            </button>
                            <button class="btn btn-success font-weight-bold" (click)="exportToExcel($event)">
                                <i class="fas fa-file-excel mr-1"></i>{{ l('Export Excel') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<create-or-edit-smqdorder-modal
#createOrEditModalInvCkdSmqdOrder
(modalSave)="callBackDataGrid(dataParams)"
(modalClose)="onChangeRowSelection(dataParams)">
</create-or-edit-smqdorder-modal>
<import-smqdorder-modal #importExcelModal ></import-smqdorder-modal>
