<div
    bsModal
    #createOrEditModalTrip="bs-modal"
    class="modal fade col-md-12"
    role="dialog"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{ 'Edit Trip' }}</h3>
                    <h3 *ngIf="!rowdata.id">{{ 'Create New Trip' }}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form
                #applyBpForm="ngForm"
                (ngSubmit)="save()"
                autocomplete="off"
                (keyup.ESC)="close()"
            >
                <!-- Form Basic-->
                <div class="form-input">
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Prod Line</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="ProdLine"
                            [(ngModel)]="rowdata.prodLine"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Delivery No</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="DeliveryNo"
                            [(ngModel)]="rowdata.deliveryNo"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Delivery Name</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="DeliveryName"
                            [(ngModel)]="rowdata.deliveryName"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Model</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="model"
                            [(ngModel)]="rowdata.model"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Trip Number</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="TripNumber"
                            [(ngModel)]="rowdata.tripNumber"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Dolly Name</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="DollyName"
                            [(ngModel)]="rowdata.dollyName"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Takt Time</label>
                        <input
                            type="number"
                            class="col-md-10 form-control input-text"
                            name="TaktTime"
                            [(ngModel)]="rowdata.taktTime"
                        />
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Is Active</label>
                        <new-checkbox [(ngModel)]="_isActive" name="isActive" className="col-md-10"> </new-checkbox>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
