<div class="container" style="min-width: 1280px;">
    <div class="HEADER">
        <div class="DONE_CAR">{{actPart}}/{{planPart}}</div>
        <div class="HEADER-TITLE">SUB-ASSY {{prodLine}}</div>
    </div>
    <div class="BODY_MAIN">
        <div class="TITLE">
            <div class="PARTTYPE">Loại part</div>
            <div class="CONTINUE"></div>
            <div class="JIG"></div>
            <div class="JIG">Sub-Assy</div>
            <div class="UP1">
                <img src="/assets/common/images/number2.png" style="width: 33%;" >
            </div>
            <div class="UP2">
                <img src="/assets/common/images/numbber1.png" style="width: 33%;">
            </div>
            <div class="RESHOOT">Thiếu</div>
            <div class="RESHOOT">Recoat</div>
        </div>

        <div class="CONTENT">
            <div class="PARTTYPE {{(_row.partTypeName).replace(' ','_')}} " *ngFor="let _row of dataPartTypeBumperIn">
                <div class="DATA_BUMPER_IN" style="display: flex;">
                    <div class="PART-TYPE">{{ _row.partTypeName }}</div>
                    <div class="UPK_{{item}} BP_UNPACK_{{indexOfelement}} CLEAN_STATUS" (click)="showPopupConfirmPart(_row.partTypeName,item,indexOfelement)" style="display:flex; flex-direction: column;"  *ngFor="let item of fornumbersRange(1,7,1);let indexOfelement=index;">
                        <div class="TOP_VALUE" ></div>
                        <div class="BOTTOM_VALUE"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="FOOTER">
        <div class="PROCESS_NAME">{{prodLine}} LINE</div>
        <div class="PROGRESS">
            <div id="ProgressBar"><div id="Actual">{{ reMain }}</div></div>

        </div>
    </div>
</div>

<div class="controlMessage">
    <span class="time_now_log"></span>
    <img class="_loading" src="/assets/common/images/Timer.gif" alt="">
</div>
<app-confirmpart-modal #popUpConfirm></app-confirmpart-modal>

