<div bsModal #addPartListModal="bs-modal" class="modal fade col-12" role="dialog" [config]="{ backdrop: 'static' }">
	<div class="modal-dialog tmss-modal-lg" style=" min-width: 92%;
	margin-left: 4%;
	margin-right: 4%;">
		<div class="modal-content col-12">
			<div class="modal-header col-12">
				<div class="title-form">
					<h3 *ngIf="!rowdata.partNo">{{('Create New Inhouse PartList')}}</h3>
					<h3 *ngIf="rowdata.partNo">{{('Clone New Inhouse PartList')}}</h3>
				</div>
			</div>
		</div>
		<div class="modal-content col-12">
			<div class="form-input">
				<div class='col-12 row'>
					<div class='col-4 form-group'>
						<label class='form-control title PartListTitle'>Part No</label>
                        <production-combobox [id]="'partNo'" [list]="partNoList" name="_partNo" [(ngModel)]="_partNo" [ngClass]="'minwidth0'"></production-combobox>
					</div>
					<div class='col-4 form-group'>
						<label class='form-control title PartListTitle'>Part Name</label>
						<input id="partName" type='text' class='col-10 form-control input-text' name='partName' [(ngModel)]='_partName' style='text-transform:uppercase'>
					</div>
					<div class='col-4 form-group'>
						<label class='form-control title PartListTitle'>Cfc</label>
						<tmss-combobox (change)="changeValue()" [items]="cbbCfcList" name="selectCfc" [id]="'cfc'"
							[(ngModel)]="_selectCfc" [ngClass]="'minwidth0'" *ngIf="!rowdata.partNo" (ngModelChange)="changeCfc($event)">
						</tmss-combobox>
						<input type='text' class='col-10 form-control input-text' name='_selectCfc' [(ngModel)]='_selectCfc' readonly *ngIf="rowdata.partNo">
					</div>
				</div>
                <div class='col-12 row'>
					<div class='col-4 form-group'>
						<label class='form-control title PartListTitle'>Material Code</label>
						<!-- <input id="materialCode" type='text' class='col-10 form-control input-text' name='materialCode' [(ngModel)]='_materialCode'> -->
                        <tmss-combobox [items]="listMaterial" name="materialCode" [id]="'materialCode'" (ngModelChange)="changeMaterial($event)"
							[(ngModel)]="_materialCode" [ngClass]="'minwidth0'">
						</tmss-combobox>
					</div>
					<div class='col-4 form-group'>
						<label class='form-control title PartListTitle'>Material Spec</label>
						<input id="materialSpec" type='text' class='col-10 form-control input-text' name='materialSpec' [(ngModel)]='_materialSpec' readonly>
					</div>
					<div class='col-4 form-group'>
						<label class='form-control title PartListTitle'>Supplier Type</label>
						<input id="supplierType" type='text' class='col-10 form-control input-text' name='supplierType' [(ngModel)]='_supplierType' readonly>
					</div>
				</div>
                <div class='col-12 row'>
					<div class='col-4 form-group'>
						<label class='form-control title PartListTitle'>Supplier Cd</label>
						<input id="supplierCd" type='text' class='col-10 form-control input-text' name='supplierCd' [(ngModel)]='_supplierCd' readonly>
					</div>
					<div class='col-4 form-group'>
						<label class='form-control title PartListTitle'>Sourcing</label>
						<input type='text' class='col-10 form-control input-text' name='sourcing' [(ngModel)]='_sourcing'>
					</div>
					<div class='col-4 form-group'>
						<label class='form-control title PartListTitle'>Cutting</label>
						<input type='text' class='col-10 form-control input-text' name='cutting' [(ngModel)]='_cutting'>
					</div>
				</div>
                <div class='col-12 row'>
					<div class='col-4 form-group'>
						<label class='form-control title PartListTitle'>Packing</label>
						<input id="packing" type='number' class='col-10 form-control input-text' name='packing' [(ngModel)]='_packing'>
					</div>
					<div class='col-4 form-group'>
						<label class='form-control title PartListTitle'>Sheet Weight</label>
						<input id="sheetWeight" type='text' class='col-10 form-control input-text' name='sheetWeight' [(ngModel)]='_sheetWeight'>
					</div>
					<div class='col-4 form-group'>
						<label class='form-control title PartListTitle'>Yiled Ration</label>
						<input id="yiledRation" type='text' class='col-10 form-control input-text' name='yiledRation' [(ngModel)]='_yiledRation'>
					</div>
				</div>
				<div class='col-12'>
					<div class="form-input">
						<div class="ui-g-12 ui-md-12">
							<grid-table
								[rowSelection]="rowSelection"
								[showPagination]="false"
								(callBackEvent)="callBackDataGrid1($event)"
								[paginationParams]="paginationGradeParams"
								[columnDefs]="partListColDef"
								[rowData]="gradeLists1"
								[defaultColDef]="defaultColDef"
								(onChangeSelection)="onChangeRowSelection($event)"
								[frameworkComponents]="frameworkComponents"
								[isSuppressRowClickSelection]="true"
                                (cellEditingStopped)="onCellValueChanged($event)"
								[height]="'25vh'"
								[heightAuto]="false">
							</grid-table>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-light-primary font-weight-bold" (click)="save()">
						<i class="fa tmss-fa fa-save mr-1"></i><span> {{ "Save" }} </span>
					</button>
					<button (click)="close()" type="button" class="btn btn-light-danger font-weight-bold">
						<i class="fa tmss-fa fa-times mr-1"></i><span> {{ l('Cancel') }}</span>
					</button>
				</div>
			</div>

		</div>
	</div>
</div>
