<div bsModal #createOrEditModalInvGpsDailyOrder="bs-modal" class="modal fade
    col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit InvGpsDailyOrder')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New InvGpsDailyOrder')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off"
                (keyup.enter)="save()" (keyup.ESC)="close()">
                <!-- Form Basic-->
                <div class="form-input">
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Working Date</label>
                        <input type='text' class='col-md-10 form-control
                            input-text' name='workingDate'
                            #datepickerWorkingDate='bsDatepicker' [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]='_workingDate ' bsDatepicker #d="bsDatepicker">
                            <i class="fa fa-calendar-alt" (click)="d.toggle()"></i>


                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Shift</label>
                        <input type='text' class='col-md-10 form-control
                            input-text' name='Shift'
                            [(ngModel)]='rowdata.shift'>
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Supplier Name</label>
                        <input type='text' class='col-md-10 form-control
                            input-text' name='SupplierName'
                            [(ngModel)]='rowdata.supplierName'>
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Supplier Code</label>
                        <input type='text' class='col-md-10 form-control
                            input-text' name='SupplierCode'
                            [(ngModel)]='rowdata.supplierCode'>
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Order No</label>
                        <input type='text' class='col-md-10 form-control
                            input-text' name='OrderNo'
                            [(ngModel)]='rowdata.orderNo'>
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Order
                            Datetime</label>
                        <input type='datetime-local' class='col-md-10 form-control
                            input-text' name='orderDatetime'
                            [(ngModel)]='_orderDatetime'>
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Trip No</label>
                        <input type='number' class='col-md-10 form-control
                            input-text' name='TripNo'
                            [(ngModel)]='rowdata.tripNo'>
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Truck No</label>
                        <input type='text' class='col-md-10 form-control
                            input-text' name='TruckNo'
                            [(ngModel)]='rowdata.truckNo'>
                    </div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Est Arrival
                            Datetime</label>

                        <input type='text' class='col-md-10 form-control
                            input-text' name='estArrivalDatetime'
                            #datepickerEstArrivalDatetime='bsDatepicker'  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]='_estArrivalDatetime'
                            bsDatepicker>

                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Truck
                            Unloading Id</label>
                        <input type='number' class='col-md-10 form-control
                            input-text' name='TruckUnloadingId'
                            [(ngModel)]='rowdata.truckUnloadingId'>
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Is Active</label>
                        <new-checkbox [(ngModel)]='_isActive' name='isActive'
                            className='col-md-10'> </new-checkbox>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary
                            font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn
                            btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
