<div bsModal #createOrEditModalPIOEmail="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
      <div class="modal-content col-md-12">
          <div class="modal-header col-md-12">
              <div class="title-form">
                  <h3 *ngIf="rowdata.id">{{('Edit PIOEmail')}}</h3>
                  <h3 *ngIf="!rowdata.id">{{('Create New PIOEmail')}}</h3>
              </div>
          </div>
      </div>
      <div class="modal-content col-md-12">
          <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
          <!-- Form Basic-->   
              <div class="form-input">                   
        <div class='col-md-12 form-group row'>
          <label style="border-radius: 0px !important" class='col-md-2 form-control title'>Subject</label>
          <input style="border-radius: 0px !important" type='text' class='col-md-10 form-control input-text' name='Subject' [(ngModel)]='rowdata.subject'>
        </div>
        <div class='col-md-12 form-group row'>
          <label style="border-radius: 0px !important" class='col-md-2 form-control title'>To</label>
          <input style="border-radius: 0px !important" type='text' class='col-md-10 form-control input-text' name='To' [(ngModel)]='rowdata.to'>
        </div>
        <div class='col-md-12 form-group row'>
          <label style="border-radius: 0px !important" class='col-md-2 form-control title'>Cc</label>
          <input style="border-radius: 0px !important" type='text' class='col-md-10 form-control input-text' name='Cc' [(ngModel)]='rowdata.cc'>
        </div>
        <div class='col-md-12 form-group row'>
          <label style="border-radius: 0px !important" class='col-md-2 form-control title'>Body Mess</label>
          <input style="border-radius: 0px !important" type='text' class='col-md-10 form-control input-text' name='BodyMess' [(ngModel)]='rowdata.bodyMess'>
        </div>
        <div class='col-md-12 form-group row'>
          <label style="border-radius: 0px !important" class='col-md-2 form-control title'>Supplier Cd</label>
          <input style="border-radius: 0px !important" type='text' class='col-md-10 form-control input-text' name='SupplierCd' [(ngModel)]='rowdata.supplierCd'>
        </div>
        <div class='col-md-12 form-group row'>
          <label style="border-radius: 0px !important" class='col-md-2 form-control title'>Is Active</label>
          <new-checkbox [(ngModel)]='_isActive' name='isActive' className='col-md-10' > </new-checkbox>
        </div>              
                  <div class="modal-footer">
                      <button type="submit" class="btn btn-primary font-weight-bold">
                          <i class="fa tmss-fa fa-save mr-1"></i>
                          <span>{{ l('Save') }}</span>
                      </button>
                      <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                          <i class="fa tmss-fa fa-times mr-1"></i>
                          {{ l('Cancel') }}
                      </button>
                  </div>
              </div>    
          </form>
      </div>
  </div>
</div>
