<div bsModal #createOrEditModalShippingScheduleDetailsFirm="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg" style=" min-width: 90%; margin-left: 5%; margin-right: 5%;">
        <div class="modal-content col-12">
            <div class="modal-header col-12">
                <div class="title-form">
                    <h3 *ngIf="!rowdata.id">{{('Add Shipment Details')}}</h3>
                    <h3 *ngIf="rowdata.id">{{('Edit Shipment Details')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-12">
            <ngx-tabs>
                <ngx-tab tabTitle="Base Infomation">
                    <div class="form-input">
                        <!-- <div class='row col-12' style="display: flex;" *ngFor="let chunk of chunks; let i = index">
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass" [ngClass]="colClass" *ngFor="let item of chunks[i]">
                                <label class=' form-control ChangeAssettitle'>{{ normalizeString(item) }}</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='MaterialCode' [(ngModel)]="rowdata[item]">
                            </div>
                        </div> -->



                        <div class='row col-12' style="display: flex;">
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Part No</label>

                                <input type='text' *ngIf="rowdata.id" class='form-control input-text ChangeAssetForm' name='partNo' [(ngModel)]="rowdata.partNo">

                                <production-combobox *ngIf="!rowdata.id" [list]="cbxPartList" name="_partNo" [id]="'partNo'"
                                    [(ngModel)]="rowdata.partNo" [ngClass]="minwidth0">
                                </production-combobox>
                            </div>

                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Order Lot</label>
                                <input type='number' class='form-control input-text ChangeAssetForm' name='orderLot' [(ngModel)]="rowdata.orderLot">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Schedule Qty</label>
                                <input type='number' class='form-control input-text ChangeAssetForm' name='scheduleQty' [(ngModel)]="rowdata.scheduleQty">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Packing Date</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='_packingDate' [(ngModel)]="_packingDate" #datepickerPackingDate='bsDatepicker'
                                [bsConfig]="{dateInputFormat: 'YYYYMMDD',isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right'}" bsDatepicker>
                                <i class="fa fa-calendar-alt col-md-1 form-control"
                                    (click)="datepickerPackingDate.toggle()"></i>
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Packing Month</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='_packingMonth' [(ngModel)]="_packingMonth" #datepickerPackingMonth='bsDatepicker'
                                [bsConfig]="{dateInputFormat: 'YYYYMM',isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right', minMode: 'month'}" bsDatepicker>
                                <i class="fa fa-calendar-alt col-md-1 form-control"
                                    (click)="datepickerPackingMonth.toggle()"></i>
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Shipping Month</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='_shippingMonth' [(ngModel)]="_shippingMonth" #datepickerShippingMonth='bsDatepicker'
                                [bsConfig]="{dateInputFormat: 'YYYYMM',isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right', minMode: 'month'}" bsDatepicker>
                                <i class="fa fa-calendar-alt col-md-1 form-control"
                                    (click)="datepickerShippingMonth.toggle()"></i>
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Vessel Etd1st</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='_vesselEtd1st' [(ngModel)]="_vesselEtd1st" #datepickerVesselEtd1st='bsDatepicker'
                                [bsConfig]="{dateInputFormat: 'YYYYMMDD',isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right'}" bsDatepicker>
                                <i class="fa fa-calendar-alt col-md-1 form-control"
                                    (click)="datepickerVesselEtd1st.toggle()"></i>
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Order Control No</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='orderControlNo' [(ngModel)]="rowdata.orderControlNo">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Container Size</label>
                                <input type='number' class='form-control input-text ChangeAssetForm' name='containerSize' [(ngModel)]="rowdata.containerSize">
                            </div>

                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Gross Weight Of Module</label>
                                <input type='number' class='form-control input-text ChangeAssetForm' name='grossWeightOfModule' [(ngModel)]="rowdata.grossWeightOfModule">
                            </div>

                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Module No</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='moduleNo' [(ngModel)]="rowdata.moduleNo">
                            </div>

                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Renban No</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='renbanNo' [(ngModel)]="rowdata.renbanNo">
                            </div>

                            <!-- add new here -->
                        </div>
                        <div class="modal-footer">
                            <button (click)="save()" type="submit" class="btn btn-primary font-weight-bold">
                                <i class="fa tmss-fa fa-save mr-1"></i>
                                <span>{{ l('Save') }}</span>
                            </button>
                            <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                                <i class="fa tmss-fa fa-times mr-1"></i>
                                {{ l('Cancel') }}
                            </button>
                        </div>
                    </div>

                </ngx-tab>
                <ngx-tab tabTitle="Others">
                    <div class="form-input">
                        <div class='row col-12' style="display: flex;">
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Segment</label>
                                <input type='text' class='form-control input-text ChangeAssetForm uppercase' name='segment' [(ngModel)]="rowdata.segment">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Seller</label>
                                <input type='text' class='form-control input-text ChangeAssetForm uppercase' name='seller' [(ngModel)]="rowdata.seller">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Buyer</label>
                                <input type='text' class='form-control input-text ChangeAssetForm uppercase' name='buyer' [(ngModel)]="rowdata.buyer">
                            </div>

                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Ekanban Flag</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='ekanbanFlag' [(ngModel)]="rowdata.ekanbanFlag">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Port Of Loading</label>
                                <input type='text' class='form-control input-text ChangeAssetForm uppercase' name='portOfLoading' [(ngModel)]="rowdata.portOfLoading">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Port Of Discharge</label>
                                <input type='text' class='form-control input-text ChangeAssetForm uppercase' name='portOfDischarge' [(ngModel)]="rowdata.portOfDischarge">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Vessel Name1st</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='vesselName1st' [(ngModel)]="rowdata.vesselName1st">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Vessel No1st</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='vesselNo1st' [(ngModel)]="rowdata.vesselNo1st">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Exporter Code</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='exporterCode' [(ngModel)]="rowdata.exporterCode">
                            </div>

                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Importer Code</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='importerCode' [(ngModel)]="rowdata.importerCode">
                            </div>

                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Car Family Code</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='carFamilyCode' [(ngModel)]="rowdata.carFamilyCode">
                            </div>

                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Model Code</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='modelCode' [(ngModel)]="rowdata.modelCode">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Lot No</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='lotNo' [(ngModel)]="rowdata.lotNo">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Case No</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='caseNo' [(ngModel)]="rowdata.caseNo">
                            </div>

                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Form D Renban</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='formDRenban' [(ngModel)]="rowdata.formDRenban">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>M3 Of Module</label>
                                <input type='number' class='form-control input-text ChangeAssetForm' name='m3OfModule' [(ngModel)]="rowdata.m3OfModule">
                            </div>

                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Re Export Code</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='reExportCode' [(ngModel)]="rowdata.reExportCode">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Ss No</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='ssNo' [(ngModel)]="rowdata.ssNo">
                            </div>

                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Lot Code</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='lotCode' [(ngModel)]="rowdata.lotCode">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Line Code</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='lineCode' [(ngModel)]="rowdata.lineCode">
                            </div>


                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Exterior Color Code</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='exteriorColorCode' [(ngModel)]="rowdata.exteriorColorCode">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Interior Color Code</label>
                                <input type='text' class='form-control input-text ChangeAssetForm' name='interiorColorCode' [(ngModel)]="rowdata.interiorColorCode">
                            </div>
                            <div class="form-group addAssetsDrmpartlistCol4 p-right" [ngClass]="colClass">
                                <label class=' form-control ChangeAssettitle'>Valuation Type From</label>
                                <input type='text' readonly class='form-control input-text ChangeAssetForm' name='valuationTypeFrom' [(ngModel)]="rowdata.valuationTypeFrom">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button (click)="save()" type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </ngx-tab>
              </ngx-tabs>
        </div>
    </div>
</div>

