<div bsModal #errorListModal="bs-modal" class="modal fade col-12" role="dialog" [config]="{ backdrop: 'static' }">
	<div class="modal-dialog tmss-modal-lg" style=" min-width: 92%;
	margin-left: 4%;
	margin-right: 4%;
    margin-bottom: 10%;">
		<div class="modal-content col-12">
			<div class="modal-header col-12">
				<div class="title-form">
					<h3 >{{('List Error Import')}}</h3>
				</div>
			</div>
		</div>
		<div class="modal-content col-12">

			<!-- Form Basic-->
			<div class="form-input">
				
				<div class='col-12'>
					<div class="form-input">
						<div class="ui-g-12 ui-md-12 PartListNew">
							<grid-table
								[rowSelection]="rowSelection"
								[showPagination]="false"
								[paginationParams]="paginationGradeParams"
								[columnDefs]="partListColDef"
								[rowData]="data"
								[defaultColDef]="defaultColDef"
								[frameworkComponents]="frameworkComponents"
								[isSuppressRowClickSelection]="true"
								[height]="'65vh'"
								[heightAuto]="false">
							</grid-table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
                    <button type="submit" class="btn btn-danger mr-1 position-relative" (click)="exportToExcel()" [disabled]="disable">
                        <i class="fa fa-file-download mr-1"></i> <span>Export List Error</span>
                        <div class="loader" [ngClass]="pending"></div>
                    </button>
					<button (click)="close()" type="button" class="btn btn-light-danger font-weight-bold">
						<i class="fa tmss-fa fa-times mr-1"></i><span> {{ l('Cancel') }}</span>
					</button>
				</div>
			</div>

		</div>
	</div>
</div>
