<div class="BIGPART">
    <div class="time_now_log"></div>
    <div class="TITLE"></div>
    <div class="CONTENT_TOP">
        <div class="PLINE"></div>
        <div class="NUMCAR">
            <div class="ACT"></div>
            <div class="PLAN"></div>
        </div>
        <div class="PROGRESS">
            <div id="progressBar"></div>
            <div id="PLAN" style="position: absolute; width: 50px">{{ reMain }}</div>
        </div>
    </div>
    <div id="screen-status"></div>
    <div class="CONTENT_BOTTOM_1E" id="Contend1E">
        <div class="ECAR"></div>
        <div class="FINISHED"></div>
        <div class="PROCESS">
            <div class="PK">
                <div class="PK_CT"></div>
                <div id="trianglePK_1E"></div>
            </div>
            <div id="triangleDEL_1E"></div>
            <div class="DEL">
                <div class="DEL_CT"></div>
            </div>
        </div>
    </div>
    <div class="CONTENT_BOTTOM_2E" id="Contend2E">
        <div class="CONTENT">
            <div class="E-NAME1"></div>
            <div class="FINISHEDPK"></div>
            <div class="PK_2E">
                <div id="trianglePK_2E"></div>
                <div class="PK_CT_2E"></div>
            </div>
        </div>
        <div class="CONTENT">
            <div class="E-NAME2"></div>
            <div class="FINISHEDDEL"></div>
            <div class="DEL_2E">
                <div id="triangleDEL_2E"></div>
                <div class="DEL_CT_2E"></div>
            </div>
        </div>
    </div>

</div>
