<div class="ALL">
    <div class="time_now_log"></div>
    <div class="TITLE"></div>
    <div class="BOX_CONTENT" >
        <div class="BOX1 col-2">
            <div class="BOX1_A1">
                <span class="area SIGN"></span>
                <span class="area PLAN"></span>
                <span class="title">TRIM</span>
            </div>
            <div class="BOX1_A2">DEL 1</div>
        </div>
        <div class="BOX2 col-10">
            <div class="BOX2_A1">
                <div id="progressBar"></div>
                <div id="reMain" style="position: absolute;">{{reMain}}</div>
            </div>
            <div class="BOX2_A2"></div>
            <div class="BOX2_A3"></div>
        </div>
        <div id="triangle-down"></div>
        <div id="triangle-down-delay"></div>
        <div id="screen-status"></div>
    </div>
</div>
