<div bsModal #createOrEditModalDemDetFees="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit DEM/DET fees')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New DEM/DET Fees')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
					<div class='col-md-12 form-group row'>
						<label class='col-md-3 form-control title ExpTitle'>Source</label>
                        <div class='input-search' style="width: calc(100% - 140px) !important;">
                            <tmss-combobox [items]="sourceList" name="_source" [id]="'source'"
                            [(ngModel)]="rowdata.source"></tmss-combobox>
                        </div>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-3 form-control title CarrierTitle'>Carrier</label>
                        <div class='input-search'style="
                        width: calc(100% - 140px) !important;">
                            <tmss-combobox [items]="carrierList" name="_carrieer" [id]="'carrier'"
                            [(ngModel)]="rowdata.carrier" ></tmss-combobox>
                        </div>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>ContType</label>
						<input type='number' min="1" step="1" class='col-md-10 form-control input-text' name='ContType' [(ngModel)]='rowdata.contType'>
					</div>

                    <!-- <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>No Of Day OVF</label>
						<input type='number' min="1" step="1" class='col-md-10 form-control input-text' name='NoOfDayOVF' [(ngModel)]='rowdata.noOfDayOVF'>
					</div> -->

                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Min Day</label>
						<input type='number' min="1" step="1" class='col-md-10 form-control input-text' name='MinDay' [(ngModel)]='rowdata.minDay'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Max Day</label>
						<input type='number' min="1" step="1" class='col-md-10 form-control input-text' name='MaxDay' [(ngModel)]='rowdata.maxDay'>

					</div>

                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>DEM fee</label>
						<input type='number' min="1" step="1" class='col-md-10 form-control input-text' name='DemFee' [(ngModel)]='rowdata.demFee'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>DET fee</label>
						<input type='number' min="1" step="1" class='col-md-10 form-control input-text' name='DetFee' [(ngModel)]='rowdata.detFee'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>DemAndDetFee</label>
						<input type='number' min="1" step="1" class='col-md-10 form-control input-text' name='DemAndDetFee' [(ngModel)]='rowdata.demAndDetFee'>
					</div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>EffectiveDateFrom</label>
                        <input type='text' class='col-md-10 form-control input-text' name='effectiveDateFrom'
                            #datepicker_f='bsDatepicker' [(ngModel)]='_effectiveDateFrom' bsDatepicker
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right' }">
                        <i class="fa fa-calendar-alt col-md-1 form-control" id="effectiveDateFrom"
                            (click)="datepicker_f.toggle()"></i>
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>EffectiveDateTo</label>
                        <input type='text' class='col-md-10 form-control input-text' name='effectiveDateTo'
                            #datepicker_t='bsDatepicker' [(ngModel)]='_effectiveDateTo' bsDatepicker
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right' }">
                        <i class="fa fa-calendar-alt col-md-1 form-control" id="effectiveDateTo"
                            (click)="datepicker_t.toggle()"></i>
                    </div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Is Active</label>
						<new-checkbox [(ngModel)]='_isActive' name='isActive' className='col-md-10' > </new-checkbox>
					</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
