
<div class="PTA">
    <div class="controlMessage">
        <span class="time_now_log"></span>
        <img class="_loading" src="/assets/common/images/Timer.gif" alt="">
    </div>
    <div class="PTA_Body">
            <!-- PK -->
            <div class="progress_line HeaderTop MODE_PK {{this.MODE}}">
                <div class="progress_line_warp">
                    <div class="title left">
                        <div class="title_column">
                            <div class="title_sub title_txt">CÔNG ĐOẠN</div>
                            <div class="title_sub title_val combobox"><div class="value">{{PICKING_MEMBER}} - {{PROD_LINE}}</div>
                                <div class="LISTCOMBO">
                                    <div class="memberItem" *ngFor="let item of this.PickingMember" title="{{item.id}}" (click)="CHANGE_MEMBER(item.userCode, item.prodLine)" >{{item.userCode}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="title_column">
                            <div class="title_sub title_txt">ITEM</div>
                            <div class="title_sub title_val WORK_ITEM">8/16</div>
                        </div>
                        <div class="title_column">
                            <div class="title_sub title_txt">CT COUNTDOWN</div>
                            <div class="title_sub title_val COUNT_DOWN">1689</div>
                        </div>
                    </div>
                    <div class="title right">

                        <!-- <div class="btnUi DEFAULT"><div class="btnUi_warp"><span>DEL</span></div></div> -->
                        <div class="btnUi" (click)="CHANGE_MODE('DEL')" ><span>DEL</span></div>
                        <div class="btnUi UNDO" (click)="UNDO()"><span>UNDO</span></div>
                        <div class="btnUi NEXT_C" (click)="NEXT_C()"><span>NEXT (C)</span></div>
                        <div class="btnUi CALL_LD"  (click)="CALL_LD()"><span>CALL LD</span><div class="flash_bg"></div></div>
                    </div>
                </div>
            </div>

            <div class="HeaderTitle MODE_PK {{this.MODE}}">
                <div class="progress_line_column GIA"><div class="val">GIÁ</div></div>
                <div class="progress_line_column BACKNO"><div class="val">BACKNO</div></div>
                <div class="progress_line_column"><div class="val">PHẢI NHẶT</div></div>
                <div class="progress_line_column"><div class="val">ĐÃ NHẶT</div></div>
                <div class="progress_line_column"><div class="val">ZERO KB</div></div>
                <div class="progress_line_column STOCK_UP_PC"><div class="val">STOCK<br>UP =&gt; PC</div></div>
            </div>
            <div class="Progress_Content MODE_PK {{this.MODE}} ">

                <!-- _pageIndex start 1 -->
                <div class="progress_page PAGE{{_pageIndex}} {{ ((_pageIndex==1)? 'ACTIVE':'') }}" title="{{_pageIndex}}"
                        *ngFor="let _pageIndex of dataPage()" >

                    <div class="progress_line ROW_NO{{_row}}" *ngFor="let _row of this.fn.fornumbers_next(this.numInPage,this.bindDataInPage(_pageIndex))">
                        <div class="progress_line_warp"   >
                            <div class="progress_line_column GIA"><div class="val"></div></div>
                            <div class="progress_line_column BACKNO"><div class="val"></div></div>
                            <div class="progress_line_column PHAINHAT"><div class="val"></div></div>
                            <div class="progress_line_column DA_NHAT"><div class="val"></div><div class="btnAdd" (click)="NUMBER_ADD(_row)"><img src="/assets/common/images/add.png"></div></div>
                            <div class="progress_line_column ZERO_KB"><div class="val"></div></div>
                            <div class="progress_line_column STOCK_UP_PC"><div class="val"></div></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="Bottom_Content MODE_PK {{this.MODE}}">
                <div class="btnUi PAGE_BACK" (click)="PAGE_BACK()"><span>BACK PAGE</span></div>
                <div class="btnUi PAGE_NEXT" (click)="PAGE_NEXT()"><span>NEXT PAGE</span></div>

            </div>

            <div class="clear"></div>
            <!-- DEL -->
            <div class="progress_line HeaderTop MODE_DEL {{this.MODE}}">
                <div class="progress_line_warp">
                    <div class="title left">
                        <div class="title_column">
                            <div class="title_sub title_txt">CÔNG ĐOẠN</div>
                            <div class="title_sub title_val combobox"><div class="value">{{PICKING_MEMBER}} - {{PROD_LINE}}</div>
                            <div class="LISTCOMBO">
                                <div class="memberItem" *ngFor="let item of this.PickingMember" title="{{item.id}}" (click)="CHANGE_MEMBER(item.userCode, item.prodLine)" >{{item.userCode}}</div>
                            </div>
                        </div>
                        </div>
                        <div class="title_column">
                            <div class="title_sub title_txt">ITEM</div>
                            <div class="title_sub title_val WORK_ITEM"></div>
                        </div>
                        <div class="title_column">
                            <div class="title_sub title_txt">CT COUNTDOWN</div>
                            <div class="title_sub title_val COUNT_DOWN">1689</div>
                        </div>
                    </div>
                    <div class="title right">

                        <div class="btnUi"  (click)="CHANGE_MODE('PK')"><span>PK</span></div>
                        <div class="btnUi UNDO" (click)="UNDO()"><span>UNDO</span></div>
                        <div class="btnUi NEXT_C" (click)="NEXT_C()"><span>NEXT (C)</span></div>
                        <div class="btnUi CALL_LD"  (click)="CALL_LD()"><span>CALL LD</span><div class="flash_bg"></div></div>

                    </div>
                 </div>
            </div>
            <div class="HeaderTitle MODE_DEL {{this.MODE}}">
                <div class="progress_line_column"><div class="val">GIÁ</div></div>
                <div class="progress_line_column BACKNO"><div class="val">BACKNO</div></div>
                <div class="progress_line_column SOLUONGPHAT"><div class="val">SỐ LƯỢNG PHÁT</div></div>
            </div>
            <div class="Progress_Content MODE_DEL {{this.MODE}}">
                <!-- _pageIndex start 1 -->
                <div class="progress_page PAGE{{_pageIndex}} {{ ((_pageIndex==1)? 'ACTIVE':'') }}" title="{{_pageIndex}}"
                        *ngFor="let _pageIndex of dataPage()" >

                    <div class="progress_line ROW_NO{{_row}}"
                        *ngFor="let _row of this.fn.fornumbers_next(this.numInPage,this.bindDataInPage(_pageIndex))"
                        (click)="FINISH_DEL_ITEM(_row)">
                        <div class="progress_line_warp " >
                            <div class="progress_line_column GIA"><div class="val"></div></div>
                            <div class="progress_line_column BACKNO"><div class="val"></div></div>
                            <div class="progress_line_column SOLUONGPHAT"><div class="val"></div>
                                <div class="btnAdd"><img src="/assets/common/images/add.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Bottom_Content MODE_DEL {{this.MODE}}">
                <div class="btnUi PAGE_BACK" (click)="PAGE_BACK()"><span>BACK PAGE</span></div>
                <div class="btnUi PAGE_NEXT" (click)="PAGE_NEXT()"><span>NEXT PAGE</span></div>
                <div class="btnUi FINISH_DEL" (click)="FINISH_DEL()"><span>FINISH</span></div>
            </div>
    </div>

    <div class="NUMBER">
        <div class="TEXT"><input type="text" class="INPUT_QTY"></div>
        <div class="NUMBER_BTN btnBackSpace"  (click)="NUMBER_BACKSPACE()"><img src="/assets/common/images/arrow-left.png" ></div>
        <div class="NUMBER_BTN btnOk" (click)="NUMBER_OK()"><span>OK</span></div>
        <div class="NUMBER_BTN btnCancel" (click)="NUMBER_CANCEL()"><span>CANCEL</span></div>
        <div class="clear"></div>
        <div class="boxNum" (click)="NumberSelect(7)">7</div>
        <div class="boxNum" (click)="NumberSelect(8)">8</div>
        <div class="boxNum" (click)="NumberSelect(9)">9</div> <br />
        <div class="boxNum" (click)="NumberSelect(4)">4</div>
        <div class="boxNum" (click)="NumberSelect(5)">5</div>
        <div class="boxNum" (click)="NumberSelect(6)">6</div> <br />
        <div class="boxNum" (click)="NumberSelect(1)">1</div>
        <div class="boxNum" (click)="NumberSelect(2)">2</div>
        <div class="boxNum" (click)="NumberSelect(3)">3</div>  <br />
        <div class="boxNum wx2" (click)="NumberSelect(0)">0</div>
    </div>

</div>
