<div
    appBsModal
    #importModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="importModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog tmss-modal-lg">
        <div
            class="modal-content"
            style="margin-top: 50%; height: 190px; border-radius: 10px; background-color: #a8d7ee"
        >
            <div class="modal-header redline-header">
                <h4 class="modal-title">
                    <span style="padding-left: 68px">{{ l('Import Cont DevanningLT') }}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="ui-md-12" style="display: flex; padding-left: 25%">
                    <div style="display: flex; justify-content: space-between">
                        <input
                            #imgInput
                            type="file"
                            class="d-none"
                            (change)="onUpload($event)"
                            accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                        />
                        <button class="btn btn-outline-info" type="button" style="margin-top: 1px" (click)="refresh()">
                            <i class="fa fa-file-upload mr-1"></i>
                            <span>{{ 'Chọn file' }}</span>
                        </button>

                        <button
                            type="button"
                            class="btn btn-outline-warning bi bi-download"
                            style="margin-top: 1px"
                            onclick="document.getElementById('linkSellDealerPlanExample').click()"
                        >
                            <i class="fa fa-file-download mr-1"></i>Tải mẫu Import
                            <a
                                id="linkSellDealerPlanExample"
                                hidden
                                href="/assets/sampleFiles/ImportContDevanningLT_Template.xlsx"
                            ></a>
                        </button>
                    </div>
                </div>
                <div
                    style="width: 100%; height: 30px; padding-top: 15px; text-align: center"
                    id="viewNameFileImport"
                ></div>
                <div class="text-right mt-1" style="margin-top: 15px !important">
                    <button
                        type="submit"
                        style="margin-right: 10px"
                        class="btn btn-success"
                        (click)="upload()"

                    >
                        <i class="fa fa-upload mr-1"></i> <span>{{ l('Tải lên') }}</span>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="close()">
                        <i class="fa fa-times mr-1"></i>{{ l('Đóng') }}
                    </button>
                    <div id="loader-line"></div>
                </div>
            </div>
        </div>
    </div>
</div>
