<div bsModal #createOrEditModalStockReceiving="bs-modal" class="modal fade col-md-12" role="dialog"
    [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit Receiving')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New Receiving')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()"
                (keyup.ESC)="close()">
                <!-- Form Basic-->
                <div class="form-input">
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Po No</label>
                        <input type='text' class='col-md-10 form-control input-text' name='PoNo'
                            [(ngModel)]='rowdata.poNo'>
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Part No</label>
                        <input type='text' class='col-md-10 form-control input-text' name='PartNo'
                            [(ngModel)]='rowdata.partNo'>
                    </div>
                    <!-- <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Part Name</label>
                        <input type='text' class='col-md-10 form-control input-text' name='PartName'
                            [(ngModel)]='rowdata.partName'>
                    </div> -->
                    <!-- <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Uom</label>
                        <input type='text' class='col-md-10 form-control input-text' name='Uom'
                            [(ngModel)]='rowdata.uom'>
                    </div>            -->
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>BoxQty</label>
                        <input type='text' class='col-md-10 form-control input-text' name='boxQty'
                            [(ngModel)]='rowdata.boxqty' (ngModelChange)="changeBoxQty($event)"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');">
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Box</label>
                        <input type='text' class='col-md-10 form-control input-text' name='box'
                            [(ngModel)]='rowdata.box' (ngModelChange)="changeBox($event)"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');">
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Qty</label>
                        <input type='text' class='col-md-10 form-control input-text' name='qty'
                            [(ngModel)]='rowdata.qty' readonly>
                    </div>

                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Lot No</label>
                        <input type='text' class='col-md-10 form-control input-text' name='LotNo'
                            [(ngModel)]='rowdata.lotNo'>
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Prod Date</label>
                        <input type='text' class='col-md-10 form-control input-text' name='prodDate'
                            #datepicker_p='bsDatepicker' [(ngModel)]='_prodDate' bsDatepicker
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right' }">
                        <i class="fa fa-calendar-alt col-md-1 form-control" id="proddate"
                            (click)="datepicker_p.toggle()"></i>
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Exp Date</label>
                        <input type='text' class='col-md-10 form-control input-text' name='expDate'
                            #datepicker_e='bsDatepicker' [(ngModel)]='_expDate' bsDatepicker
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right' }">
                        <i class="fa fa-calendar-alt col-md-1 form-control" id="expdate"
                            (click)="datepicker_e.toggle()"></i>
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Received Date</label>
                        <input type='text' class='col-md-10 form-control input-text' name='receivedDate'
                            #datepicker_r='bsDatepicker' [(ngModel)]='_receivedDate' bsDatepicker
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right' }">
                        <i class="fa fa-calendar-alt col-md-1 form-control" id="receiveddate"
                            (click)="datepicker_r.toggle()"></i>
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Supplier</label>
                        <input type='text' class='col-md-10 form-control input-text' name='Supplier'
                            [(ngModel)]='rowdata.supplier'>
                    </div>
                    <div class='col-md-12 form-group row'>
                        <label class='col-md-2 form-control title'>Dock</label>
                        <input type='text' class='col-md-10 form-control input-text' name='Dock'
                            [(ngModel)]='rowdata.dock'>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
