<div class="nextedin">
    <div class="body">
        <!-- header -->
        <div class="title-header">NEXT ED IN</div>
        <!-- container -->
        <div class="scanlocation">
            <div class="scanlocation-title">Location</div>
            <div class="scanlocation-value">{{ scanLocation }}</div>
        </div>
        <div class="bodyno" id="next_ed_in_bodyno">
            <div class="bodyno-title">Body</div>
            <div class="bodyno-value">{{ bodyNo }}</div>
        </div>
    </div>
</div>
