<ag-grid-angular
    #agGrid
    style="width: 100%; height: 100%;"
    [ngStyle]="style"
    class="ag-theme-alpine heightAuto{{ heightAuto }}"
    [ngClass]="className ? className : wrapText ? 'grid-wrap-text' : ''"
    [modules]="modules"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="pagination"
    [rowData]="rowData"
    (gridReady)="onGridReady($event)"
    (selectionChanged)="onSelectionChanged($event)"
    (rowClicked)="onRowClicked($event)"
    (cellValueChanged)="onCellValueChanged($event)"
    (cellEditingStopped)="onCellEditingStopped($event)"
    (cellEditingStarted)="onCellEditingStarted($event)"
    (cellKeyPress)="onCellKeyPress($event)"
    (cellDoubleClicked)="cellDoubleClickedEvent($event)"
    (keydown)="onKeyDown($event)"

    (rowDragEnd)="onRowDragEnd($event)"
    (rowSelected)="onRowSelected($event)"
    (filterChanged)="onRowSelected($event)"

    [tabToNextCell]="tabToNextCell"
    [processCellForClipboard]="processCellForClipboard"
    [suppressCopyRowsToClipboard]="true"
    [getRowStyle]="getRowStyle"
    [rowHeight]="rowHeight"

    [singleClickEdit]="singleClickEdit"
    [gridOptions]="gridOptions"

    [enableRangeSelection]="true"
    [suppressPropertyNamesCheck]="true"
    [rowSelection]="rowSelection"
    [animateRows]="animateRows"
    [ensureDomOrder]="true"
    [floatingFilter]="enableFilter"
    [debounceVerticalScrollbar]="true"
    [navigateToNextCell]="navigateToNextCell"
    [frameworkComponents]="frameworkComponents"
    [suppressRowClickSelection]="isSuppressRowClickSelection"
    [stopEditingWhenGridLosesFocus]="true"
    [detailRowHeight]="detailRowHeight"
    [masterDetail]="masterDetail"
    [detailCellRendererParams]="detailCellRendererParams"
    [sideBar]="sideBar"
    [pivotMode]="pivotMode"
    [getContextMenuItems]="getContextMenuItems"

    [pinnedBottomRowData]="pinnedBottomRowData"
    [stopEditingWhenCellsLoseFocus]="true"
    [alwaysShowVerticalScroll]="false"
    [rowDragManaged]="true"
    [groupSelectsChildren]="rowSelection === 'multiple'"
    [rowModelType]="'clientSide'"
    [rowBuffer]="0"
    [groupUseEntireRow]="groupUseEntireRow"
    [suppressMoveWhenRowDragging]="false"
    [suppressPaginationPanel]="true"
    [suppressLastEmptyLineOnPaste]="isSuppressLastEmptyLineOnPaste"
    [rowMultiSelectWithClick]="rowMultiSelectWithClick"

    [groupMultiAutoColumn]="groupMultiAutoColumn"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [groupDefaultExpanded]="groupDefaultExpanded"
    [groupIncludeFooter]="groupIncludeFooter"
    [groupIncludeTotalFooter]="groupIncludeTotalFooter"
    [showOpenedGroup]="showOpenedGroup"

    >
</ag-grid-angular>
<grid-pagination *ngIf="showPagination"
    [pageSize]="paginationParams?.pageSize"
    [paginationParams]="paginationParams"
    (pageChangedEvent)="changePage($event)"
    [textPagination]="textPagination"
    [allowToGetMultiRecords]="allowToGetMultiRecords">
</grid-pagination>
