<div bsModal #createOrEditModalCallingLightStatus="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit CallingLightStatus')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New CallingLightStatus')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Code</label>
						<input type='text' class='col-md-10 form-control input-text' name='Code' [(ngModel)]='rowdata.code'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Light Name</label>
						<input type='text' class='col-md-10 form-control input-text' name='LightName' [(ngModel)]='rowdata.lightName'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Prod Line</label>
						<input type='text' class='col-md-10 form-control input-text' name='ProdLine' [(ngModel)]='rowdata.prodLine'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Process</label>
						<input type='text' class='col-md-10 form-control input-text' name='Process' [(ngModel)]='rowdata.process'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Block Code</label>
						<input type='text' class='col-md-10 form-control input-text' name='BlockCode' [(ngModel)]='rowdata.blockCode'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Block Description</label>
						<input type='text' class='col-md-10 form-control input-text' name='BlockDescription' [(ngModel)]='rowdata.blockDescription'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Sorting</label>
						<input type='text' class='col-md-10 form-control input-text' name='Sorting' [(ngModel)]='rowdata.sorting'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Signal Id</label>
						<input type='number' class='col-md-10 form-control input-text' name='SignalId' [(ngModel)]='rowdata.signalId'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Signal Code</label>
						<input type='text' class='col-md-10 form-control input-text' name='SignalCode' [(ngModel)]='rowdata.signalCode'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Start Date</label>
                        <input
                        type="text"
                        class="col-md-10 form-control input-text"
                        name="startDate"
                        #datepickerstartDate="bsDatepicker"
                        [(ngModel)]="rowdata.startDate"  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                        bsDatepicker
                    />
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Finsh Date</label>
                        <input
                        type="text"
                        class="col-md-10 form-control input-text"
                        name="finshDate"
                        #datepickerfinshDate="bsDatepicker"  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                        [(ngModel)]="rowdata.finshDate"
                        bsDatepicker
                    />
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Status</label>
						<input type='text' class='col-md-10 form-control input-text' name='Status' [(ngModel)]='rowdata.status'>
					</div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Working Date</label>
                        <input
                            type="text"
                            class="col-md-10 form-control input-text"
                            name="workingDate"
                            #datepickerworkingDate="bsDatepicker"  [bsConfig]="{  isAnimated: true, dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right',     }"
                            [(ngModel)]="rowdata.workingDate"
                            bsDatepicker
                        />
                    </div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Shift</label>
						<input type='text' class='col-md-10 form-control input-text' name='Sorting' [(ngModel)]='rowdata.shift'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>NoInDate</label>
						<input type='number' class='col-md-10 form-control input-text' name='NoInDate' [(ngModel)]='rowdata.noInDate'>
					</div>
                    <div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>NoInShift</label>
						<input type='number' class='col-md-10 form-control input-text' name='NoInShift' [(ngModel)]='rowdata.noInShift'>
					</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
