<div bsModal #editPartGradeOffModal="bs-modal" class="modal fade col-12" role="dialog"
	[config]="{ backdrop: 'static' }">
	<div class="modal-dialog modal-lg">
		<div class="modal-content col-12">
			<div class="modal-header col-12">
				<div class="title-form">
					<h3>{{('Edit Part Grade Offline')}}</h3>
				</div>
			</div>
		</div>
		<div class="modal-content col-12">

			<!-- Form Basic-->
			<div class="form-input">
				<div class='col-12 row'>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Part No</label>
						<input type='text' class='col-10 form-control input-text' name='partNo'
							[(ngModel)]='rowdata.partNo' readonly>
					</div>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Model</label>
						<input type='text' class='col-10 form-control input-text' name='model'
							[(ngModel)]='rowdata.model' readonly>
					</div>
				</div>
                <div class='col-12 row'>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Part Name</label>
						<input type='text' class='col-10 form-control input-text' name='partname'
							[(ngModel)]='rowdata.partName' readonly>

					</div>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Cfc</label>
						<input type='text' class='col-10 form-control input-text' name='cfc'
							[(ngModel)]='rowdata.cfc' readonly>
					</div>
				</div>
				<div class='col-12 row'>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Grade</label>
						<input type='text' class='col-10 form-control input-text' name='grade'
							[(ngModel)]='rowdata.grade' readonly>
						<!-- <tmss-combobox [items]="cbbGradeList" name="grade" readonly
							[(ngModel)]="_grade" [id]="'grade'"></tmss-combobox> -->
					</div>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Usage Qty</label>
                        <!-- <input type='number' class='col-10 form-control input-text' name='usageQty'
							[(ngModel)]='rowdata.usageQty' (focusout)="validateUsageQty($event)" min = "1"> -->
						<input id="usageQty" type='text' class='col-10 form-control input-text' name='usageQty' [(ngModel)]='_usageQty'
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');"
                             (ngModelChange)="checkValUsageQty($event)">
					</div>
				</div>
				<div class='col-12 row'>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Shop</label>
                        <!-- <tmss-combobox [items]="shopList" name="shop" [(ngModel)]="rowdata.shop"></tmss-combobox> -->
						<tmss-combobox [items]="shopList" name="shop" [(ngModel)]="_shop" [id]="'shop'"></tmss-combobox>
					</div>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Body Color</label>
						<div class="multi-select-dropdown">
							<p-multiSelect [style]="{'width': '100%','height': '25px','align-items': 'center'}"
								[ngClass]="'multi-select-control'" [options]="cbbcolorList"
								(ngModelChange)="onChangeDlrSelect($event)" [(ngModel)]="bodyColorArray" [placeholder]="bodyColorArray">
							</p-multiSelect>
						</div>
					</div>
				</div>
				<div class='col-12 row'>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Start Lot</label>
                        <label class='mt-1 eciclass'>{{_grade}}&ensp;─&ensp;</label>
						<input type='text' class='form-control input-text' name='startLot' id="startLot"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');"
							[(ngModel)]='_startLot' (ngModelChange)="validateStartLot($event)" maxlength="4">
					</div>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>End Lot</label>
                        <label class='mt-1 eciclass'>{{_grade}}&ensp;─&ensp;</label>
						<input type='text' class='form-control input-text' name='endLot' id="endLot"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');"
							[(ngModel)]='_endLot' (ngModelChange)="validateEndLot($event)" maxlength="4">
					</div>
				</div>
				<div class='col-12 row'>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Start Run</label>
						<input type='text' class='col-10 form-control input-text' name='startRun' id="startRun"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');"
							[(ngModel)]='_startRun' (ngModelChange)="validateStartRun($event)" maxlength="2"
                            (click)="checkStartLot()">
					</div>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>End Run</label>
						<input type='text' class='col-10 form-control input-text' name='endRun' id="endRun"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');"
							[(ngModel)]='_endRun' (ngModelChange)="validateEndRun($event)" maxlength="2"
                            (click)="checkEndLot()">
					</div>
				</div>
				<div class='col-12 row'>
					<div class='col-6 form-group position-relative'>
						<label class='col-2 form-control title'>Ef From Part</label>
						<input type="text" [(ngModel)]="_efFromPart" name="efFromPart" id="efFromPart"
							class="form-control position-relative time-form" bsDatepicker #datepickerFrom="bsDatepicker"
							[bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right'}"
							placement="bottom left" />
                            <i class='fa fa-calendar-alt position-absolute end-10' (click)='datepickerFrom.toggle()'></i>
					</div>
					<div class='col-6 form-group position-relative'>
						<label class='col-2 form-control title'>Ef To Part</label>
						<input type="text" [(ngModel)]="_efToPart" name="efToPart"
							class="form-control position-relative " bsDatepicker #datepickerTo="bsDatepicker"
							[bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,isAnimated: true, selectFromOtherMonth:true, showClearButton: true, showTodayButton: true, todayPosition:'right'}"
							placement="bottom left" />
                            <i class='fa fa-calendar-alt position-absolute end-0' (click)='datepickerTo.toggle()'></i>

					</div>
				</div>
				<div class='col-12 row'>
                    <div class='col-6 form-group'>
						<label class='col-2 form-control title'>Order Partern</label>
						<input type='text'  class='col-10 form-control input-text' name='remark'
							[(ngModel)]='_orderPattern' readonly>
					</div>
					<div class='col-6 form-group'>
						<label class='col-2 form-control title'>Remark</label>
						<input type='text' class='col-10 form-control input-text' name='remark'
							[(ngModel)]='_remark'>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-light-primary font-weight-bold" (click)="save()">
						<i class="fa tmss-fa fa-save mr-1"></i><span> {{ "Save" }} </span>
					</button>
					<button (click)="close()" type="button" class="btn btn-light-danger font-weight-bold">
						<i class="fa tmss-fa fa-times mr-1"></i><span> {{ l('Cancel') }}</span>
					</button>
				</div>
			</div>

		</div>
	</div>
</div>
