<div
    appBsModal
    #errorListModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog tmss-modal-lg">
        <div class="modal-content error">
            <div class="modal-header redline-header">
                <h4 class="modal-title">
                    <span>List Error Import</span><br>
                    <h6>please check and import again</h6>
                </h4>
                <button type="button" class="btn btn-danger" (click)="close()" >
                    <span class="close">x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="outer">
                    <table class="table table-hover bg-light">
                        <tr>
                            <th>No</th>
                            <th>Model Code</th>
                            <th>Prod Line</th>
                            <th>Grade</th>
                            <th>Start Lot</th>
                            <th>Start Run</th>
                            <th>Start Process Date</th>
                            <th>End Lot</th>
                            <th>End Run</th>
                            <th>End Process Date</th>
                            <th>Messages Error</th>
                        </tr>
                        <tr *ngFor="let _i of data">
                            <td>{{ _i.roW_NO }}</td>
                            <td>{{ _i.modelCode }}</td>
                            <td>{{ _i.prodLine }}</td>
                            <td>{{ _i.grade }}</td>
                            <td [ngClass] = "checkerror(_i.startLot)">{{ _i.startLot }}</td>
                            <td [ngClass] = "checkerror(_i.startRun)">{{ _i.startRun }}</td>
                            <td>{{ _i.startProcessDate | date:'dd/MM/yyyy'}}</td>
                            <td [ngClass] = "checkerror(_i.endLot)">{{ _i.endLot }}</td>
                            <td [ngClass] = "checkerror(_i.endRun)">{{ _i.endRun }}</td>
                            <td>{{ _i.endProcessDate | date:'dd/MM/yyyy' }}</td>
                            <td>{{ _i.errorDescription }}</td>
                        </tr>
                    </table>
                </div>
                <div class="btn-export">
                    <button type="submit" style="margin-right: 10px" class="btn btn-danger" (click)="exportToExcel()" [disabled]="disable">
                        <i class="fa fa-file-download mr-1"></i> <span>Export List Error</span>
                        <div class="loader" [ngClass]="pending"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
