<div class="PTA">
    <div class="PTA_PROCESS_Content">
        <div class="a0">
            <span class="TITLE">SMALL SUB-ASSY A1</span>
        </div>
        <div class="a1">
            <div class="p1">
                <div class="PROCESS"></div>
                <div class="MODEL0">
                    <div class="GRADE"></div>
                    <div class="COLOR"></div>
                    <div class="BODY_NO"></div>
                    <div class="SEQ" style="border-bottom: 1px solid #333;"></div>
                </div>
            </div>
            <div class="p1">
                <div class="p2">
                <div class="PROCESS"></div>
                <div class="MODEL1">
                    <div class="GRADE"></div>
                    <div class="COLOR"></div>
                    <div class="BODY_NO"></div>
                    <div class="SEQ" style="border-bottom: 1px solid #333;"
                    ></div>
                </div>
            </div>
            </div>
            <div class="p1">

                <div class="PROCESS"></div>
                <div class="MODEL2">
                    <div class="GRADE"></div>
                    <div class="COLOR"></div>
                    <div class="BODY_NO"></div>
                    <div class="SEQ" style="border-bottom: 1px solid #333;"></div>
                </div>

            </div>
            <div class="p1">
                 <div class="p4">
                <div class="PROCESS"></div>
                <div class="MODEL3">
                    <div class="GRADE"></div>
                    <div class="COLOR"></div>
                    <div class="BODY_NO"></div>
                    <div class="SEQ" style="border-bottom: 1px solid #333;"></div>
                </div>
            </div>
            </div>
            <div class="p1">

                <div class="PROCESS"></div>
                <div class="MODEL4">
                    <div class="GRADE"></div>
                    <div class="COLOR"></div>
                    <div class="BODY_NO"></div>
                    <div class="SEQ" style="border-bottom: 1px solid #333;"></div>
                </div>

            </div>
            <div class="p1">
                <div class="p6">
                <div class="PROCESS"></div>
                <div class="MODEL5">
                    <div class="GRADE"></div>
                    <div class="COLOR"></div>
                    <div class="BODY_NO"></div>
                    <div class="SEQ" style="border-bottom: 1px solid #333;"></div>
                </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
        <div class="a2">
            <span class="TITLE">SMALL SUB-ASSY A2</span>
        </div>
        <div class="a3">
            <div class="p1">
                    <div class="PROCESS"></div>
                <div class="MODEL0">
                    <div class="GRADE"></div>
                    <div class="COLOR"></div>
                    <div class="BODY_NO"></div>
                    <div class="SEQ" ></div>
                </div>
            </div>
            <div class="p1">
                <div class="p2">
                    <div class="PROCESS"></div>
                <div class="MODEL1">
                    <div class="GRADE"></div>
                    <div class="COLOR"></div>
                    <div class="BODY_NO"></div>
                    <div class="SEQ" style="border-bottom: 3px solid #333;"></div>
                </div>
            </div>
            </div>
            <div class="p1">
                    <div class="PROCESS"></div>
                <div class="MODEL2">
                    <div class="GRADE"></div>
                    <div class="COLOR"></div>
                    <div class="BODY_NO"></div>
                    <div class="SEQ" style="border-bottom: 3px solid #333;"></div>
                </div>
            </div>
            <div class="p1">
                <div class="p4">
                  <div class="PROCESS"></div>
                <div class="MODEL3">
                    <div class="GRADE"></div>
                    <div class="COLOR"></div>
                    <div class="BODY_NO"></div>
                    <div class="SEQ" style="border-bottom: 3px solid #333;"></div>
                </div>
            </div>
            </div>
            <div class="p1">
                    <div class="PROCESS"></div>
                <div class="MODEL4">
                    <div class="GRADE"></div>
                    <div class="COLOR"></div>
                    <div class="BODY_NO"></div>
                    <div class="SEQ" style="border-bottom: 3px solid #333;"></div>
                </div>
            </div>
            <div class="p1">
                <div class="p6">
                 <div class="PROCESS"></div>
                <div class="MODEL5">
                    <div class="GRADE"></div>
                    <div class="COLOR"></div>
                    <div class="BODY_NO"></div>
                    <div class="SEQ" style="border-bottom: 3px solid #333;"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
