<div bsModal #createOrEditModalStock="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit Stock')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New Stock')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Part No</label>
						<input type='text' class='col-md-10 form-control input-text' name='PartNo' [(ngModel)]='rowdata.partNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Part Name</label>
						<input type='text' class='col-md-10 form-control input-text' name='PartName' [(ngModel)]='rowdata.partName'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Supplier No</label>
						<input type='text' class='col-md-10 form-control input-text' name='SupplierNo' [(ngModel)]='rowdata.supplierNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Back No</label>
						<input type='text' class='col-md-10 form-control input-text' name='BackNo' [(ngModel)]='rowdata.backNo'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Pc Rack Address</label>
						<input type='text' class='col-md-10 form-control input-text' name='PcRackAddress' [(ngModel)]='rowdata.pcRackAddress'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Usage Per Hour</label>
						<input type='number' class='col-md-10 form-control input-text' name='UsagePerHour' [(ngModel)]='rowdata.usagePerHour'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Rack Cap Box</label>
						<input type='number' class='col-md-10 form-control input-text' name='RackCapBox' [(ngModel)]='rowdata.rackCapBox'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Out Type</label>
						<input type='text' class='col-md-10 form-control input-text' name='OutType' [(ngModel)]='rowdata.outType'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Stock Qty</label>
						<input type='number' class='col-md-10 form-control input-text' name='StockQty' [(ngModel)]='rowdata.stockQty'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Box Qty</label>
						<input type='number' class='col-md-10 form-control input-text' name='BoxQty' [(ngModel)]='rowdata.boxQty'>
					</div>
                    <div class="col-md-12 form-group row">
                        <label class="col-md-2 form-control title">Is Active</label>
                        <new-checkbox
                            [(ngModel)]="isActive"
                            name="isActive"
                            className="col-md-10">
                        </new-checkbox>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
